.number-list {
  font-size: 18px;
  display: flex;
  background-color: rgba(117, 134, 224, 0.05);
  margin: 10px 0px;
  padding: 20px;

  &>div {
    width: 20%;
  }

  .title {
    margin-bottom: 8px;
  }

  .value {
    font-size: 40px;
  }

  .operational {
    cursor: pointer;

    &:hover {
      color: #6997ff;
    }
  }
}
