.audit-list-station-garbage-manager-command {

  color: #cfd7ff;

  &-head {
    margin-bottom: 10px;
  }

  &-body {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    .form {
      &-group {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 10px;

        &s {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 420px;

          &>* {
            flex-grow: 1;
          }
        }
      }


    }
  }

}
