.audit-statistic-card {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 72, 165, 0.2);
  border: 1px rgba(117, 134, 224, 0.4) solid;
  padding: 10px;
  box-sizing: border-box;

  &-inner {
    width: 100%;
    height: 100%;
  }
}
