<div class="garbage-vehicle-operate">
  <div class="garbage-vehicle-operate-header hw-simple-title">清运车信息</div>
  <div class="garbage-vehicle-operate-content" *ngIf="!!source">
    <div class="garbage-vehicle-operate-content-form">
      <div class="garbage-vehicle-operate-content-form-item full">
        <div
          class="garbage-vehicle-operate-content-form-item-title hw-form-label"
        >
          <span>名称</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <input type="text" [(ngModel)]="source.Name" />
        </div>
      </div>
      <div class="garbage-vehicle-operate-content-form-item">
        <div
          class="garbage-vehicle-operate-content-form-item-title hw-form-label"
        >
          <span>车牌号码</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <input type="text" [(ngModel)]="source.PlateNo" />
        </div>
      </div>
      <div class="garbage-vehicle-operate-content-form-item">
        <div
          class="garbage-vehicle-operate-content-form-item-title hw-form-label"
        >
          <span>类型</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <collection-vehicle-type-select
            [(selected)]="source.VehicleType"
          ></collection-vehicle-type-select>
        </div>
      </div>
      <div class="garbage-vehicle-operate-content-form-item">
        <div
          class="garbage-vehicle-operate-content-form-item-title hw-form-label"
        >
          <span>编号</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <input
            type="number"
            (touchSpinChange)="onNoChanged($event)"
            appTouchSpin
            [(ngModel)]="source.No"
          />
        </div>
      </div>
      <div class="garbage-vehicle-operate-content-form-item">
        <div
          class="garbage-vehicle-operate-content-form-item-title hw-form-label"
        >
          <span>IMEI</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <input type="text" [(ngModel)]="source.IMEI" />
        </div>
      </div>
      <div class="garbage-vehicle-operate-content-form-item">
        <div
          class="garbage-vehicle-operate-content-form-item-title hw-form-label"
        >
          <span>心跳间隔</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <input
            type="number"
            (touchSpinChange)="onHeartbeatIntervalChanged($event)"
            appTouchSpin
            [(ngModel)]="source.HeartbeatInterval"
          />
        </div>
      </div>
      <div class="garbage-vehicle-operate-content-form-item">
        <div
          class="garbage-vehicle-operate-content-form-item-title hw-form-label"
        >
          <span>自动关闭</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <input
            type="number"
            (touchSpinChange)="onShutdownSecondsChanged($event)"
            [options]="{
              min: 600,
              max: 14400,
              verticalbuttons: true
            }"
            appTouchSpin
            [(ngModel)]="source.ShutdownSeconds"
          />
        </div>
      </div>
      <div class="garbage-vehicle-operate-content-form-item full">
        <div
          class="garbage-vehicle-operate-content-form-item-title hw-form-label"
        >
          备注
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <textarea [(ngModel)]="source.Description"></textarea>
        </div>
      </div>
      <!-- <div class="garbage-vehicle-operate-content-form-item">
        <div class="garbage-vehicle-operate-content-form-item-title">
          <span>描述信息</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value">
          <input type="text" [(ngModel)]="source.Description" />
        </div>
      </div> -->

      <!-- <div class="garbage-vehicle-operate-content-form-item full chip">
        <div class="garbage-vehicle-operate-content-form-item-title chip">
          <span>摄像机</span>
        </div>
        <div class="garbage-vehicle-operate-content-form-item-value chip">
          <mat-chip-list class="mat-chip-list" #chipList>
            <span *ngIf="!source.Cameras || source.Cameras.length == 0"
              >请选择</span
            >
            <mat-chip
              *ngFor="let item of source.Cameras"
              (removed)="remove(item)"
            >
              <div class="mat-chip-name">{{ item.Name }}</div>

              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div> -->
    </div>

    <!-- <div class="garbage-vehicle-operate-content-table">
      <div class="garbage-vehicle-operate-content-table-header">
        <div class="hw-simple-title">选择摄像机</div>
        <div class="operation">
          <span>搜索</span>
          <howell-simple-search
            (searchEvent)="onsearch($event)"
          ></howell-simple-search>
        </div>
      </div>
      <div class="garbage-vehicle-operate-content-table-content">
        <garbage-vehicle-camera-table
          [(selected)]="source.Cameras!"
          [condition]="condition"
          [vehicleId]="source.Id"
        >
        </garbage-vehicle-camera-table>
      </div>
    </div> -->
  </div>

  <div class="garbage-vehicle-operate-footer">
    <button class="hw-green-m-btn" type="button" (click)="onConfirm()">
      <i class="howell-icon-Check"></i>
    </button>

    <button class="hw-gray-m-btn" type="button" (click)="onCancel()">
      <i class="howell-icon-Close"></i>
    </button>
  </div>
</div>
