<div class="garbage-vehicle-operate">
  <div class="garbage-vehicle-operate-header hw-simple-title">添加</div>
  <div class="garbage-vehicle-operate-content">
    <div class="garbage-vehicle-operate-content-item">
      <div class="garbage-vehicle-operate-content-item-title">
        <span>名称</span>
      </div>
      <div class="garbage-vehicle-operate-content-item-value">
        <input type="text" [(ngModel)]="source.Name" />
      </div>
    </div>
    <div class="garbage-vehicle-operate-content-item">
      <div class="garbage-vehicle-operate-content-item-title">
        <span>类型</span>
      </div>
      <div class="garbage-vehicle-operate-content-item-value">
        <select name="vehicleType" [(ngModel)]="source.VehicleType">
          <option *ngFor="let s of vehicleTypes" [ngValue]="s.value">
            {{ s.language }}
          </option>
        </select>
      </div>
    </div>
    <div class="garbage-vehicle-operate-content-item">
      <div class="garbage-vehicle-operate-content-item-title">
        <span>编号</span>
      </div>
      <div class="garbage-vehicle-operate-content-item-value">
        <input
          type="number"
          (touchSpinChange)="onNoChanged($event)"
          appTouchSpin
          [(ngModel)]="source.No"
        />
      </div>
    </div>
    <div class="garbage-vehicle-operate-content-item">
      <div class="garbage-vehicle-operate-content-item-title">
        <span>车牌号码</span>
      </div>
      <div class="garbage-vehicle-operate-content-item-value">
        <input type="text" [(ngModel)]="source.PlateNo" />
      </div>
    </div>
    <div class="garbage-vehicle-operate-content-item">
      <div class="garbage-vehicle-operate-content-item-title">
        <span>IMEI</span>
      </div>
      <div class="garbage-vehicle-operate-content-item-value">
        <input type="text" [(ngModel)]="source.IMEI" />
      </div>
    </div>
    <div class="garbage-vehicle-operate-content-item">
      <div class="garbage-vehicle-operate-content-item-title">
        <span>心跳间隔</span>
      </div>
      <div class="garbage-vehicle-operate-content-item-value">
        <input
          type="number"
          (touchSpinChange)="onHeartbeatIntervalChanged($event)"
          appTouchSpin
          [(ngModel)]="source.HeartbeatInterval"
        />
      </div>
    </div>
    <div class="garbage-vehicle-operate-content-item">
      <div class="garbage-vehicle-operate-content-item-title">
        <span>自动关闭</span>
      </div>
      <div class="garbage-vehicle-operate-content-item-value">
        <input
          type="number"
          (touchSpinChange)="onShutdownSecondsChanged($event)"
          [options]="{
            min: 600,
            max: 14400,
            verticalbuttons: true
          }"
          appTouchSpin
          [(ngModel)]="source.ShutdownSeconds"
        />
      </div>
    </div>
  </div>
  <div class="garbage-vehicle-operate-footer">
    <button class="hw-green-m-btn" type="button" (click)="onConfirm()">
      <i class="howell-icon-Check"></i>
    </button>

    <button class="hw-gray-m-btn" type="button" (click)="onCancel()">
      <i class="howell-icon-Close"></i>
    </button>
  </div>
</div>
