<div class="panel">
  <div class="background">
    <div class="inner">
      <div class="data-list">
        <ng-container *ngFor="let item of datas">
          <div class="item" [title]="item.Name" (click)="onclick($event, item)">
            <div class="name">{{ item.Name }}</div>
            <div class="child" *ngIf="item.hasChild">
              <i class="howell-icon-arrow2right"></i>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="search">
        <app-input-search
          (search)="search($event)"
          [placeholder]="'投放点名称'"
        ></app-input-search>
      </div>
    </div>
  </div>
</div>
