<div class="aiop-garbage-vehicle-camera-table">
  <div class="aiop-garbage-vehicle-camera-table-main vertical-layout">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <td>名称</td>
          <td>用途</td>
          <td>清运车</td>
          <td>位置</td>
          <td class="center">状态</td>
          <td class="operation center"><div>操作</div></td>
        </tr>
      </thead>
    </table>
    <div
      class="body vertical-main"
      #body
      [ngClass]="{ full: page && page.RecordCount === pageSize }"
    >
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas; let i = index"
            [ngClass]="{
              selected: this.selecteds.includes(item)
            }"
            (click)="onselected(item)"
            [ngStyle]="{
              height: tr_height
            }"
          >
            <td>{{ item.Name }}</td>
            <td>{{ Language.CameraUsage(item.CameraUsage) }}</td>

            <td>
              {{ (item.GarbageVehicle | async)?.Name }}
            </td>
            <td>{{ Language.VehiclePositionNo(item.PositionNo) }}</td>
            <td class="center">
              <div
                [ngClass]="{
                  'green-text': item.OnlineStatus !== 1,
                  'powder-red-text': item.OnlineStatus === 1
                }"
              >
                {{ item.OnlineStatus === 1 ? "离线" : "正常" }}
              </div>
            </td>
            <td class="operation center">
              <div (click)="ondetails($event, item)" title="编辑">
                <i class="howell-icon-modification"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="vertical-footer aiop-garbage-vehicle-camera-table-main-footer footer"
      *ngIf="page"
    >
      <app-table-select (tableSelect)="toselect($event)"></app-table-select>
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <app-paginator
          [length]="page ? page.TotalRecordCount : 0"
          [pageSize]="page ? page.PageSize : 0"
          [pagerCount]="5"
          [pageIndex]="page ? page.PageIndex - 1 : 0"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
