.platform-body {
  background-image: url('/assets/img/index.jpg');
  height: calc(100% - 90px);
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.platform-body.hide-titlebar {
  height: 100%
}

.card-wrapper2 {
  background-color: rgb(6, 13, 55, 0.7);
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px #5c6ebf solid;
}

.card-wrapper {
  background-color: rgb(6, 13, 55, 0.7);
  position: relative;
  /* padding-left: 20px;
  padding-top: 15px;  */
  width: 100%;
  height: 100%;
  border: 1px #5c6ebf solid;
}

.card-wrapper .content-wrapper {
  width: 100%;
  height: calc(100% - 44px);
  position: relative;
}

.card-wrapper .card-angle,
.card-wrapper2 .card-angle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-color: #7a8de6;
  border-width: 2px;
}

.td-wrapper .card-angle.td {
  width: 6px;
  position: absolute;
  height: 6px;
  border-color: #6898ff;
  border-width: 1px;
}

.card-wrapper .card-angle.top-left,
.card-wrapper2 .card-angle.top-left,
.td-wrapper .card-angle.top-left {
  border-left-style: solid;
  border-top-style: solid;
  top: -1px;
  left: -1px;
}

.card-wrapper .card-angle.top-right,
.card-wrapper2 .card-angle.top-right,
.td-wrapper .card-angle.top-right {
  border-right-style: solid;
  border-top-style: solid;
  top: -1px;
  right: -1px;
}

.card-wrapper .card-angle.bottom-left,
.card-wrapper2 .card-angle.bottom-left,
.td-wrapper .card-angle.bottom-left {
  border-left-style: solid;
  border-bottom-style: solid;
  left: -1px;
  bottom: -1px;
}

.card-wrapper .card-angle.bottom-right,
.card-wrapper2 .card-angle.bottom-right,
.td-wrapper .card-angle.bottom-right {
  border-right-style: solid;
  border-bottom-style: solid;
  right: -1px;
  bottom: -1px;
}

.small-card-wrapper.title-number-suffix {
  width: 135px;
  height: 62px;
  padding: 10px 0;
  position: relative;
}

.top6-list .number-item {
  width: 34px;
  height: 22px;
  background: rgb(243, 141, 31);
  border-radius: 4px;
}

.number-item .item-label {
  text-align: center;
  line-height: 24px;
  margin: 0;
  color: #0b1c32;
  font-weight: bold;
}

.top6-list .number-suffix {
  font-size: 16px;
}

.video-title-desc .time-label-wrapper {
  right: 20px;
  position: absolute;
  top: 15px;
}

.video-title-desc .desc-label-wrapper {
  position: absolute;
  bottom: 0;
  padding: 6px 10px;
  width: 100%;
  background-color: rgb(0, 0, 0, .5);
  height: 34px;
}

.gallery-wrapper .desc-label-wrapper {
  position: absolute;
  bottom: 0px;
  padding: 6px 10px;
  width: 100%;
  background-color: rgb(0, 0, 0, .5);
  height: 34px;
}

.small-card-wrapper.title-number-suffix .left-angle {
  left: 0px;
  bottom: 0px;
  position: absolute;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #bfd8ff;
}

.small-card-wrapper.title-number-suffix .right-angle {
  top: 0;
  right: 0px;
  position: absolute;
  border-left: 8px solid transparent;
  border-top: 8px solid #bfd8ff;
}

.small-card-wrapper.title-number-suffix .title-label {
  color: #d8f4ff;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.small-card-wrapper.title-number-suffix .number-label {
  color: #32F0F7;
  font-size: 24px;
  margin: 0;
  width: 50%;
  position: relative;
  top: 1px;
}

.small-card-wrapper.title-number-suffix .suffix-label {
  color: #d8f4ff;
  margin: 0;
  width: 44%;
  text-align: right;
  font-size: 16px;
  position: relative;
  bottom: 2px;
}

/* .edges2-wrapper {
  background: linear-gradient(135deg, transparent 10px, #060D37 0) top left,
    linear-gradient(-135deg, transparent 0px, #060D37 0) top right,
    linear-gradient(-45deg, transparent 10px, #060D37 0) bottom right,
    linear-gradient(45deg, transparent 0px, #060D37 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
} 





.edges2-wrapper::before {
  width: calc(100% - 14px);
  height: 1px;
  position: absolute;
  display: block;
  content: '';
  left: 14px;
  background-color: #5E6EBE;
}

.edges2-wrapper::after {
  display: block;
  content: '';
  left: 0;
  height: 1px;
  bottom: 0;
  width: calc(100% - 14px);
  position: absolute;
  background-color: #5E6EBE;
}

.edges2-wrapper .left-border {
  width: 1px;
  top: 13px;
  position: absolute;
  height: calc(100% - 14px);
  background-color: #5E6EBE;
}

.edges2-wrapper .left-border::before {
  display: block;
  content: '';
  width: 20px;
  left: -3px;
  top: -6px;

  transform: rotate(-45deg);
  height: 1px;
  position: absolute;
  background-color: #5E6EBE;
}

.edges2-wrapper .right-border {
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100% - 14px);
  background-color: #5E6EBE;
}

.edges2-wrapper .right-border::before {
  display: block;
  content: '';
  width: 20px;
  right: -3px;
  bottom: -7px;

  transform: rotate(-45deg);
  height: 1px;
  position: absolute;
  background-color: #5E6EBE;
}


.edges2-wrapper.selected .left-border,
.edges2-wrapper.selected .left-border::before,
.edges2-wrapper.selected .right-border,
.edges2-wrapper.selected .right-border::before,
.edges2-wrapper.selected::before,
.edges2-wrapper.selected::after {
  background-color: #69aefe;
}
*/
.edges2-wrapper {
  background-color: #5E6EBE;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(15px 0%,
      100% 0%,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      0% 100%,
      0% 15px);
  cursor: pointer;

}

.edges2-wrapper:hover {
  color: #6997ff !important;
  text-decoration: #6997ff underline;
}

.edges2-wrapper:hover h4 {
  color: #6997ff !important;
}

.edges2-wrapper .inner {
  height: 100%;
  background-color: #060D37;
  clip-path: polygon(16px 1.5px,
      calc(100% - 1.5px) 1.5px,
      calc(100% - 1.5px) calc(100% - 16px),
      calc(100% - 16px) calc(100% - 1.5px),
      1.5px calc(100% - 1.5px),
      1.5px 16px);
  display: flow-root;
}



/* .edges2-wrapper.big-size{
    height: 60px;
    width: 470px;
} */

.edges2-wrapper.small-size {
  height: 47px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: calc(100%/3 - 5px);
}

/* 
.edges2-wrapper.selected {
  background: linear-gradient(135deg, transparent 10px, #235fa4b2 0) top left,
    linear-gradient(-135deg, transparent 0px, #235fa4b2 0) top right,
    linear-gradient(-45deg, transparent 10px, #235fa4b2 0) bottom right,
    linear-gradient(45deg, transparent 0px, #235fa4b2 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.edges2-wrapper.small-size.selected {
  background: linear-gradient(135deg, transparent 10px, #235fa4 0) top left,
    linear-gradient(-135deg, transparent 0px, #235fa4 0) top right,
    linear-gradient(-45deg, transparent 10px, #235fa4 0) bottom right,
    linear-gradient(45deg, transparent 0px, #235fa4 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
} */

.edges2-wrapper.selected {
  background-color: #69aefe;
}


.edges2-wrapper.selected .inner {
  background-color: #235fa4b2;
}

.edges2-wrapper.small-size.selected .inner {
  background-color: #235fa4;
}

.edges2-wrapper.small-size.selected:hover h4 {
  color: white !important;
}


.water-wraper {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  overflow: hidden;
}

.water-wraper .percent-wraper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.percent-wraper>.percent-label {
  font-size: 24px;
}

.percent-wraper>.percent-label::before {
  display: block;
  content: '%';
  position: absolute;
  font-size: small;
  bottom: 40px;
  left: 65px;
}

.round-border {
  width: 114px;
  border-radius: 100%;
  height: 114px;
  border: 2px #235FA4 solid;
  position: absolute;
  top: 24%;
}

.water-wraper .water-svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  transition: all .3s;
  background-image: linear-gradient(#7f94ff, #28dafe);
}

.water-wraper .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}

.water-wraper .water_wave_back {
  right: 0;
  fill: #7f94ff;
  -webkit-animation: wave-back 1.4s infinite linear;
  animation: wave-back 1.4s infinite linear;
}

.water-wraper .water_wave_front {
  left: 0;
  fill: #7f94ff;
  margin-bottom: -1px;
  -webkit-animation: wave-front .7s infinite linear;
  animation: wave-front .7s infinite linear;
}

@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}

@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}

.border-background {
  background:
    linear-gradient(to left, #7a8de6, #7a8de6) left top no-repeat, linear-gradient(to bottom, #7a8de6, #7a8de6) left top no-repeat,
    linear-gradient(to left, #7a8de6, #7a8de6) right top no-repeat,
    linear-gradient(to bottom, #7a8de6, #7a8de6) right top no-repeat,
    linear-gradient(to left, #7a8de6, #7a8de6) left bottom no-repeat,
    linear-gradient(to bottom, #7a8de6, #7a8de6) left bottom no-repeat,
    linear-gradient(to left, #7a8de6, #7a8de6) right bottom no-repeat,
    linear-gradient(to left, #7a8de6, #7a8de6) right bottom no-repeat;
  background-size: 1px 8px, 8px 1px, 1px 8px, 8px 1px !important;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin: -1px;
}

.blue-parting-line {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0), #6997ff, rgb(0, 0, 0, 0))
}


.hint-card {
  width: 168px;
  padding-top: 15px;
  text-align: center;
  height: 71px;
  background-image: url('/assets/img/hint-card.png');
}

.hint-card a {
  font-size: 24px;
  margin: 0;
  line-height: 1;
}

.hint-card.move:hover {
  background-image: url('/assets/img/hint-card-hover.png');
}

.height98 {
  height: 98%;
}

.subTitle-icon:hover {
  color: #cfd7ff;
}

.subTitle-icon.selected {
  color: #5e6ebf;
}

.gallery-wrapper {
  background-image: url('/assets/img/gallery-bg.png');
  width: 930px;
  height: 405px;
  position: relative;
  background-size: 930px 100%;
}

a.hw-link-underline:hover,
a.hw-link-underline:hover a,
a.hw-link-underline-v2:hover h2 {
  text-decoration: underline;
}

a.hw-link-underline.hint-card:hover {
  text-decoration: none;
}

a.hw-link-underline.sky-blue-text2:hover,
a.hw-link-underline.link-text:hover,
a.hw-link-underline-v2.a-text:hover h2,
a.hw-link-underline.hint-card:hover,
a.hw-link-underline.hint-card:hover a,
a.hw-link-underline.sky-blue-text2:hover h4,
a.hw-link-underline h2:hover {
  color: #6997ff;
}
