.event-record-smoke-window {

  @filter-height: 34px;

  &-header {
    height: @filter-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  &-content {
    height: calc(100% - 72px);

  }
}
