<div class="garbage-station-count-table vertical-layout">
  <div class="garbage-station-count-table-main vertical-main">
    <div class="garbage-station-count-table-list">
      <div
        class="garbage-station-count-table-list-item"
        *ngFor="let item of datas; let i = index"
      >
        <div
          class="garbage-station-count-table-list-item-name"
          (click)="oninfo(item)"
        >
          {{ item.Name }}
        </div>
        <div class="garbage-station-count-table-list-item-value">
          {{ (item.GarbageStations | async)?.length }}个
        </div>
      </div>
    </div>
  </div>
</div>
