.garbage-station-count-table {
  height: 100%;
  overflow-x: auto;

  table {
    background-color: transparent;

    tr {
      cursor: default;
      height: 30px;

      &:hover {
        background: transparent !important;
      }

      td {
        padding: 0 !important;

        &.right {
          text-align: right;
          box-sizing: border-box;
        }
      }
    }
  }
}
