<div class="alarm">
  <div class="table-header-container">
    <table>
      <colgroup>
        <col style="width: 30%" />
        <col style="width: 22%" />
        <col style="width: 30%" />
        <col style="width: 15%" />
      </colgroup>
      <thead>
        <tr>
          <th>名称</th>
          <th>报警类型</th>
          <th>时间</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-body-container">
    <table>
      <colgroup>
        <col style="width: 30%" />
        <col style="width: 22%" />
        <col style="width: 30%" />
        <col style="width: 15%" />
      </colgroup>
      <tbody>
        <tr *ngFor="let item of datas" (click)="onitemclick(item)">
          <td [title]="item.name">{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.date }}</td>
          <td>
            <span (click)="onpicture($event, item)">
              <i class="howell-icon-picture"></i
            ></span>
            <span (click)="onplayback($event, item)">
              <i class="howell-icon-video-playback1"></i
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
