<div class="alarm">
    <div class="table-header-container">
        <table>
            <thead>
                <tr>
                    <th style=" width:26%">名称</th>
                    <th style=" width:23%">报警类型</th>
                    <th style=" width:34%">时间</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class=" table-body-container">
        <table>

            <tbody>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>