<div class="alarm">
    <div class="table-header-container">
        <table>
            <colgroup>
                <col style=" width:25%">
                <col style=" width:22%">
                <col style=" width:35%">
                <col style=" width:15%">

            </colgroup>
            <thead>
                <tr>
                    <th>名称</th>
                    <th>报警类型</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class=" table-body-container">
        <table>
            <colgroup>
                <col style=" width:25%">
                <col style=" width:22%">
                <col style=" width:35%">
                <col style=" width:15%">

            </colgroup>
            <tbody>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>智能车厢1</td>
                    <td>紧急按钮</td>
                    <td>08-03 16:18:25</td>
                    <td>
                        <span> <i class="howell-icon-picturedownload "></i></span>
                        <span> <i class="howell-icon-video"></i></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>