<div class="map-bar marker-details" *ngIf="model">
  <div class="item">
    <i class="howell-icon-garbage icon"></i>
    <div class="content">{{ model.name }}</div>
  </div>

  <div class="item">
    <i class="howell-icon-neighborhood icon"></i>
    <div class="content">
      {{ model.roadName | async
      }}<span *ngIf="model.roadName | async">&nbsp;&nbsp;&nbsp;&nbsp;</span
      >{{ model.committeeName | async }}
    </div>
  </div>

  <div class="item" *ngIf="model.address">
    <i class="howell-icon-map5 icon"></i>
    <div class="content">{{ model.address }}</div>
  </div>

  <div class="item" *ngFor="let member of model.members">
    <div class="item-name">
      <i class="howell-icon-man icon"></i>
      <div class="item-name__info">
        <div class="info-name">
          {{ member.Name }}
        </div>
        <div class="info-dash">-</div>
        <div class="info-note">
          {{ member.Note }}
        </div>
      </div>
    </div>
    <div class="item-phone">
      <i class="howell-icon-phone icon"></i><span>{{ member.MobileNo }}</span>
    </div>
  </div>

  <div class="statistic" *ngIf="!!model.statistic">
    <div class="left">
      <div class="number">
        {{
          model.GarbageStationGrade ? (model.GarbageStationGrade | async) : "0"
        }}
      </div>
      <div class="suffix">分</div>
    </div>
    <div class="right">
      <!-- 查看垃圾滞留投放点信息 -->
      <div
        class="item"
        [title]="
          Language.json.see +
          Language.json.garbage +
          Language.json.stay +
          Language.json.station +
          Language.json.info
        "
        (click)="onGarbageRetentionClicked()"
      >
        <div><i class="howell-icon-garbagebags"></i></div>
        <!-- GarbageCount -->
        <a class="hw-link-underline value green-text a-text">{{
          (model.statistic | async)!.GarbageInterval
        }}</a>
      </div>
      <div
        class="item"
        [title]="
          Language.json.see +
          Language.json.EventType.IllegalDrop +
          Language.json.event +
          Language.json.record
        "
        (click)="onIllegalDropClicked()"
      >
        <div><i class="howell-icon-nolittering"></i></div>
        <a class="hw-link-underline value powder-red-text a-text">{{
          (model.statistic | async)!.IllegalDropCount
        }}</a>
      </div>
      <!-- "查看混合投放事件记录" -->
      <div
        class="item"
        [title]="
          Language.json.see +
          Language.json.EventType.MixedInto +
          Language.json.event +
          Language.json.record
        "
        (click)="onMixedIntoClicked()"
      >
        <div><i class="howell-icon-mixlittering"></i></div>
        <a class="hw-link-underline value light-purple-text a-text">{{
          (model.statistic | async)!.MixedIntoCount
        }}</a>
      </div>
    </div>
  </div>

  <div class="statistic1" style="display: none">
    <div class="grade">
      <div class="number">
        {{
          model.GarbageStationGrade ? (model.GarbageStationGrade | async) : "0"
        }}
      </div>
      <div class="suffix">分</div>
    </div>
    <div>
      <div class="garbage-count">
        <div
          class="item"
          title="查看垃圾滞留投放点信息"
          (click)="onGarbageRetentionClicked()"
        >
          <div><i class="howell-icon-garbagebags"></i></div>
          <!-- <div>垃圾滞留点</div> -->
          <a class="hw-link-underline value green-text a-text">{{
            (model.statistic | async)!.GarbageInterval
          }}</a>
        </div>
      </div>
      <div class="event-history">
        <div
          class="item"
          title="查看乱丢垃圾事件记录"
          (click)="onIllegalDropClicked()"
        >
          <div><i class="howell-icon-nolittering"></i></div>
          <!-- <div>{{Language.json.EventType.IllegalDrop}}</div> -->
          <a class="hw-link-underline value powder-red-text a-text">{{
            (model.statistic | async)!.IllegalDropCount
          }}</a>
        </div>
        <div
          class="item"
          title="查看混合投放事件记录"
          (click)="onMixedIntoClicked()"
        >
          <div><i class="howell-icon-mixlittering"></i></div>
          <!-- <div>混合投放</div> -->
          <a class="hw-link-underline value light-purple-text a-text">{{
            (model.statistic | async)!.MixedIntoCount
          }}</a>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="!!model.state"
    class="state"
    [ngClass]="model.state.className"
    (click)="onStateClicked()"
  >
    {{ model.state.language }}
  </div>
</div>
