.map-bar.marker-details {
  color: white;
  position: absolute;
  background-color: #0d1f38b3;
  border: 1px solid #3a93ff;
  font-size: 18px;
  bottom: 0;
  right: 0;
  padding: 10px;
  width: 370px;
  box-shadow: rgb(13, 85, 133) 0px 0px 10px inset;
}

.map-bar.marker-details .item {
  display: flex;
}

.map-bar.marker-details .item .icon {
  font-size: 25px;
  color: #6997ff;
  margin: 0 5px;
  margin-top: -6px;
}

.map-bar.marker-details .item .content {}


.map-bar.marker-details .item .item-name {
  width: 58%;
  display: flex;
  align-items: center;
}

.item-name .item-name__info {
  display: flex;
}

.info-name {
  /* width:72px; */
  flex-shrink: 0;
}

.info-dash {
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;

}

.info-note {
  white-space: nowrap;
  overflow: hidden;
  width: 90px;
  /* text-overflow: elli  psis; */
}

.map-bar.marker-details .item .item-phone {
  width: 42%;
  display: flex;
}


.map-bar.marker-details .statistic {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.map-bar.marker-details .statistic .left {
  display: flex;
  align-items: baseline;
  width: 33.333333333%;
  justify-content: center;
}

.map-bar.marker-details .statistic .left .number {
  font-size: 36px;
  color: #cfd7ff;
}

.map-bar.marker-details .statistic .left .suffix {
  color: #6997ff
}


.map-bar.marker-details .statistic .right {
  width: 66.66666666%;
  display: flex;
}

.map-bar.marker-details .statistic .right>.item {
  border-right: 1px solid #3a93ff;
  border-image: linear-gradient(transparent, #3a93ff, transparent) 0 1;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}

.map-bar.marker-details .statistic .right>.item:first-child {
  width: 40%;
}

.map-bar.marker-details .statistic .right>.item:hover>a {
  text-decoration: underline;
}

.map-bar.marker-details .statistic .right>.item:last-child {
  border-right: none;
}

.green-text:not([href]):not([tabindex]) {
  color: #21E452
}

.orange-text:not([href]):not([tabindex]) {
  color: #ffba00
}

.powder-red-text:not([href]):not([tabindex]) {
  color: #ef6464
}

.light-purple-text:not([href]):not([tabindex]) {
  color: #ca98f9
}

.map-bar.marker-details .state {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.map-bar.marker-details .state.error {
  color: #eb2d2c;
  cursor: pointer;

}

.map-bar.marker-details .state.error:hover {
  text-decoration: underline;
}

.map-bar.marker-details .state.warm {
  color: #febd00;
  cursor: pointer;
}

.map-bar.marker-details .state.warm:hover {
  text-decoration: underline;
}

.map-bar.marker-details .state.normal {
  color: #2bcf38;
}

.map-bar.marker-details .statistic1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.map-bar.marker-details .statistic1>.grade {
  width: 33.33333%;
  display: flex;
  align-items: baseline;
}

.map-bar.marker-details .statistic1>div:last-child {
  width: inherit;
}

.map-bar.marker-details .statistic1 .grade .number {
  font-size: 36px;
}

.map-bar.marker-details .statistic1 .grade .suffix {}

.map-bar.marker-details .statistic1 .garbage-count {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.map-bar.marker-details .statistic1 .event-history {
  border-top: 1px solid #3a93ff;
  border-image: linear-gradient(to left, transparent, #3a93ff, transparent) 1 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

.map-bar.marker-details .statistic1 i {
  margin-right: 10px;
}
