<div class="monitor-container">
  <div class="monitor-header" *ngIf="!HideTitlebar">
    <mat-toolbar>
      <app-account-info></app-account-info>
      <div class="spacer">
        <howell-message-bar
          [Notify]="business.toolbar.notify"
        ></howell-message-bar>
      </div>
      <common-time></common-time>
      <app-account-operation
        *ngIf="!HideButton"
        (changePassword)="business.toolbar.onChangePasswordClick()"
        (bindMobile)="business.toolbar.onChangeMobileClick()"
      ></app-account-operation>
    </mat-toolbar>
  </div>
  <div class="monitor-body" [ngClass]="HideTitlebar ? 'hide-titlebar' : ''">
    <div class="monitor-body__item monitor-body__item--none">
      <div class="monitor-body__wrapper">
        <app-committees-navication
          [Committees]="navication.committees"
          [Stations]="navication.stations"
          [StationSelected]="navication.selected"
          (OnStationClicked)="navication.onStationClicked($event)"
          (OnCommitteesInfoClicked)="navication.onCommitteesInfoClicked($event)"
        ></app-committees-navication>
      </div>
    </div>
    <div
      class="monitor-body__item monitor-body__item--map"
      [ngClass]="{ fullscreen: patrol.fullscreen == true }"
    >
      <div class="monitor-body__wrapper patrol">
        <app-patrol-control
          [id]="navication.selected ? navication.selected.Id : ''"
          [config]="patrol.config"
          (close)="patrol.onclose()"
          (fullscreen)="patrol.onfullscreen()"
          (onselected)="patrol.onselected($event)"
        ></app-patrol-control>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-illegal-mixinto-rank
          (itemClickedEvent)="trigger.illegalMixintoRank.onItemClicked($event)"
        >
        </app-illegal-mixinto-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper padding">
        <app-station-information
          [Station]="navication.selected"
        ></app-station-information>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-retention-rank
          [typeEnabled]="false"
          (Click)="trigger.retentionRank.onclick($event)"
        ></app-retention-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper padding">
        <app-committees-statistic
          [Committees]="navication.committees"
          (OnAllDeviceCountClicked)="
            business.statistic.OnAllDeviceCountClicked()
          "
          (OnOnlineDeviceCountClicked)="
            business.statistic.OnOnlineDeviceCountClicked()
          "
          (OnOfflineDeviceCountClicked)="
            business.statistic.OnOfflineDeviceCountClicked()
          "
          (OnGarbageStationCountClicked)="
            business.statistic.OnGarbageStationCountClicked()
          "
          (OnGarbageDropEventCountClicked)="
            business.statistic.OnGarbageDropEventCountClicked()
          "
          (OnGarbageFullEventCountClicked)="
            business.statistic.OnGarbageFullEventCountClicked()
          "
          (OnIllegalDropEventCountClicked)="
            business.statistic.OnIllegalDropEventCountClicked()
          "
          (OnMixedIntoEventCountClicked)="
            business.statistic.OnMixedIntoEventCountClicked()
          "
        ></app-committees-statistic>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper padding">
        <app-task-table
          [Committees]="navication.committees"
          (OnItemClicked)="business.taskTable.onItemClicked($event)"
        ></app-task-table>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper padding">
        <app-histroy-table
          [Committees]="navication.committees"
          [Type]="business.historyTable.Type"
          (OnPictureClicked)="business.historyTable.OnPictureClicked($event)"
          (OnVideoClicked)="business.historyTable.OnVideoClicked($event)"
        ></app-histroy-table>
      </div>
    </div>
  </div>
</div>
<!-- 
<app-video-window
  [model]="video.model"
  [window]="video"
  [title]="video.title"
  (download)="video.ondownload($event)"
>
</app-video-window>











 -->

<app-window [Model]="window.mobile" [style]="window.mobile.styles">
  <ng-container *ngIf="window.mobile.show">
    <app-mobile-change
      (OnBinded)="window.mobile.onBinded()"
      (OnCancel)="window.mobile.onCancel()"
      [Step]="window.mobile.step"
    >
    </app-mobile-change>
  </ng-container>
</app-window>
<app-window
  [Model]="window.password"
  [style]="window.password.styles"
  [CloseButton]="window.password.closeable"
>
  <ng-container *ngIf="window.password.show">
    <app-password-change
      (OnChanged)="window.password.onChanged()"
      (OnCancel)="window.password.onCancel()"
    >
    </app-password-change>
  </ng-container>
</app-window>
<app-window [Model]="window.summary" [style]="window.summary.style">
  <ng-container *ngIf="window.summary.show">
    <app-statistic-summary
      [Committees]="navication.committees"
      [Stations]="navication.stations"
    ></app-statistic-summary>
  </ng-container>
</app-window>

<howell-device-list-window
  *ngIf="window.device.show"
  [Model]="window.device"
  [style]="window.device.style"
  [status]="window.device.status"
  (image)="window.device.onimage($event)"
>
</howell-device-list-window>
<howell-garbage-station-window
  *ngIf="window.stationInfo.show"
  [Model]="window.stationInfo"
  [style]="window.stationInfo.style"
  [index]="window.stationInfo.index"
  [stationId]="window.stationInfo.stationId"
  (image)="window.stationInfo.onimage($event)"
  (chartdblclick)="window.stationInfo.onchartdblclick($event)"
>
</howell-garbage-station-window>
<howell-event-record-window
  *ngIf="window.record.show"
  [Model]="window.record"
  [style]="window.record.style"
  [type]="window.record.type"
  [stationId]="window.record.stationId"
  (image)="window.record.onimage($event)"
  (video)="window.record.onvideo($event)"
>
</howell-event-record-window>

<howell-garbage-full-station-window
  *ngIf="window.full.show"
  [Model]="window.full"
  [style]="window.full.style"
  (image)="window.full.onimage($event)"
>
</howell-garbage-full-station-window>
<howell-garbage-drop-station-window
  *ngIf="window.drop.show"
  [Model]="window.drop"
  [style]="window.drop.style"
  (image)="window.drop.onimage($event)"
>
</howell-garbage-drop-station-window>

<app-window
  [Model]="window.media.single"
  [style]="window.media.single.style"
  [manualClose]="true"
  (OnClosing)="window.media.single.onclosing()"
>
  <ng-container *ngIf="window.media.single.show">
    <app-media-control
      [autoplay]="window.media.single.autoplay"
      [model]="window.media.single.camera"
      [index]="window.media.single.index"
      [stop]="window.media.single.closing"
      (played)="window.media.single.onplay()"
      (stoped)="window.media.single.onstop()"
    ></app-media-control>
  </ng-container>
</app-window>

<howell-media-multiple-window
  *ngIf="window.media.multiple.show"
  [Model]="window.media.multiple"
  [style]="window.media.multiple.style"
  [statistic]="window.media.multiple.statistic"
  [date]="window.media.multiple.date"
></howell-media-multiple-window>
<app-video-control-window
  *ngIf="window.video"
  [window]="window.video"
  [style]="window.video.style"
  [title]="window.video.title"
></app-video-control-window>

<app-window
  [Model]="window.image.page"
  *ngIf="window.image.page.show"
  [style]="window.image.page.style"
>
  <app-media-image-control
    [model]="window.image.page.model"
    [first]="window.image.page.first"
    [last]="window.image.page.last"
    (prev)="window.image.page.onprev()"
    (next)="window.image.page.onnext()"
  ></app-media-image-control>
</app-window>
<app-window
  [Model]="window.image.array"
  *ngIf="window.image.array.show"
  [style]="window.image.array.style"
>
  <app-media-image-control
    [model]="window.image.array.current"
    [first]="window.image.array.first"
    [last]="window.image.array.last"
    (prev)="window.image.array.onprev()"
    (next)="window.image.array.onnext()"
  ></app-media-image-control>
</app-window>
<app-video-window
  [window]="window.video"
  *ngIf="window.video.show"
  [style]="window.video.style"
  [title]="window.video.title"
>
</app-video-window>
