.garbage-station-weight-chart {
  height: 100%;

  @head-height: calc(50px);

  &-head {
    height: @head-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .head {

      &-search {
        height: 34px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
      }
    }
  }

  &-body {
    height: calc(100% - @head-height);

    .echart {
      width: 100%;
      height: 100%;
    }
  }
}
