<div class="information">
  <div class="header">投放点信息</div>
  <div class="light-blue-text content">
    <div>
      <div class="title">小区：</div>
      <div>{{ Station ? Station.CommunityName : "" }}</div>
    </div>
    <div>
      <div class="title">管理员：</div>
      <div>{{ DefaultMember ? DefaultMember.Name : "" }}</div>
    </div>
    <div>
      <div class="title">电话：</div>
      <div>{{ DefaultMember ? DefaultMember.MobileNo : "" }}</div>
    </div>
    <div class="address">
      <div class="title">地址：</div>
      <div>{{ Station ? Station.Address : "" }}</div>
    </div>
  </div>
</div>
