.dapuqiao-garbage-drop-station-window-count {
  width: 100%;
  height: 100%;

  @head-height: 35px;

  &-head {
    margin-bottom: 10px;
    height: @head-height;

    .left {
      .filter-item {
        width: 320px;
      }
    }


  }

  &-body {
    height: calc(100% - @head-height);
  }
}
