<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" #tree>
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="clickNode(node)"
        [class.selected]="currentNode && currentNode == node">
        <ng-container *ngIf="node.expandable">
            <button mat-icon-button matTreeNodeToggle (click)="loadChildren(node)">
                <mat-icon>
                    {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
                </mat-icon>
            </button>
        </ng-container>

        <ng-container *ngIf="!node.expandable">
            <button mat-icon-button disabled></button>
        </ng-container>
        {{ node.name }}
    </mat-tree-node>
</mat-tree>