<div class="division-tree hw-tree">
  <div class="search-wrapper" *ngIf="showSearchBar">
    <howell-simple-search
      placeHolder="名称"
      (searchEvent)="searchEventHandler($event)"
    ></howell-simple-search>
  </div>
  <div class="tree-container">
    <howell-common-tree
      [dataSubject]="dataSubject"
      [defaultIds]="defaultIds"
      [selectStrategy]="selectStrategy"
      (loadChildrenEvent)="loadChildrenEvent($event)"
      (selectTreeNode)="selectTreeNodeHandler($event)"
      (defaultIdsChange)="defaultIdsChangeHandler($event)"
      [holdStatus]="holdStatus"
    ></howell-common-tree>
  </div>
</div>
