<div class="garbage-full-window-record">
  <div class="garbage-full-window-record-head">
    <div class="garbage-full-window-record-head-title">
      <ng-content></ng-content>
    </div>
    <div class="garbage-full-window-record-head-operation">
      <howell-event-record-operation
        (filter)="filter.display()"
        (search)="filter.onsearch($event)"
        (typeChange)="onTypeChange($event)"
      >
      </howell-event-record-operation>
    </div>
  </div>
  <div class="garbage-full-window-record-body">
    <div class="garbage-full-window-record-body-filter" *ngIf="filter.show">
      <interval-division-station-filter
        [type]="type"
        [(filter)]="filter.filter"
      >
      </interval-division-station-filter>
    </div>
    <div
      class="garbage-full-window-record-body-content"
      [class.filter]="filter.show"
    >
      <ng-container *ngIf="listType === ListType.table">
        <howell-event-record-table
          [load]="filter.load"
          [type]="type"
          [filter]="filter.filter"
          (image)="onimage($event)"
          (video)="onvideo($event)"
          (allvideo)="onallvideo($event)"
          (got)="ongot($event)"
          [get]="get"
        >
        </howell-event-record-table>
      </ng-container>
      <ng-container *ngIf="listType === ListType.card">
        <howell-event-record-list
          [type]="type"
          [load]="filter.load"
          (image)="onimage($event)"
          (video)="onvideo($event)"
          [filter]="filter.filter"
          [get]="get"
          (got)="ongot($event)"
        >
        </howell-event-record-list>
      </ng-container>
    </div>
  </div>
</div>
