<div class="garbage-full-window-record">
  <div class="garbage-full-window-record-head">
    <div class="garbage-full-window-record-head-title">
      <ng-content></ng-content>
    </div>
    <div class="garbage-full-window-record-head-operation">
      <howell-event-record-operation
        (filter)="filter.display()"
        (search)="filter.onsearch($event)"
        (typeChange)="on.type($event)"
        [(option)]="filter.opts"
        [durationable]="filter.findable"
        [(duration)]="filter.day"
        (durationChange)="filter.on.day($event)"
      >
      </howell-event-record-operation>
    </div>
  </div>
  <div class="garbage-full-window-record-body">
    <div class="garbage-full-window-record-body-filter" *ngIf="filter.show">
      <interval-division-station-filter
        [type]="type"
        [date_sync]="true"
        [(duration)]="filter.duration"
        [(divisionId)]="filter.divisionId"
        [(stationId)]="filter.stationId"
        [(cameraId)]="filter.cameraId"
        [(handle)]="filter.handle"
      >
      </interval-division-station-filter>
    </div>
    <div
      class="garbage-full-window-record-body-content"
      [class.filter]="filter.show"
    >
      <ng-container *ngIf="listType === ListType.table">
        <howell-event-record-table
          [load]="filter.load"
          [type]="type"
          [filter]="filter"
          (image)="on.image($event)"
          (video)="on.video.play($event)"
          (allvideo)="on.video.all($event)"
          (got)="on.got($event)"
          [get]="get"
          (complete)="on.complete($event)"
          [findable]="filter.findable"
          (find)="filter.on.find($event)"
        >
        </howell-event-record-table>
      </ng-container>
      <ng-container *ngIf="listType === ListType.card">
        <howell-event-record-list
          [type]="type"
          [load]="filter.load"
          (image)="on.image($event)"
          (video)="on.video.play($event)"
          [filter]="filter"
          [get]="get"
          (got)="on.got($event)"
        >
        </howell-event-record-list>
      </ng-container>
    </div>
  </div>
</div>
