<!-- <div class="monitor-platform">
    <nav class="platform-nav">
        <p>监管平台</p>
        <p> <a [routerLink]="['/aiop/aiop-manage/monitor-platform/division-manage']">区划管理</a></p>
        <p> <a [routerLink]="['/aiop/aiop-manage/monitor-platform/deploy-map']">地图布控</a></p>
        <p> <a [routerLink]="['/aiop/aiop-manage/monitor-platform/garbage-station-manage']">垃圾厢房管理</a></p>
    </nav>
    <main class='platform-main'>
        <div>面包屑</div>
        <router-outlet></router-outlet>
    </main>
</div> -->
<router-outlet></router-outlet>