.garbage-station-window-record-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  margin-bottom: 10px;

  .filter-items {
    width: 100%;
    justify-content: space-between;

    .division {
      width: 250px;
    }

    .station {
      width: 250px;
    }
  }


}


::ng-deep {
  .cdk-overlay-container {
    z-index: 9001;

    .cdk-overlay-pane {
      max-height: 230px;


      .mat-menu-item {
        margin: 0;
      }

      .mat-menu-panel {
        border: 1px solid #3a93ff !important;
      }
    }
  }
}
