.btn {
  position: relative;

  bottom: 0px;
  left: 0px;
  width: 32px;
  height: 28px;
  background-color: #2d76ce;
  cursor: pointer;
  clip-path: polygon(25% 0%,
      75% 0%,
      100% 50%,
      75% 100%,
      25% 100%,
      0% 50%);
  padding: 2px;
}

.btn .inner {
  height: 100%;
  width: 100%;
  background-color: #040b39;
  clip-path: polygon(25% 0%,
      75% 0%,
      100% 50%,
      75% 100%,
      25% 100%,
      0% 50%);
  color: white;
  line-height: 27px;
  opacity: 0.8;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn .inner:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}


.panel {
  height: 265px;
  width: 200px;
  position: relative;
  bottom: -8px;
  left: 16px;

  background-color: #2d76ce;
  clip-path: polygon(0% 10px,
      5px 5px,
      20% 5px,
      calc(20% + 5px) 0%,
      calc(100% - 5px) 0%,
      100% 5px,
      100% calc(100% - 10px),
      calc(100% - 5px) calc(100% - 5px),
      60% calc(100% - 5px),
      calc(60% - 5px) 100%,
      16px 100%,
      10px calc(100% - 10px),
      0% calc(100% - 10px));

  z-index: 1;
  overflow: hidden;
  padding: 2px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel .background {
  height: calc(100%);
  width: calc(100%);
  box-sizing: border-box;

  background-color: #13224d;
  clip-path: polygon(0% 10px,
      5px 5px,
      20% 5px,
      calc(20% + 5px) 0%,
      calc(100% - 5px) 0%,
      100% 5px,
      100% calc(100% - 10px),
      calc(100% - 5px) calc(100% - 5px),
      calc(60% - 1px) calc(100% - 5px),
      calc(60% - 6px) 100%,
      16px 100%,
      10px calc(100% - 10px),
      0% calc(100% - 10px));
  padding: 10px 5px 15px 5px;
}

.panel .inner {
  width: 100%;
  height: 100%;
}

.panel .inner .data-list {

  width: 100%;
  height: calc(100% - 30px - 2px);
  overflow-y: auto;
  overflow-x: hidden;
}

.panel .inner .search {
  width: calc(100%);
  height: 34px;
  margin-top: 2px;
}

.panel .inner .search::ng-deep app-input-search input {
  font-size: 15px;
  padding: 0 12px;
  width: calc(100%);

}



.panel .inner .search::ng-deep app-input-search .search-wrap button {
  display: flex;
  align-items: center;
  justify-content: center;
}



.panel .background .item {
  width: 100%;
  height: 28px;
  line-height: 28px;
  background-color: #7586e055;
  color: white;
  cursor: pointer;
  margin-bottom: 2px;
  padding-left: 14px;
  font-size: 16px;
  white-space: nowrap;
}

.panel .background .item:last-child {
  margin-bottom: 0;
}

.panel .background .item:hover {
  background-color: #6997ff;
}
