.garbage-station-manage {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: white;

  .operate-bar {
    margin: 10px 0;
  }

  .hw-tree-list {
    border: 2px rgba(117, 134, 224, 0.15) solid;
  }

  .hw-table-detail {
    border: 2px rgba(117, 134, 224, 0.15) solid;
    padding: 20px;
  }

}
