<div class="ai-garbage-station-rfid-card-manager">
  <div class="panel ai-garbage-station-rfid-card-manager-tree">
    <div class="ai-garbage-station-rfid-card-manager-tree-title m-b-20">
      <div class="hw-simple-title">区域列表</div>
    </div>
    <div class="ai-garbage-station-rfid-card-manager-tree-control">
      <hw-ai-garbage-station-region-tree
        [onlyDivisionNode]="false"
        (selectTreeNode)="selectDivisionClick($event)"
      ></hw-ai-garbage-station-region-tree>
    </div>
  </div>
  <div class="panel ai-garbage-station-rfid-card-manager-table">
    <div class="ai-garbage-station-rfid-card-manager-table-title">
      <div class="hw-simple-title">{{ title }}管理</div>
    </div>
    <div class="ai-garbage-station-rfid-card-manager-table-head">
      <div class="hw-btn-group">
        <button class="hw-blue-btn m-r-10" (click)="onexport()">
          <i class="howell-icon-export"></i> 导出
        </button>
        <button class="hw-blue-btn m-r-10" (click)="onimport()">
          <i class="howell-icon-upload"></i> 导入
        </button>
        <input
          type="file"
          (change)="onfile()"
          [accept]="'.xlsx'"
          #file
          style="display: none"
        />
        <button
          class="hw-red-btn m-r-10"
          (click)="todelete()"
          [class.gray-text]="!selecteds.length"
          [class.black]="!selecteds.length"
        >
          <i class="howell-icon-delete-bin"></i>
          删除
        </button>
      </div>
      <div>
        <howell-simple-search
          placeHolder="区域"
          (searchEvent)="tosearch($event)"
        ></howell-simple-search>
      </div>
    </div>
    <div style="height: calc(100% - 68px); overflow: auto">
      <ai-garbage-station-rfid-card-table
        [args]="args"
        [load]="load"
        [(selecteds)]="selecteds"
        (details)="ondetails($event)"
        (delete)="todelete($event)"
      >
      </ai-garbage-station-rfid-card-table>
    </div>
  </div>

  <app-window
    [Model]="window.details"
    [style]="window.details.style"
    *ngIf="window.details.show"
  >
    <app-ai-garbage-station-rfid-card-details
      [model]="window.details.model"
      (cancel)="closewindow()"
      (ok)="onupdate()"
    ></app-ai-garbage-station-rfid-card-details>
  </app-window>

  <app-window
    [Model]="window.confirm"
    *ngIf="window.confirm.show"
    [style]="window.confirm.style"
  >
    <div class="confirm">
      <div class="confirm-head">
        <div class="hw-simple-title"><i class="mdi mdi-alert"></i> 提示</div>
      </div>
      <div class="confirm-body">
        <div class="hw-simple-title">是否{{ window.confirm.language }} ?</div>
      </div>
      <div class="confirm-foot">
        <button
          class="hw-red-btn m-r-10"
          (click)="ondelete(window.confirm.models)"
        >
          <i class="howell-icon-Check"></i> 确定
        </button>
        <button class="hw-gray-btn" (click)="window.close()">
          <i class="howell-icon-Close"></i> 取消
        </button>
      </div>
    </div>
  </app-window>
</div>
