<div class="disposal-count">
  <div class="disposal-count__head">
    <div class="title" [title]="title">{{ title }}</div>
    <div class="sub-title">
      {{ data?.name }}
    </div>
  </div>
  <div class="disposal-count__body">
    <div
      class="chart-container"
      id="chartContainer"
      #chartContainer
      (resized)="onResized($event)"
    ></div>
    <div class="details">
      <ng-container *ngIf="data">
        <ng-template
          ngFor
          [ngForOf]="data.disposalCountArray"
          let-disposalCount
        >
          <div class="details__item">
            <div class="mission-name">{{ disposalCount.label }}</div>
            <div
              class="mission-count"
              [ngClass]="{
                'sky-blue-text2': disposalCount.tag === DisposalCountType.total,
                'orange-text': disposalCount.tag === DisposalCountType.timeout,
                'powder-red-text':
                  disposalCount.tag === DisposalCountType.unhandled
              }"
              (click)="taskClick(disposalCount)"
            >
              {{ disposalCount.count }}
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
