.login-content {
  width: 33%;
  height: 42%;
  max-width: 750px;
  min-height: 320px;
  // background: red;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-27%, -36%);
  background-image: url(src/assets/img/login-panel.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  &__header {
    color: white;
    text-align: center;
    font-weight: normal;
    margin-top: 26px;
    margin-bottom: 12px;
  }

  &__line {
    width: 69%;
    height: 2px;
    margin: 0 auto;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      #6997ff,
      rgba(0, 0, 0, 0)
    );
  }

  .login-form {
    height: 65%;
    margin: 2% 0;

    .prompt {
      width: 59%;
      margin: auto;
      margin-top: -20px;
    }

    .form-group {
      width: 59%;
      height: 17%;
      margin: 20px auto 30px;
      border: 2px solid #5e6ebf;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__icon {
        font-size: 20px;
        color: #cfd7ff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12%;
        height: 70%;
        min-width: 30px;
        margin-right: 6px;
        border-right: 2px solid #5e6ebf;
      }

      &__item {
        height: 70%;
        width: 100%;
        background: none;
        border: none;
        color: #d8f4ff;
        outline: none;
        font-size: 18px;
        font-family: "Source Han Sans CN Normal";
      }

      input {
        height: 70%;
        width: 100%;
        background: none;
        border: none;
        color: #d8f4ff;
        outline: none;
        font-size: 18px;
        font-family: "Source Han Sans CN Normal";
      }

      &__button {
        border: none;
        width: 100%;
        height: 100%;
        background: transparent;
        background-image: url(src/assets/img/login-btn.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 24px;
        cursor: pointer;

        transition: background-image 0.15s ease-in-out;

        &:hover {
          background-image: url(src/assets/img/login-btn-hover.png);
        }

        &:active {
          background-image: url(src/assets/img/login-btn-active.png);
        }
      }
    }

    .form-group--checkcode {
      width: 59%;
      height: 17%;
      margin: 20px auto 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .form {
        width: 60%;
        height: 100%;
        border: 2px solid #5e6ebf;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__icon {
          font-size: 20px;
          color: #cfd7ff;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12%;
          height: 70%;
          min-width: 30px;
          margin-right: 6px;
          border-right: 2px solid #5e6ebf;
        }

        input {
          height: 70%;
          width: 100%;
          background: none;
          border: none;
          color: #d8f4ff;
          outline: none;
          font-size: 18px;
          font-family: "Source Han Sans CN Normal";
        }
      }

      button {
        width: 128px;
        height: 100%;
        border: 2px solid #5e6ebf;
        background-color: transparent;
        color: #cfd7ff;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .form-group--checkbox {
      height: 10%;
      margin: -11px auto -10px;
      border: none;
      display: flex;
      justify-content: right;

      & > div {
        display: flex;
        align-items: center;
        position: relative;
      }
    }

    .form-group--button {
      height: 22%;
      border: none;
    }
  }
}

.cov-video-player {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}

button:focus {
  outline: none;
  box-shadow: unset;
}

.header-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  margin-top: 3%;
  background-image: -webkit-linear-gradient(bottom, #7f94ff, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-parting-line {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    alpha(#000, 0),
    rgb(105, 151, 255, 0.4),
    alpha(#000, 0)
  );
}

.flex-item-center {
  height: 130px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-item-center .input-box {
  z-index: 19;
  position: relative;
  height: 50px;

  border: 2px solid #5e6ebf;
  font-size: 12px;
  border-radius: 4px;
  line-height: 50px;
  width: 362px;
}

.flex-item-center .input-box input {
  width: 100%;
}

.input-box > .icon-box {
  float: left;
  width: 40px;
  text-align: center;
  line-height: 46px;
}

.f-s-20 {
  font-size: 20px;
  color: #cfd7ff;
}

.icon-box .line {
  width: 2px;
  height: 32px;
  background-color: #5e6ebf;
  position: absolute;
  left: 40px;
  top: 6px;
}

.input-box .text-box {
  position: relative;
  float: left;
  width: calc(100% - 40px);
}

.text-box > .text {
  border: 0;
  background: 0;
  height: 44px;
  font-size: 18px;
  color: #d8f4ff;
}

.me > [type="checkbox"].filled-in:not(:checked) + label:after {
  border: 2px solid #5e6ebf;
}

.me > [type="checkbox"].filled-in:checked.chk-col-deep-purple + label:after {
  border: 2px solid #5e6ebf;
  background-color: rgba(0, 0, 0, 0);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #d8f4ff;
  -webkit-text-fill-color: #d8f4ff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.vjs-tech {
  width: 100%;
  height: auto;
}

.password-state {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.password-state,
.password-state a {
  color: #5e6ebf;
}

.password-state,
.password-state a {
  color: #5e6ebf;
}

.password-state a:hover {
  opacity: 0.8;
}
