<!-- <div class="login-content login-panel">
  <div class="flex-item-center fill-width fill-height" fxLayoutAlign="center">
    <div style="margin-top: 6%">
      <h2 class="text-center m-b-20">修改密码</h2>
      <div class="blue-parting-line"></div>
      <div>
        <form [formGroup]="form">
          <div class="flex-item-center m-t-20">
            <div class="input-box">
              <div class="icon-box">
                <div class="mdi mdi-key f-s-20"></div>
                <div class="line"></div>
              </div>
              <div class="text-box">
                <input
                  class="form-control text"
                  type="password"
                  #userName
                  formControlName="password"
                  placeholder="请输入新密码"
                />
              </div>
            </div>
            <div>字母和数字必须至少有1个，6-18个字符</div>
            <div class="input-box">
              <div class="icon-box">
                <div class="mdi mdi-key-change f-s-20"></div>
                <div class="line"></div>
              </div>
              <div class="text-box">
                <input
                  class="form-control text"
                  type="password"
                  #userName
                  formControlName="repeat"
                  placeholder="请确认新密码"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="fill-width password-state" style="line-height: 1"></div>
        <div class="flex-item-center m-t-0">
          <button class="btn login-btn" (click)="changing()">
            <h2 class="m-0">确认修改</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="login-content">
  <h2 class="login-content__header">修改密码</h2>
  <div class="login-content__line"></div>

  <form class="login-form" [formGroup]="form">
    <div class="form-group">
      <div class="mdi mdi-cellphone-iphone form-group__icon"></div>
      <input
        class="form-control text"
        type="password"
        #userName
        formControlName="password"
        placeholder="请输入新密码"
      />
    </div>
    <div class="prompt">字母和数字必须至少有1个，6-18个字符</div>
    <div class="form-group">
      <div class="mdi mdi-comment-outline form-group__icon"></div>
      <input
        class="form-control text"
        type="password"
        #userName
        formControlName="checkCode"
        placeholder="请确认新密码"
      />
    </div>
    <div class="form-group form-group--button" (click)="changing()">
      <button class="form-group__button" type="button">确认修改</button>
    </div>
  </form>
</div>
