.cov-video-player {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}

button:focus {
  outline: none;
  box-shadow: unset;
}


.header-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  margin-top: 3%;
  background-image: -webkit-linear-gradient(bottom, #7f94ff, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-parting-line {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, alpha(#000, 0), rgb(105, 151, 255, 0.4), alpha(#000, 0));
}

.flex-item-center {
  height: 130px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-item-center .input-box {
  z-index: 19;
  position: relative;
  height: 50px;

  border: 2px solid #5e6ebf;
  font-size: 12px;
  border-radius: 4px;
  line-height: 50px;
  width: 362px;
}


.flex-item-center .input-box input {
  width: 100%;
}

.input-box>.icon-box {
  float: left;
  width: 40px;
  text-align: center;
  line-height: 46px;
}

.f-s-20 {
  font-size: 20px;
  color: #cfd7ff;
}

.icon-box .line {
  width: 2px;
  height: 32px;
  background-color: #5e6ebf;
  position: absolute;
  left: 40px;
  top: 6px;
}

.input-box .text-box {
  position: relative;
  float: left;
  width: calc(100% - 40px);
}

.text-box>.text {
  border: 0;
  background: 0;
  height: 44px;
  font-size: 18px;
  color: #d8f4ff;
}

.me>[type="checkbox"].filled-in:not(:checked)+label:after {
  border: 2px solid #5e6ebf;
}

.me>[type="checkbox"].filled-in:checked.chk-col-deep-purple+label:after {
  border: 2px solid #5e6ebf;
  background-color: rgba(0, 0, 0, 0.0);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #d8f4ff;
  -webkit-text-fill-color: #d8f4ff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.vjs-tech {
  width: 100%;
  height: auto;
}

.password-state {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.password-state,
.password-state a {
  color: #5e6ebf;
}

.password-state,
.password-state a {
  color: #5e6ebf;
}

.password-state a:hover {
  opacity: 0.8;
}
