.ai-garbage-station-device-status {
  color: #cfd7ff;

  &-head {
    margin-bottom: 10px;
  }

  &-body {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .form {
      &-groups {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        flex-direction: column;
        width: 500px;
      }
    }

    &-device {
      width: 420px;
    }
  }

  &-windows {
    margin: 0 -5px;

    &-tab {

      display: flex;
      justify-content: flex-start;


      .second-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-content {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      &-item {
        width: 50%;

        &-title {}

        &-value {
          color: white;
        }
      }

      &-foot {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }


}
