<div class="ai-garbage-station-device-status" *ngIf="!!model">
  <div class="ai-garbage-station-device-status-head">
    <div class="hw-simple-title">{{ model.Name }}状态</div>
  </div>
  <div class="ai-garbage-station-device-status-body">
    <div class="ai-garbage-station-device-status-body-device">
      <ai-garbage-station-device-status-device
        [model]="model"
      ></ai-garbage-station-device-status-device>
    </div>

    <div class="form-groups" *ngIf="isrobot || isgcha">
      <div class="panel" *ngIf="isrobot">
        <ai-garbage-station-device-status-robot
          [models]="robots"
        ></ai-garbage-station-device-status-robot>
      </div>
      <div class="panel" *ngIf="isgcha">
        <ai-garbage-station-device-status-gcha
          [gcha]="gcha"
        ></ai-garbage-station-device-status-gcha>
      </div>
    </div>
  </div>
</div>
