<div class="ai-garbage-station-device-status" *ngIf="!!model">
  <div class="ai-garbage-station-device-status-head">
    <div class="hw-simple-title">{{ model.Name }}状态</div>
  </div>
  <div class="ai-garbage-station-device-status-body">
    <div class="panel form-group" *ngIf="!!model.Status">
      <div class="form-item">
        <div class="form-item-title">在线状态</div>
        <div
          class="form-item-value"
          [ngClass]="{
            'green-text': model.Status.OnlineState === 0,
            'powder-red-text': model.Status.OnlineState !== 0
          }"
        >
          {{ model.Status.OnlineState === 0 ? "在线" : "离线" }}
        </div>
      </div>
      <div class="form-item" *ngIf="model.Status.ExhaustFan !== undefined">
        <div class="form-item-title">排风扇开关状态</div>
        <div
          class="form-item-value"
          [ngClass]="{
            'green-text': model.Status.ExhaustFan !== 1,
            'powder-red-text': model.Status.ExhaustFan === 1
          }"
        >
          {{ model.Status.ExhaustFan === 1 ? "关闭" : "打开" }}
        </div>
      </div>
      <div class="form-item" *ngIf="model.Status.Spray !== undefined">
        <div class="form-item-title">香氛喷洒开关状态</div>
        <div
          class="form-item-value"
          [ngClass]="{
            'green-text': model.Status.Spray !== 1,
            'powder-red-text': model.Status.Spray === 1
          }"
        >
          {{ model.Status.Spray === 1 ? "打开" : "关闭" }}
        </div>
      </div>
      <div class="form-item" *ngIf="model.Status.RfidReader !== undefined">
        <div class="form-item-title">RFID读卡器状态</div>
        <div
          class="form-item-value"
          [ngClass]="{
            'green-text': model.Status.RfidReader === 0,
            'powder-red-text': model.Status.RfidReader === 1
          }"
        >
          {{ model.Status.RfidReader === 1 ? "异常" : "正常" }}
        </div>
      </div>
      <div class="form-item" *ngIf="model.Status.GateState !== undefined">
        <div class="form-item-title">大门开关状态</div>
        <div
          class="form-item-value"
          [ngClass]="{
            'green-text': model.Status.GateState === 0,
            'powder-red-text': model.Status.GateState !== 0
          }"
        >
          {{ model.Status.GateState === 0 ? "关闭" : "打开" }}
        </div>
      </div>
      <div class="form-item" *ngIf="model.Status.AirPumpPower !== undefined">
        <div class="form-item-title">气泵电源状态</div>
        <div
          class="form-item-value"
          [ngClass]="{
            'green-text': model.Status.AirPumpPower === 0,
            'powder-red-text': model.Status.AirPumpPower === 1
          }"
        >
          {{ model.Status.AirPumpPower === 1 ? "上电" : "断电" }}
        </div>
      </div>
      <div class="form-item" *ngIf="model.Status.AirPumpPressure !== undefined">
        <div class="form-item-title">气泵压强数值，单位：pa</div>
        <div class="form-item-value">
          {{ model.Status.AirPumpPressure }}
        </div>
      </div>
      <div class="form-item" *ngIf="model.Status.GasSensor !== undefined">
        <div class="form-item-title">气体检测传感器数值</div>
        <div class="form-item-value">
          {{ model.Status.GasSensor }}
        </div>
      </div>
      <div class="form-item" *ngFor="let state of model.Status.SwitchStates">
        <div class="form-item-title">{{ state.Name }}</div>
        <div
          class="form-item-value"
          [ngClass]="{
            'green-text': state.State,
            'powder-red-text': !state.State
          }"
        >
          {{ state.State ? "是" : "否" }}
        </div>
      </div>
      <div class="form-item" *ngIf="model.Status.LastUpdateTime">
        <div class="form-item-title">最后更新时间</div>
        <div class="form-item-value" style="width: 150px">
          {{ model.Status.LastUpdateTime | date : "yyyy-MM-dd HH:mm:ss" }}
        </div>
      </div>
    </div>
  </div>
</div>
