<div class="device-state" [class.inside]="inside">
  <div class="device-state__head" *ngIf="!inside">
    <div class="title">{{ title }}</div>
  </div>
  <div class="device-state__wrapper">
    <div class="device-state__item">
      <div class="device-state__body">
        <div
          class="chart-container"
          id="chartContainer"
          #chartContainer
          (resized)="onResized($event)"
        ></div>
        <div class="chart-des">
          <div class="chart-des__label">系统设备在线比</div>
          <div class="chart-des__ratio" [style.color]="stateRatioColor">
            <span class="num">{{ model.onLineRatio }}</span
            ><span class="unit">{{ model.unit }}</span>
          </div>
        </div>
      </div>
      <div class="device-state__foot">
        <div
          *ngFor="let item of model.deviceStateArr"
          class="device-state__foot__item"
          (click)="onclick(item)"
        >
          <div class="item-label">{{ item.label }}</div>
          <div class="item-num" [ngClass]="item.tagCls">
            <span>{{ item.count }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
