<app-window [style]="style" [Model]="Model" *ngIf="!!model">
  <div class="garbage-collection-member-details-window">
    <div class="garbage-collection-member-details-window-header">
      <div class="hw-simple-title">人员信息</div>
    </div>
    <div class="garbage-collection-member-details-window-content">
      <div class="garbage-collection-member-details-window-content-form">
        <div
          class="garbage-collection-member-details-window-content-form-item full"
        >
          <div
            class="garbage-collection-member-details-window-content-form-item-title hw-form-label"
          >
            姓名
          </div>
          <div
            class="garbage-collection-member-details-window-content-form-item-value"
          >
            <input type="text" [(ngModel)]="model.Name" />
          </div>
        </div>
        <div class="garbage-collection-member-details-window-content-form-item">
          <div
            class="garbage-collection-member-details-window-content-form-item-title hw-form-label"
          >
            手机号码
          </div>
          <div
            class="garbage-collection-member-details-window-content-form-item-value"
          >
            <input type="text" [(ngModel)]="model.MobileNo" />
          </div>
        </div>
        <div class="garbage-collection-member-details-window-content-form-item">
          <div
            class="garbage-collection-member-details-window-content-form-item-title hw-form-label"
          >
            编号
          </div>
          <div
            class="garbage-collection-member-details-window-content-form-item-value"
          >
            <input
              type="number"
              (touchSpinChange)="onNoChanged($event)"
              [min]="10000"
              appTouchSpin
              [(ngModel)]="model.No"
            />
          </div>
        </div>
        <div class="garbage-collection-member-details-window-content-form-item">
          <div
            class="garbage-collection-member-details-window-content-form-item-title hw-form-label"
          >
            性别
          </div>
          <div
            class="garbage-collection-member-details-window-content-form-item-value"
          >
            <gender-select [(selected)]="model.Gender"></gender-select>
          </div>
        </div>

        <div class="garbage-collection-member-details-window-content-form-item">
          <div
            class="garbage-collection-member-details-window-content-form-item-title hw-form-label"
          >
            类型
          </div>
          <div
            class="garbage-collection-member-details-window-content-form-item-value"
          >
            <collection-member-type-select
              [(selected)]="model.MemberType"
            ></collection-member-type-select>
          </div>
        </div>

        <div
          class="garbage-collection-member-details-window-content-form-item full"
        >
          <div
            class="garbage-collection-member-details-window-content-form-item-title hw-form-label"
          >
            描述信息
          </div>
          <div
            class="garbage-collection-member-details-window-content-form-item-value"
          >
            <textarea [(ngModel)]="model.Note"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="garbage-collection-member-details-window-footer">
      <button class="hw-green-m-btn" type="button" (click)="onyes()">
        <i class="howell-icon-Check"></i>
      </button>

      <button class="hw-gray-m-btn" type="button" (click)="oncancel()">
        <i class="howell-icon-Close"></i>
      </button>
    </div>
  </div>
</app-window>
