<div class="common-select">
  <div class="select-header" (click)="toggleHandler()">
    <div class="placeholder" *ngIf="!selectedItems.length">请选择</div>
    <div class="wrapper">
      <div class="select-item">
        <div class="title"></div>
      </div>
    </div>
    <button class="btn">
      <i
        class="mdi"
        [class]="{ 'mdi-menu-down': !show, 'mdi-menu-up': show }"
      ></i>
    </button>
  </div>
  <!-- <div class="select-body" *ngIf="show" (click)="selectChange($event)">
    <div
      commonSelectOption
      class="select-option"
      *ngFor="let option of options"
      [innerHTML]="option.title"
      [attr.value]="option.value"
    ></div>
  </div> -->
  <div class="select-body" *ngIf="show" (click)="selectChange($event)">
    <ng-content></ng-content>
  </div>
</div>
