<div class="illegal-mixinto">
  <div class="rank-head">
    <div class="title">{{ title }}</div>

    <div class="select-group">
      <select class="event-type" [(ngModel)]="eventType" (change)="onchange()">
        <option [ngValue]="EventType.IllegalDrop">
          {{ Language.EventType(EventType.IllegalDrop) }}
        </option>
        <option [ngValue]="EventType.MixedInto">
          {{ Language.EventType(EventType.MixedInto) }}
        </option>
      </select>
      <select class="time-unit" [(ngModel)]="unit" (change)="onchange()">
        <option [ngValue]="TimeUnit.Day">今日</option>
        <option [ngValue]="TimeUnit.Week">本周</option>
        <option [ngValue]="TimeUnit.Month">本月</option>
      </select>
    </div>
  </div>
  <app-rank [data]="rankData" (itemClickedEvent)="onItemClicked($event)">
  </app-rank>
</div>
