<div class="illegal-mixinto">
  <div class="rank-head">
    <div class="title">{{ title }}</div>

    <div class="select-group">
      <select
        class="resource-type"
        [(ngModel)]="resourceType"
        (change)="onchange()"
        *ngIf="resourceTypeDisplay"
      >
        <option
          [ngValue]="UserResourceType.County"
          *ngIf="global.divisionType === DivisionType.City"
        >
          {{ Language.UserResourceType(UserResourceType.County) }}
        </option>
        <option [ngValue]="UserResourceType.Committees">
          {{ Language.UserResourceType(UserResourceType.Committees) }}
        </option>
        <option
          [ngValue]="UserResourceType.Station"
          *ngIf="global.divisionType !== DivisionType.City"
        >
          {{ Language.UserResourceType(UserResourceType.Station) }}
        </option>
      </select>

      <select class="event-type" [(ngModel)]="eventType" (change)="onchange()">
        <option [ngValue]="EventType.IllegalDrop">
          {{ Language.EventType(EventType.IllegalDrop) }}
        </option>
        <option [ngValue]="EventType.MixedInto">
          {{ Language.EventType(EventType.MixedInto) }}
        </option>
      </select>
    </div>
  </div>
  <app-rank [data]="rankData" (itemClickedEvent)="onItemClicked($event)">
  </app-rank>
</div>
