<div class="aiop-user-log-record-table">
  <div class="aiop-user-log-record-table-main">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      matSort
      (matSortChange)="sortData($event)"
    >
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <td [mat-sort-header]="'ResourceName'" [disableClear]="true">
            资源名称
          </td>
          <td [mat-sort-header]="'ResourceType'" [disableClear]="true">
            资源类型
          </td>
          <td [mat-sort-header]="'OnlineStatus'" [disableClear]="true">状态</td>
          <td [mat-sort-header]="'Time'" [disableClear]="true">时间</td>
        </tr>
      </thead>
    </table>
    <div class="body">
      <table
        *ngIf="datas"
        border="0"
        cellpadding="0"
        cellspacing="0"
        [ngStyle]="{
          height: table_height
        }"
      >
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr *ngFor="let item of datas; let i = index">
            <td>
              {{ item.ResourceName }}
            </td>
            <td>
              {{ Language.ResourceType(item.ResourceType) }}
            </td>
            <td>
              <div
                [ngClass]="{
                  'green-text': item.OnlineStatus === 0,
                  'powder-red-text': item.OnlineStatus !== 0
                }"
              >
                {{ item.OnlineStatus === 0 ? "上线" : "下线" }}
              </div>
            </td>

            <td>{{ item.Time | date : "yyyy-MM-dd HH:mm:ss" }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="aiop-user-log-record-table-main-footer footer">
      <div></div>
      <div class="footer-item" *ngIf="page">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <app-paginator
          [length]="page ? page.TotalRecordCount : 0"
          [pageSize]="page ? page.PageSize : 0"
          [pagerCount]="5"
          [pageIndex]="page.PageIndex - 1"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
