<div class="garbage-station-window-general">
  <div class="filter">
    <div class="filter-items">
      <div class="filter-item">
        <span>选择时间</span>
        <input
          type="text"
          DateTimePicker
          [format]="dateTimePickerConfig.format"
          [startView]="dateTimePickerConfig.view"
          [minView]="dateTimePickerConfig.view"
          [week]="dateTimePickerConfig.week"
          [date]="date"
          (change)="changeDate($event)"
          class=""
        />
      </div>
      <div class="filter-item">
        <span>行政区</span>
        <howell-division-tree-filter
          (select)="ondivisionselect($event)"
          [align]="treeAlign"
          [division]="division"
        ></howell-division-tree-filter>
      </div>
      <button class="hw-blue-btn search" (click)="search()">查询</button>
      <button class="hw-blue-btn excel">导出</button>
      <button class="hw-blue-btn csv">CSV</button>
    </div>
    <div class="filter-items">
      <div class="filter-item select">
        <app-select-control
          class="list-type-select"
          [data]="units"
          (select)="ontimeunit($event)"
        ></app-select-control>
      </div>
    </div>
  </div>
  <div class="garbage-station-window-general-content">
    <howell-garbage-station-statistic-table
      [unit]="unit"
      [date]="date"
      [divisionId]="filterId"
      [load]="load"
    >
    </howell-garbage-station-statistic-table>
  </div>
</div>
