.garbage-station-window-general {
  height: 100%;

  @filter-height: 34px;
  @filter-margin-bottim: 10px;

  &-filter {
    height: @filter-height;
    margin-bottom: @filter-margin-bottim;
  }

  &-content {
    height: calc(100% - @filter-height - @filter-margin-bottim);
  }
}
