<div class="garbage-station-window-general">
  <ng-content></ng-content>
  <div class="garbage-station-window-general-filter filter">
    <div class="filter-items">
      <div class="filter-item">
        <div class="filter-item-title">选择时间</div>
        <input
          type="text"
          class="filter-item-value"
          DateTimePicker
          [format]="dateTimePickerConfig.format"
          [startView]="dateTimePickerConfig.view"
          [minView]="dateTimePickerConfig.view"
          [week]="dateTimePickerConfig.week"
          [(date)]="date"
        />
      </div>
      <div class="filter-item">
        <div class="filter-item-title">行政区</div>
        <div class="filter-item-value">
          <level-division-panel
            [cannull]="true"
            (selectedChange)="ondivision($event)"
          ></level-division-panel>
        </div>
      </div>
      <button class="hw-blue-btn search" (click)="search()">
        <i class="mdi mdi-magnify"></i> 查询
      </button>
      <button class="hw-blue-btn excel" (click)="exportExcel()">
        <i class="howell-icon-export"></i> 导出
      </button>
      <button class="hw-blue-btn csv" (click)="exportCSV()">
        <i class="howell-icon-export"></i> CSV
      </button>
    </div>
    <div class="filter-items">
      <div class="filter-item select">
        <!-- <app-select-control
          class="list-type-select"
          [data]="units"
          (selectedChange)="ontimeunit($event)"
        ></app-select-control> -->
        <select [(ngModel)]="unit" (change)="ontimeunit()">
          <option [ngValue]="item.value" *ngFor="let item of units">
            {{ item.Name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="garbage-station-window-general-content">
    <howell-garbage-station-statistic-table
      [unit]="unit"
      [date]="date"
      [divisionId]="filterId"
      [load]="load"
      (loaded)="loaded($event)"
    >
    </howell-garbage-station-statistic-table>
  </div>
</div>
