<div class="howell-sidenav">
    <nav>
        <button class='btn'>
            <i class="howell-icon-device2"></i>
            <span>监管平台</span>
        </button>
        <ul *ngIf="!shrink">
            <li>
                <a data-link="/aiop/aiop-manage/monitor-platform/deploy-map">地图布控</a>
            </li>
            <li>
                <a data-link="/aiop/aiop-manage/monitor-platform/division-manage">区划管理</a>
            </li>
            <li>
                <a data-link="/aiop/aiop-manage/monitor-platform/garbage-station-manage">垃圾厢房管理</a>
            </li>
        </ul>
    </nav>
</div>