.event-record-card {
    cursor: pointer;
    background: rgba(117, 134, 224, 0.15);

    &-header {
        display: flex;
        justify-content: space-between;

        .operation {
            display: flex;
            justify-content: space-around;
        }
    }

    &-body {}

    &-footer {
        display: flex;
        justify-content: space-between;
    }
}