<div class="event-record-card" (click)="onCardClick($event)">
    <div class="event-record-card-header">
        <div class="event-record-card-header-left">
            <span>{{ model.name }}</span>
        </div>
        <div class="event-record-card-header-right">
            <div class="operation">
                <button
                  class="icon-button"
                  title="播放视频"
                  (click)="onPlayVideo($event)"
                >
                  <i class="howell-icon-video"></i></button
                ><button
                  class="icon-button"
                  title="下载图片"
                  (click)="onDownloadImage($event)"
                >
                  <i class="howell-icon-picturedownload"></i></button
                ><button
                  class="icon-button"
                  title="下载视频"
                  (click)="onDownloadVideo($event)"
                >
                  <i class="howell-icon-videodownload"></i>
                </button>
            </div>
            <div class="time">
                {{ dateFormat }}
            </div>
        </div>
    </div>
    <div class="event-record-card-body">        
        <img [src]="model.img">
    </div>
    <div class="event-record-card-footer">
        <div class="event-record-card-footer-left">
            {{ model.parent? model.parent.Name :"" }}
        </div>
        <div class="event-record-card-footer-right">
            {{ model.station? model.station.Name :"" }}
        </div>
    </div>
</div>