.garbage-drop-station-table-window {
  width: 100%;
  height: 100%;

  @head-height: 73px;

  &-head {
    height: @head-height;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .hw-second-title {
      flex-grow: 0;
    }

    &-content {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  &-body {
    height: calc(100% - @head-height);
  }
}
