<app-window [Model]="Model" [style]="style">
  <ng-container *ngIf="Model.show">
    <div class="garbage-drop-station-table-window">
      <div class="garbage-drop-station-table-window-head">
        <div class="hw-second-title">
          {{
            Language.json.garbage + Language.json.stay + Language.json.station
          }}
        </div>
        <div class="garbage-drop-station-table-window-head-content">
          <div class="garbage-drop-station-table-window-head-content-list">
            <div
              class="second-menu-btn"
              [class.selected]="index === Index.list"
              (click)="indexChange(Index.list)"
            >
              列表
            </div>
            <div
              class="second-menu-btn"
              [class.selected]="index === Index.count"
              (click)="indexChange(Index.count)"
              *ngIf="ui !== UserUIType.dapuqiao"
            >
              总图表
            </div>
            <div
              class="second-menu-btn"
              [class.selected]="index === Index.dapuqiao_count"
              (click)="indexChange(Index.dapuqiao_count)"
              *ngIf="ui === UserUIType.dapuqiao"
            >
              总图表
            </div>
            <div
              class="second-menu-btn"
              [class.selected]="index === Index.details"
              (click)="indexChange(Index.details)"
            >
              细分图表
            </div>
          </div>
          <div class="operation" *ngIf="index == Index.list">
            <app-input-search-options (search)="onsearch($event)">
            </app-input-search-options>
          </div>
        </div>
      </div>
      <div class="garbage-drop-station-table-window-body">
        <ng-container *ngIf="index == Index.list">
          <howell-garbage-drop-station-table
            [load]="load"
            [divisionId]="divisionId"
            (image)="onimage($event)"
            (position)="onposition($event)"
          >
          </howell-garbage-drop-station-table>
        </ng-container>
        <ng-container *ngIf="index == Index.count">
          <howell-garbage-drop-station-window-count>
          </howell-garbage-drop-station-window-count>
        </ng-container>
        <ng-container *ngIf="index == Index.dapuqiao_count">
          <dapuqiao-garbage-drop-station-window-count>
          </dapuqiao-garbage-drop-station-window-count>
        </ng-container>
        <ng-container *ngIf="index === Index.details">
          <howell-details-chart
            [types]="type"
            [business]="details"
            [division]="details.division"
          >
          </howell-details-chart>
        </ng-container>
      </div>
    </div>
  </ng-container>
</app-window>
