<div class="patrol-control" *ngIf="selected">
  <div class="patrol-control-header">
    <div class="title" [class.hide]="!config.title">
      <div>投放点巡检</div>
      <div
        class="spinner-border green-text"
        [ngClass]="{
          'spinner-border': captureing,
          circle: !captureing
        }"
      ></div>
    </div>
    <div
      class="name"
      [ngClass]="{
        'green-text': selected.status.online == OnlineStatus.Online,
        'red-text': selected.status.online == OnlineStatus.Offline
      }"
    >
      {{ selected.title }}
    </div>
    <div class="operation">
      <div class="interval" [class.hide]="!config.interval">
        <select
          *ngIf="interval.time"
          [(ngModel)]="interval.time"
          (change)="timeSelect()"
        >
          <option [ngValue]="item" *ngFor="let item of interval.times">
            {{ item }}s
          </option>
        </select>
      </div>
      <div
        class="playback"
        (click)="openplayback()"
        *ngIf="!!playing && config.playback"
        title="回放预览中的视频"
      >
        <i class="howell-icon-film text-white"></i>
      </div>
      <div class="reflush" (click)="onreflush()" title="刷新图片">
        <i class="mdi mdi-refresh text-white"></i>
      </div>
      <div class="fullscreen" (click)="onfullscreen()">
        <i class="mdi mdi-fullscreen text-white"></i>
      </div>
      <div class="" (click)="onclose()" [class.none]="!config.close">
        <i class="howell-icon-Close"></i>
      </div>
    </div>
  </div>
  <div class="patrol-control-content">
    <app-image-video-mult-control
      [models]="selected.media"
      [operation]="config.operation"
      [playback]="toPlayback"
      [fullplay]="false"
      [change]="change"
      (onplayed)="onvideoplayed($event)"
      (onstoped)="onvideostoped($event)"
    >
    </app-image-video-mult-control>
  </div>
  <div class="patrol-control-footer">
    <div class="status light-blue-text" [class.hide]="!config.status">
      <div>
        <i class="howell-icon-nolittering sky-blue-text2"></i
        ><label>{{ selected.status.illegalDrop }}</label>
      </div>
      <div>
        <i class="howell-icon-mixlittering sky-blue-text2"></i
        ><label>{{ selected.status.mixedInto }}</label>
      </div>
      <div *ngIf="selected.status.stationState">
        <i class="howell-icon-fullgarbage sky-blue-text2"></i
        ><label [class]="selected.status.stationState.class">{{
          selected.status.stationState.language
        }}</label>
      </div>
    </div>
    <div class="operation">
      <div class="howell-icon-arrowleftbold arrow-wrap" (click)="prev()"></div>

      <div
        class="arrow-wrap mdi mdi-play center"
        title="播放"
        *ngIf="!interval.runing"
        [class.hide]="!config.stop"
        (click)="run()"
      ></div>
      <div
        class="arrow-wrap mdi mdi-stop center"
        title="停止"
        *ngIf="interval.runing"
        [class.hide]="!config.stop"
        (click)="stop()"
      ></div>

      <div class="howell-icon-arrowrightbold arrow-wrap" (click)="next()"></div>
    </div>
    <div class="paged">
      {{ page ? page.PageIndex : 0 }}/{{ page ? page.TotalRecordCount : 0 }}
    </div>
  </div>
</div>

<app-window [Model]="playback" [style]="playback.styles">
  <ng-container *ngIf="playback.show">
    <app-playback-config
      (OnOKClicked)="playback.ok($event)"
      (OnCancelClicked)="playback.cancel()"
    >
    </app-playback-config>
  </ng-container>
</app-window>
