<div class="patrol-control" *ngIf="selected">
  <div class="patrol-control-header">
    <div class="title">
      <div>投放点巡检</div>
      <div class="spinner-border spinner-border-sm green-text"></div>
    </div>
    <div
      class="name"
      [ngClass]="{
        'green-text': selected.status == OnlineStatus.Online,
        'red-text': selected.status == OnlineStatus.Offline
      }"
    >
      {{ selected.title }}
    </div>
    <div class="operation">
      <div class="interval"></div>
      <div class="reflush" (click)="onreflush()">
        <i class="howell-icon-restore text-white"></i>
      </div>
      <div class="fullscreen" (click)="onfullscreen()">
        <i class="mdi mdi-fullscreen text-white"></i>
      </div>
      <div class="close" (click)="onclose()">
        <i class="howell-icon-Close alert-window-close-btn text-white"></i>
      </div>
    </div>
  </div>
  <div class="patrol-control-content">
    <app-image-video-mult-control [models]="selected.media">
    </app-image-video-mult-control>
  </div>
  <div class="patrol-control-footer">
    <div class="status">状态</div>
    <div class="operation">
      <div
        class="howell-icon-arrowleftbold arrow-wrap"
        (click)="prev($event)"
      ></div>
      <div class=""></div>
      <div
        class="howell-icon-arrowrightbold arrow-wrap"
        (click)="next($event)"
      ></div>
    </div>
    <div class="paged">{{ index + 1 }}/{{ models ? models.length : 0 }}</div>
  </div>
</div>
