<div class="label-operate">
  <div class="label-content">
    <div class="label-pool">
      <div class="hw-simple-title">所有标签</div>
      <div class="operate-item">
        <howell-simple-search
          #searchPool
          (searchEvent)="searchPoolEvent($event)"
        >
        </howell-simple-search>
        <button type="button" class="hw-cyan-btn" (click)="addLabel()">
          <i class="howell-icon-plus"></i>
        </button>
      </div>

      <div class="wrapper">
        <div
          class="select-item select-item--green"
          [class.high-light]="highLight(label)"
          *ngFor="let label of allLables"
          (click)="selectLabel(label)"
        >
          <div class="title">{{ label.Name }}</div>
          <div class="close-btn" (click)="deleteLabel($event, label)">
            <i class="howell-icon-Close"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="label-native">
      <div class="hw-simple-title">资源标签</div>
      <div class="operate-item">
        <howell-simple-search
          #searchNative
          (searchEvent)="searchNativeEvent($event)"
        ></howell-simple-search>
      </div>

      <div class="wrapper">
        <div
          class="select-item select-item--blue"
          *ngFor="let label of resourceLabels"
        >
          <div class="title">{{ label.Name }}</div>
          <div class="close-btn" (click)="deleteResourceLabel(label)">
            <i class="howell-icon-Close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
