<div class="garbage-vehicle-camera-binding">
  <!-- <div class="garbage-vehicle-camera-binding-header hw-simple-title">
    摄像机绑定
  </div> -->
  <div class="horizontal-layout garbage-vehicle-camera-binding-content">
    <div
      class="horizontal-left garbage-vehicle-camera-binding-content-left vertical-layout"
    >
      <div
        class="garbage-vehicle-camera-binding-content-left-header vertical-header"
      >
        <div class="hw-simple-title">已绑定摄像机</div>
      </div>
      <div
        class="garbage-vehicle-camera-binding-content-left-content vertical-main"
      >
        <garbage-vehicle-camera-tree> </garbage-vehicle-camera-tree>
      </div>
    </div>
    <div class="garbage-vehicle-camera-binding-content-center"></div>
    <div
      class="horizontal-right garbage-vehicle-camera-binding-content-right vertical-layout"
    >
      <div
        class="garbage-vehicle-camera-binding-content-right-header vertical-header"
      >
        <div class="hw-simple-title">未绑定摄像机</div>
      </div>
      <div
        class="garbage-vehicle-camera-binding-content-right-content vertical-main"
      >
        <garbage-vehicle-camera-binding-aicamera>
        </garbage-vehicle-camera-binding-aicamera>
      </div>
    </div>
  </div>
</div>
