.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  i {
    margin-right: 3px;
    &:first-child {
      margin-left: 3px;
    }
    &:last-child{
      margin-right: 0;;
    }
  }
}
