<div *ngIf="model" class="image-control" (click)="onClick($event)">
  <div *ngIf="nosignal" class="error">
    <div *ngIf="model.status != OnlineStatus.Online">NO SIGNAL</div>
  </div>
  <!-- <img [src]="model.src" (error)="onError($event)" [title]="model.name" /> -->
  <div
    class="img"
    [ngClass]="{
      contain: contain
    }"
    [title]="model.name"
    [ngStyle]="image"
  ></div>
  <canvas
    class="img"
    [ngClass]="{
      contain: contain
    }"
    #canvas
    *ngIf="draw"
  ></canvas>
</div>
