<div class="camera-manage hw-horizontal-layout">
  <ng-container *ngIf="showOperate">
    <howell-camera-operate
      [state]="state"
      [cameraId]="cameraId"
      (closeEvent)="closeForm($event)"
    ></howell-camera-operate>
  </ng-container>

  <div class="horizontal-left">
    <div class="hw-simple-title" style="margin-bottom: 10px">安保区域</div>
    <howell-region-tree
      (selectTreeNode)="selectRegionTreeNode($event)"
    ></howell-region-tree>
  </div>
  <div class="horizontal-right hw-table-layout">
    <div class="hw-operation">
      <div class="hw-simple-title">监控点</div>
      <div class="hw-operate-bar wrap">
        <div class="left-wrapper">
          <div class="hw-normal-btn-group">
            <button
              class="hw-green-btn"
              [disabled]="!enableAddBtn"
              (click)="addBtnClick()"
            >
              <i class="howell-icon-plus"></i>
              添加
            </button>
            <button
              class="hw-red-btn"
              [disabled]="!enableDelBtn"
              (click)="deleteBtnClick()"
            >
              <i class="howell-icon-delete-bin"></i>
              删除
            </button>
            <button class="hw-cyan-btn">
              <i class="mdi mdi-tag"></i>
              绑定标签
            </button>
            <button
              class="hw-blue-btn"
              [disabled]="!enableBindBtn"
              (click)="bindBtnClick()"
            >
              <i class="hw-icon-move2"></i>
              移动至
            </button>
          </div>
        </div>
        <div class="right-wrapper">
          <div class="search-wrapper">
            <input
              type="text"
              [disabled]="disableSearch"
              [(ngModel)]="searchInfo.condition"
              [placeholder]="placeHolder"
              (keyup.enter)="search()"
            />
          </div>
          <div class="hw-normal-btn-group">
            <button class="hw-blue-btn" (click)="search()">
              <i class="mdi mdi-magnify"></i>
              查询
            </button>
            <button class="hw-cyan-m-btn" (click)="toggleFilter()">
              <i class="mdi mdi-filter-outline"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="filter-wrapper" *ngIf="showFilter">
        <div class="filter-group" style="flex-basis: 20%">
          <div class="title"><span class="hw-form-label">名称:</span></div>
          <div class="content">
            <input
              type="text"
              [(ngModel)]="searchInfo.CameraName"
              placeHolder="请输入关键字"
            />
          </div>
        </div>
        <div class="filter-group">
          <div class="title"><span class="hw-form-label">类型:</span></div>
          <div class="content">
            <select
              class="hw-form-control hw-form-select"
              [(ngModel)]="searchInfo.CameraType"
            >
              <option value="">全部</option>
              <option value="1">枪机</option>
              <option value="2">球机</option>
              <option value="3">半球</option>
              <option value="4">一体机</option>
            </select>
          </div>
        </div>

        <div class="filter-group">
          <div class="title"><span class="hw-form-label">编码设备:</span></div>
          <div class="content">
            <select
              class="hw-form-control hw-form-select"
              [(ngModel)]="searchInfo.DeviceId"
            >
              <option value="">全部</option>
              <option *ngFor="let device of encodeDevices" [value]="device.Id">
                {{ device.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="filter-group">
          <div class="title"><span class="hw-form-label">选择标签:</span></div>
          <div class="content">
            <howell-label-list [selectedNodes]="selectedNodes">
              <howell-label-tree
                [defaultIds]="defaultIds"
                [selectStrategy]="selectStrategy"
                (selectTreeNode)="selectLabelTreeNode($event)"
              ></howell-label-tree>
            </howell-label-list>
          </div>
        </div>
      </div>
    </div>
    <div class="hw-table-container">
      <common-table
        [dataSubject]="dataSubject"
        [columnModel]="columnModel"
        [displayedColumns]="displayedColumns"
        [selectStrategy]="selectStrategy"
        [tableOperates]="tableOperates"
        (selectTableRow)="selectTableRow($event)"
      ></common-table>
    </div>

    <div class="hw-table-footer">
      <div class="footer-item">
        <app-table-select (tableSelect)="tableSelect($event)">
        </app-table-select>
      </div>

      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">已选择: {{ selectedRows.length }}</div>
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>
        <app-paginator
          *ngIf="page"
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="pagerCount"
          [pageIndex]="pageIndex - 1"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
