<div class="cov-video-player">
  <div class="video-js" id="videoWrap">
    <img
      src="assets/img/login.jpg"
      width="100%"
      height="100%"
      alt=""
      class="collapse"
    />
    <video
      class="vjs-tech"
      tabindex="-1"
      id="videoLogin"
      loop
      [muted]="'muted'"
      autoplay
      poster="assets/img/login.png"
    >
      <source src="assets/img/login.mp4" type="video/mp4" />
    </video>
  </div>
</div>

<div
  fxLayout="column wrap"
  class="fill-width fill-height"
  style="position: relative"
>
  <div fxFlex="36" class="fill-width" fxLayoutAlign="center center">
    <div class="login-panel-header">
      <h2 class="header-title">生活垃圾分类全程监管平台</h2>
    </div>
  </div>
  <div fxFlex="64" class="fill-width">
    <div class="pull-left" style="width: 50%"></div>
    <div class="pull-right" style="width: 50%">
      <app-password-change> </app-password-change>
    </div>
  </div>
</div>
