<div class="card-record-table">
  <div class="card-record-table-main">
    <table border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td>投放点</td>
          <td>区域</td>
          <td>楼栋</td>
          <td>房屋</td>
          <td>卡号</td>
          <td>刷卡时间</td>
          <td>干垃圾重量(KG)</td>
          <td>湿垃圾重量(KG)</td>
          <!-- <td>类别</td> -->
          <td class="operation center"><div>操作</div></td>
        </tr>
      </thead>
    </table>
    <div class="body">
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr *ngFor="let item of datas; let i = index">
            <td>{{ item.GarbageStationName }}</td>
            <td>{{ item.RegionName }}</td>
            <td>{{ item.BuildingNo }}</td>
            <td>{{ item.RoomNo }}</td>
            <td>{{ item.CardId }}</td>
            <td>{{ item.Time | date : "yyyy-MM-dd HH:mm:ss" }}</td>
            <td>
              <div class="center">
                <div style="width: 45px">{{ item.DryWeight }}</div>
              </div>
            </td>
            <td>
              <div class="center">
                <div style="width: 45px">{{ item.WetWeight }}</div>
              </div>
            </td>
            <td class="operation center">
              <div (click)="onvideo($event, item)" class="center">
                <i class="howell-icon-video"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-record-table-main-footer" *ngIf="page">
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <!-- MatPaginator 的pageIndex是从0开始-->
        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="page.PageIndex - 1"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
