.event-record-operation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  pointer-events: all;

  @input-width: 250px;
  gap: 10px;

  &-duration {}

  &-search {
    display: flex;
    justify-content: space-between;

    .search-option-select {
      width: 90px;
      color: #cfd7ff;
      border: 1px solid #5e6ebf;
      font-size: 18px;
      border-radius: unset;
      background-color: #1d233b;


      ::ng-deep {
        .select-head {
          justify-content: space-between !important;
          align-items: center;
        }

        .select-option {
          justify-content: start;
        }
      }
    }

  }


  input {
    width: @input-width;
    height: 32px;
    line-height: 32px;
  }

  button {
    width: 46px;
    height: 32px;
    font-size: 16px;
    margin: 0;

    &.search {
      width: 78px;
    }
  }

  ::ng-deep {
    .list-type-select {
      background-image: url(/assets/img/blue-btn.png);
      background-size: 100% 100%;
      height: 34px;
      width: 54px;
      margin-right: 10px;

      .select-control {
        select {
          background-color: transparent;

          &>option {
            background-color: black;
          }
        }
      }
    }

    .select-option {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
