<div class="event-record-operation">
  <div class="event-record-operation-search">
    <select [(ngModel)]="searchOption.key">
      <option [ngValue]="Key.name">
        {{ Language.SearchOption(Key.name) }}
      </option>
      <option [ngValue]="Key.community">
        {{ Language.SearchOption(Key.community) }}
      </option>
    </select>
    <input
      type="text"
      placeholder="输入关键字"
      [(ngModel)]="searchOption.text"
    />
  </div>
  <button type="button" class="hw-blue-btn search" (click)="onsearch()">
    <i class="mdi mdi-magnify"></i>
    查询
  </button>
  <button class="hw-cyan-m-btn" (click)="onfilter()">
    <i class="mdi mdi-filter-outline"></i>
  </button>
</div>
