<div class="illegal-drop vertical-layout">
  <div class="vertical-header">
    <div class="hw-second-title">乱扔垃圾</div>
    <div class="operate-bar inline-bar">
      <div class="left-wrapper">
        <common-tab
          [dataSource]="tabHeaders"
          (clickEvent)="clickTab($event)"
        ></common-tab>
      </div>
      <div class="right-wrapper"></div>
    </div>
  </div>
  <div class="vertical-main">
    <ng-container *ngComponentOutlet="componentExpression"></ng-container>
  </div>
</div>
