<div class="illegal-drop vertical-layout">
  <div class="vertical-header">
    <div class="hw-second-title">乱扔垃圾</div>
    <div class="operate-bar inline-bar">
      <div class="left-wrapper">
        <howell-tab-header [headers]="tabHeaders" (tabHeaderEvent)="tabHeaderEvent($event)"></howell-tab-header>
      </div>
      <div class="right-wrapper">

      </div>
    </div>
  </div>
  <div class="vertical-main">
    <ng-container *ngComponentOutlet="currentComponent"></ng-container>
  </div>
</div>