<div class="map-control">
  <div class="map-control-content">
    <iframe #iframe [src]="src" (load)="onLoad($event)" class=""></iframe>
  </div>
</div>

<ul class="map-bar status" *ngIf="display.status">
  <li class="normal">
    <div></div>
    正常
  </li>
  <li class="warm">
    <div></div>
    满溢
  </li>
  <li class="error">
    <div></div>
    异常
  </li>
</ul>

<div class="map-bar video-list" *ngIf="display.videoList">
  <div class="carousel prev" *ngIf="display.videoControl">
    <a class="carousel-control-prev" #video_list_prev>
      <div class="howell-icon-arrowleftbold blue-text arrow-wrap"></div>
    </a>
  </div>
  <div class="list">
    <ul class="ul">
      <ng-container *ngFor="let image of images">
        <!-- [ngClass]="{'error': camera.CameraState>0}" -->
        <li class="video">
          <app-image-control
            [model]="image"
            (Click)="onCameraClicked($event)"
          ></app-image-control>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="carousel next" *ngIf="display.videoControl">
    <a class="carousel-control-next" #video_list_next>
      <div class="howell-icon-arrowrightbold blue-text arrow-wrap"></div>
    </a>
  </div>
</div>

<!-- 
  [dataSource]="this.childrenOfList"
  (OnVisibilityChanged)="OnPanelVisibilityChanged($event)"
  (OnItemClicked)="OnPanelItemClicked($event)"
  (OnItemDoubleClicked)="OnPanelItemDoubleClicked($event)"
  (OnItemHover)="OnPanelItemHover($event)"
  (OnSearching)="OnSearching($event)" -->

<app-point-info-panel
  class="map-bar info-panel"
  *ngIf="info.vehicle"
  [business]="info"
  [Source]="info.vehicle"
  (GarbageRetentionClickedEvent)="
    onPointInfoPanelGarbageRetentionClickedEvent($event)
  "
  (IllegalDropClickedEvent)="onPointInfoPanelIllegalDropClickedEvent($event)"
  (MixedIntoClickedEvent)="onPointInfoPanelMixedIntoClickedEvent($event)"
  (StateClickedEvent)="onPointInfoPanelStateClickedEvent($event)"
  (option)="onpaneloption($event)"
></app-point-info-panel>

<!-- (StateClickedEvent)="onPanelStateClicked($event)"
(GarbageCountClickedEvent)="onPanelGarbageCountClicked($event)"
(IllegalDropClickedEvent)="onPanelIllegalDropClicked($event)"
(MixedIntoClickedEvent)="onPanelMixedIntoClicked($event)" -->

<app-window
  [Model]="window.confirm"
  [style]="window.confirm.style"
  *ngIf="window.confirm.show"
>
  <div class="confirm">
    <div class="confirm-head">
      <div class="hw-simple-title"><i class="mdi mdi-alert"></i> 请确认</div>
    </div>
    <div class="confirm-body">
      <div class="hw-simple-title">
        是否确定 远程{{ window.confirm.power ? "唤醒" : "关闭" }}？
      </div>
    </div>

    <div class="confirm-foot">
      <button
        class="hw-green-btn"
        (click)="onpower(window.confirm.model!, window.confirm.power)"
      >
        <i class="howell-icon-Check"></i> 确定
      </button>
      <button class="hw-blue-btn" (click)="onwindowclose()">
        <i class="howell-icon-Close"></i> 取消
      </button>
    </div>
  </div>
</app-window>
