.garbage-station-about {
  width: 100%;
  height: 100%;

  .garbage-station-header {
    display: flex;
    align-items: center;
    height: 60px;
  }
  // 为了使内部子元素通过margin-top移动位置，不能有BFC
  .garbage-station-main {
    height: calc(100% - 60px);
  }
}
