<app-window [Model]="Model" [style]="style">
  <ng-container *ngIf="Model.show">
    <app-tab-title [title]="Language.json.station">
      <div class="garbage-station-window-header">
        <div class="operation" *ngIf="index === Index.station">
          <app-input-search-options (search)="station.onsearch($event)">
          </app-input-search-options>
        </div>
        <div class="operation" *ngIf="index === Index.record">
          <howell-event-record-operation
            (filter)="record.filter.display()"
            (search)="record.filter.onsearch($event)"
          >
          </howell-event-record-operation>
        </div>
      </div>
    </app-tab-title>
    <div class="garbage-station-window-content">
      <mat-tab-group
        [disableRipple]="true"
        animationDuration="0ms"
        [color]="'transparent'"
        [selectedIndex]="index"
        (selectedIndexChange)="indexChange($event)"
      >
        <mat-tab label="列表">
          <ng-container *ngIf="index == Index.station">
            <howell-garbage-station-table
              [load]="station.load"
              [stationId]="stationId"
              [divisionId]="divisionId"
              (position)="onposition($event)"
              (image)="onimage($event)"
            >
            </howell-garbage-station-table>
          </ng-container>
        </mat-tab>
        <mat-tab label="小包垃圾滞留">
          <ng-container *ngIf="index == Index.stay">
            <howell-garbage-station-window-stay
              [stationId]="stationId"
              (image)="onimage($event)"
              (ondblclick)="onstaydblclick($event)"
            >
            </howell-garbage-station-window-stay>
          </ng-container>
        </mat-tab>
        <mat-tab label="总图表">
          <ng-container *ngIf="index == Index.general">
            <howell-garbage-station-window-general>
            </howell-garbage-station-window-general>
          </ng-container>
        </mat-tab>
        <mat-tab label="细分图表">
          <ng-container *ngIf="index == Index.details">
            <howell-garbage-station-window-details>
            </howell-garbage-station-window-details>
          </ng-container>
        </mat-tab>
        <mat-tab label="报警事件处置">
          <ng-container *ngIf="index == Index.record">
            <howell-garbage-station-window-record
              [isfilter]="record.filter.show"
              [status]="taskStatus"
              (image)="onimage($event)"
            ></howell-garbage-station-window-record>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
</app-window>
