<div class="retention">
  <div class="retention__head">
    <div class="title">{{ title }}</div>
    <div class="select-group" *ngIf="typeEnabled">
      <select
        class="retention-type"
        [(ngModel)]="retentionType"
        (change)="onchange()"
      >
        <option [ngValue]="RetentionType.RetentionTime">
          {{ Language.RetentionType(RetentionType.RetentionTime) }}
        </option>
        <option [ngValue]="RetentionType.RetentionStationNumber">
          {{ Language.RetentionType(RetentionType.RetentionStationNumber) }}
        </option>
      </select>
    </div>
  </div>
  <app-rank
    [title]="title"
    [data]="rankData"
    (itemClickedEvent)="onclick($event)"
  ></app-rank>
</div>
