<div class="encode-device-manage">
  <ng-container *ngIf="showOperate">
    <howell-encode-device-operate
      [state]="state"
      [encodeDeviceId]="encodeDeviceId"
      (closeEvent)="closeForm($event)"
    ></howell-encode-device-operate>
  </ng-container>

  <ng-container *ngIf="showConfirm">
    <howell-confirm-dialog
      (dialogMsgEvent)="dialogMsgEvent($event)"
      [dialogModel]="dialogModel"
    >
    </howell-confirm-dialog>
  </ng-container>

  <div class="hw-table-layout">
    <div class="hw-operation">
      <div class="hw-second-title">编码器</div>
      <div class="hw-operate-bar wrap">
        <div class="left-wrapper">
          <div class="hw-normal-btn-group">
            <button class="hw-green-btn" (click)="addBtnClick()">
              <i class="howell-icon-plus"></i>
              添加
            </button>
            <button
              class="hw-red-btn"
              [disabled]="!enableDelBtn"
              (click)="deleteBtnClick()"
            >
              <i class="howell-icon-delete-bin"></i>
              删除
            </button>
            <button class="hw-cyan-btn" [disabled]="!enableBindBtn">
              <i class="mdi mdi-tag"></i>
              绑定标签
            </button>
          </div>
        </div>
        <div class="right-wrapper">
          <div class="search-wrapper">
            <input
              [disabled]="disableSearch"
              type="text"
              [(ngModel)]="searchInfo.condition"
              [placeholder]="placeHolder"
              (keyup.enter)="search()"
            />
          </div>
          <div class="hw-normal-btn-group">
            <button class="hw-blue-btn" (click)="search()">
              <i class="mdi mdi-magnify"></i>
              查询
            </button>
            <button class="hw-cyan-m-btn" (click)="toggleFilter()">
              <i class="mdi mdi-filter-outline"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="filter-wrapper" *ngIf="showFilter">
        <div class="filter-group">
          <div class="title">
            <span class="hw-form-label">名称:</span>
          </div>
          <div class="content">
            <input
              type="text"
              [(ngModel)]="searchInfo.deviceName"
              placeHolder="请输入关键字"
            />
          </div>
        </div>
        <div class="filter-group">
          <div class="title"><span class="hw-form-label">地址:</span></div>
          <div class="content">
            <input
              type="text"
              [(ngModel)]="searchInfo.ip"
              placeHolder="请输入关键字"
            />
          </div>
        </div>

        <div class="filter-group">
          <div class="title"><span class="hw-form-label">状态:</span></div>
          <div class="content">
            <select
              class="hw-form-control hw-form-select"
              [(ngModel)]="searchInfo.online"
            >
              <option value="">全部</option>
              <option value="0">正常</option>
              <option value="1">离线</option>
            </select>
          </div>
        </div>
        <div class="filter-group">
          <div class="title"><span class="hw-form-label">选择标签:</span></div>
          <div class="content"><input type="text" /></div>
        </div>
      </div>
    </div>

    <div class="hw-table-container">
      <common-table
        [dataSubject]="dataSubject"
        [columnModel]="columnModel"
        [displayedColumns]="displayedColumns"
        [selectStrategy]="selectStrategy"
        [tableOperates]="tableOperates"
        (selectTableRow)="selectTableRow($event)"
      ></common-table>
    </div>
    <div class="hw-table-footer">
      <div class="footer-item">
        <app-table-select (tableSelect)="tableSelect($event)">
        </app-table-select>
      </div>

      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">已选择: {{ selectedRows.length }}</div>
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>
        <app-paginator
          *ngIf="page"
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="pagerCount"
          [pageIndex]="pageIndex - 1"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
