<div class="encode-device-manage">
  <div class="vertical-layout">
    <div class="vertical-header">
      <div class="hw-second-title">编码器</div>
      <div class="operate-bar wrap">
        <div class="left-wrapper">
          <div class="hw-normal-btn-group">
            <button class="hw-green-btn" (click)="addBtnClick()">
              <i class="howell-icon-plus"></i>
              添加
            </button>
            <button
              class="hw-red-btn"
              [disabled]="this.table.selected.length == 0"
              (click)="deleteBtnClick()"
            >
              <i class="howell-icon-delete-bin"></i>
              删除
            </button>
            <button
              class="hw-cyan-btn"
              [disabled]="this.table.selected.length == 0"
              (click)="bindBtnClick()"
            >
              <i class="mdi mdi-tag"></i>
              绑定标签
            </button>
          </div>
        </div>
        <div class="right-wrapper">
          <div class="search-wrapper">
            <input
              [disabled]="searchInfo.filter"
              type="text"
              [(ngModel)]="searchInfo.condition"
              [placeholder]="'搜索编码器名称'"
              (keyup.enter)="onsearch()"
            />
          </div>
          <div class="hw-normal-btn-group">
            <button class="hw-blue-btn" (click)="onsearch()">
              <i class="mdi mdi-magnify"></i>
              查询
            </button>
            <button class="hw-cyan-m-btn" (click)="toggleFilter()">
              <i class="mdi mdi-filter-outline"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="filter-wrapper" *ngIf="searchInfo.filter">
        <div class="filter-group">
          <div class="title">
            <span class="hw-form-label">名称:</span>
          </div>
          <div class="content">
            <input
              type="text"
              [(ngModel)]="searchInfo.deviceName"
              placeHolder="请输入关键字"
            />
          </div>
        </div>
        <div class="filter-group">
          <div class="title"><span class="hw-form-label">地址:</span></div>
          <div class="content">
            <input
              type="text"
              [(ngModel)]="searchInfo.ip"
              placeHolder="请输入关键字"
            />
          </div>
        </div>

        <div class="filter-group">
          <div class="title"><span class="hw-form-label">状态:</span></div>
          <div class="content">
            <select
              class="hw-form-control hw-form-select"
              [(ngModel)]="searchInfo.online"
            >
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="0">正常</option>
              <option value="1">离线</option>
            </select>
          </div>
        </div>
        <div class="filter-group">
          <div class="title"><span class="hw-form-label">选择标签:</span></div>
          <div class="content">
            <common-label-select
              [selectedNodes]="selectedNodes"
              class="green-label-select"
            >
              <howell-label-tree
                #tree
                [selectStrategy]="SelectStrategy.Multiple"
                (selectTreeNode)="selectTreeNode($event)"
              ></howell-label-tree>
            </common-label-select>
          </div>
        </div>
      </div>
    </div>

    <div class="vertical-main">
      <common-table
        [dataSubject]="table.dataSubject"
        [columnModel]="table.columns"
        [displayedColumns]="table.ids"
        [tableOperates]="table.operates"
        [selectStrategy]="SelectStrategy.Multiple"
        (selectTableRow)="table.onselect($event)"
        (selectTableCell)="table.onclick($event)"
        [select]="table.select"
        [delete]="table.delete"
      ></common-table>
    </div>
    <div class="vertical-footer">
      <div class="footer-item">
        <app-table-select (tableSelect)="tableSelect($event)">
        </app-table-select>
      </div>

      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">已选择: {{ table.selected.length }}</div>
          <div class="info-item">当前数量: {{ table.page.RecordCount }}</div>
          <div class="info-item">总数量: {{ table.page.TotalRecordCount }}</div>
        </div>
        <app-paginator
          *ngIf="table.page"
          [length]="table.page.TotalRecordCount"
          [pageSize]="table.page.PageSize"
          [pagerCount]="table.pagerCount"
          [pageIndex]="table.page.PageIndex - 1"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
  <app-window
    [Model]="window.operate"
    *ngIf="window.operate.show"
    [style]="window.operate.style"
  >
    <howell-encode-device-operate
      [state]="window.operate.state"
      [encodeDeviceId]="window.operate.resource?.Id"
      (closeEvent)="closeForm($event)"
    ></howell-encode-device-operate>
  </app-window>
  <app-window
    [Model]="window.label"
    *ngIf="window.label.show && window.label.resource"
    [style]="window.label.style"
  >
    <howell-label-manage-form
      [resourceName]="window.label.resource.Name"
      [resourceId]="window.label.resource.Id"
      (closeEvent)="closeBind($event)"
    >
    </howell-label-manage-form>
  </app-window>
  <app-window
    [Model]="window.confirm"
    *ngIf="window.confirm.show"
    [style]="window.confirm.style"
  >
    <div class="confirm">
      <div class="confirm-head">
        <div class="hw-simple-title"><i class="mdi mdi-alert"></i> 提示</div>
      </div>
      <div class="confirm-body">
        <div class="hw-simple-title">
          是否删除 <span>{{ window.confirm.language }}</span> ?
        </div>
      </div>
      <div class="confirm-foot">
        <button
          class="hw-green-btn m-r-10"
          (click)="ondelete(window.confirm.models)"
        >
          <i class="howell-icon-Check"></i> 确定
        </button>
        <button class="hw-gray-btn" (click)="window.confirm.show = false">
          <i class="howell-icon-Close"></i> 取消
        </button>
      </div>
    </div>
  </app-window>
</div>
