<!-- 垃圾分类评分 -->
<div class="collection-score-pie">
  <div class="collection-score-pie__head">
    <div class="collection-score-pie__head__title">{{ title }}</div>
  </div>
  <div class="collection-score-pie__main">
    <div class="main__left">
      <common-pie-chart [business]="business"></common-pie-chart>
    </div>
    <div class="main__right">
      <div class="score-wrapper">
        <div>
          <div class="score-item">
            <span class="score-item__label">好评</span>
            <span class="score-item__count">122</span>
          </div>
          <div class="score-item">
            <span class="score-item__label">中评</span>
            <span class="score-item__count">122</span>
          </div>
          <div class="score-item">
            <span class="score-item__label">中评</span>
            <span class="score-item__count">122</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="collection-score-pie">
  <common-pie-chart [business]="business"></common-pie-chart>
</div> -->
