<!-- 垃圾分类评分 -->
<div class="collection-score-pie">
  <div class="collection-score-pie__head">
    <div class="collection-score-pie__head__title">{{ title }}</div>
  </div>
  <div class="collection-score-pie__main">
    <div class="main__left">
      <common-pie-chart [merge]="merge"></common-pie-chart>
    </div>
    <div class="main__right">
      <div class="score-wrapper">
        <div class="score-item" *ngFor="let item of model?.Data">
          <span
            class="score-item__label"
            [class]="item.Tagcls"
            [title]="item.Label"
          >
            {{ item.Label }}
          </span>
          <span class="score-item__count" [class]="item.Tagcls">{{
            item.Count
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
