.audit-list-station-garbage-manager {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-title {
    flex-grow: 0;
  }

  &-head {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .filter-items {
      flex-wrap: wrap;

      &>* {
        flex-grow: 1;
      }

      .filter-item {

        &.status,
        &.division {
          .filter-item-value {
            min-width: 230px;
          }
        }
      }



      .search {
        flex-grow: 0;
        width: 250px;
      }

      .hw-blue-btn {
        margin-right: 0;
      }

    }
  }

  &-body {
    flex-grow: 1;
  }
}
