@media (min-width:1200px) {
  .statistic-card-items {
    max-width: 1140px;
  }
}

.statistic-card {


  &-group {
    display: flex;
    justify-content: center;
  }

  &-items {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: calc(100%);
    box-sizing: border-box;
    gap: 10px;

    &>* {
      flex-grow: 1;
    }
  }

  &-item {
    ::ng-deep {
      .task {
        display: flex;
        align-items: center;
        gap: 5px;

        .split {
          font-size: 14px;
        }
      }

    }
  }


}
