<div class="illegal-drop">
    <div class="illegal-drop-header">
        <div>
            <div>导航</div>
            <button (click)="show=!show">显示 </button>
        </div>
        <div *ngIf="show">hshdfh</div>
    </div>
    <div class="illegal-drop-main">
        <app-table [dataSource]="dataSource" [columns]="columns" [displayedColumns]="displayedColumns"
            [tableSelectModel]="tableSelectModel" (selectTableRow)="selectTableRow($event)"
            (selectTableCell)="selectTableCell($event)"></app-table>
    </div>
    <div class='illegal-drop-footer'>
        <div class="footer-item">
            <app-table-select (tableSelectEvent)="tableSelect($event)"></app-table-select>
        </div>
        <div class="footer-item">
            <div class="select-hint">
                已选择: {{selectedRows.length}}
            </div>
            <app-paginator [length]="100" [pageSize]="10" [currentCount]="10" [pageSizeOptions]="[5,10,30,100]"
                [showFirstLastButtons]="true"></app-paginator>
        </div>
    </div>
</div>