.device-list-table {
  height: 100%;

  &-main {
    height: 100%;


    ::ng-deep {
      .body {
        height: calc(100% - 60px - 51px);
      }
    }


    &-footer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 50px;
      border-top: 1px solid #7586e0;
      padding: 0 20px;
      box-sizing: border-box;
      overflow: auto;

      .footer-item {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .footer-info {
          display: flex;

          .info-item {
            margin: 10px;
            font-size: 14px;
            color: #cfd7ff;
          }
        }
      }
    }
  }
}
