<div class="ai-garbage-station-device-record-event-manager">
  <div class="ai-garbage-station-device-record-event-manager-head">
    <div class="head-title">
      <div class="hw-simple-title">设备事件记录</div>
    </div>
    <div class="head-sub">
      <div class="head-filter">
        <div class="head-filter-item">
          <div class="head-filter-item-title">开始时间</div>
          <div class="head-filter-item-value">
            <input
              type="text"
              DateTimePicker
              [(date)]="args.duration.begin"
              [format]="'yyyy年MM月dd日 HH:mm'"
              class="custom form-control time"
              [minView]="DateTimePickerView.day"
              (dateChange)="ondate()"
            />
          </div>
        </div>
        <div class="head-filter-item">
          <div class="head-filter-item-title">结束时间</div>
          <div class="head-filter-item-value">
            <input
              type="text"
              DateTimePicker
              [(date)]="args.duration.end"
              [format]="'yyyy年MM月dd日 HH:mm'"
              class="custom form-control time"
              [minView]="DateTimePickerView.day"
              (dateChange)="ondate()"
            />
          </div>
        </div>
        <div class="head-filter-item">
          <div class="head-filter-item-title">事件类型</div>
          <div class="head-filter-item-value">
            <select [(ngModel)]="args.eventType" (change)="oneventtype()">
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="item" *ngFor="let item of types">
                {{ Language.AIGarbageDeviceEventType(item) }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="head-search">
        <div>
          <select [(ngModel)]="args.searchType">
            <option [ngValue]="0">厢房</option>
            <option [ngValue]="1">区域</option>
          </select>
        </div>
        <div>
          <howell-simple-search
            (searchEvent)="onsearch($event)"
          ></howell-simple-search>
        </div>
      </div>
    </div>
  </div>
  <div class="ai-garbage-station-device-record-event-manager-body">
    <ai-garbage-station-device-record-event-table
      [args]="args"
      [load]="load"
    ></ai-garbage-station-device-record-event-table>
  </div>
</div>
