<div class="division-station-tree-filter">
  <div class="selected" (click)="onclick($event)">
    <label #selected>{{ current ? currentTitle.join(" ") : "请选择" }}</label>
    <i class="mdi mdi-menu-down arrow-time light-blue-text"></i>
  </div>

  <div
    class="tree"
    [class.right]="align == HorizontalAlign.right"
    [class.left]="align == HorizontalAlign.left"
    [ngStyle]="style"
    *ngIf="expand"
  >
    <!-- <howell-tree
      [treeServiceModel]="treeServiceModel"
      [treeSelectModel]="treeSelectModel"
      [resourceType]="type"
      (selectTreeNode)="selectTreeNode($event)"
      [depth]="1"
      [filterTypes]="filterTypes"
    ></howell-tree> -->
    <howell-division-tree
      [resourceType]="type"
      [depth]="tree.depth"
      [showStation]="true"
      [defaultIds]="station ? [station.Id] : []"
      (selectTreeNode)="selectTreeNode($event)"
    >
    </howell-division-tree>
  </div>
</div>
