<div class="division-station-tree-filter">
  <div class="selected" (click)="onclick($event)">
    <label #selected>{{ current ? current.name : "请选择" }}</label>
    <i class="mdi mdi-menu-down arrow-time light-blue-text"></i>
  </div>

  <div class="tree" [ngStyle]="style" *ngIf="expand">
    <app-tree
      [treeServiceProvider]="treeServiceProvider"
      [treeSelectModel]="treeSelectModel"
      [resourceType]="type"
      (selectTree)="selectTree($event)"
      [depth]="1"
    ></app-tree>
  </div>
</div>
