<div class="info-details-station-table">
  <table>
    <colgroup>
      <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
    </colgroup>
    <thead>
      <tr>
        <th><div class="th-center">#</div></th>
        <th>名称</th>
        <th>管理人员</th>
        <th>职位</th>
        <th>联系方式</th>
        <th><div class="th-center">垃圾落地</div></th>
        <th><div class="th-center">垃圾满溢</div></th>
        <th><div class="th-center">混合投放</div></th>
        <th><div class="th-center">感应门</div></th>
        <th><div class="th-center">智能主机</div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datas; let i = index">
        <td>
          <div class="td-center">
            {{ i + 1 }}
          </div>
        </td>
        <td [title]="item.Name">{{ item.Name }}</td>
        <td [title]="item.member.default?.Name">
          {{ item.member.default ? item.member.default.Name : "-" }}
        </td>
        <td>
          {{
            item.member.default
              ? Language.MemberType(item.member.default.MemberType)
              : "-"
          }}
        </td>
        <td [title]="item.member.default?.MobileNo">
          {{ item.member.default ? item.member.default.MobileNo : "-" }}
        </td>
        <td>
          <div class="td-center">
            <i
              *ngIf="item.canIllegalDrop"
              class="howell-icon-Check green-text"
            ></i>
            <i
              *ngIf="!item.canIllegalDrop"
              class="howell-icon-Close powder-red-text"
            ></i>
          </div>
        </td>
        <td>
          <div class="td-center">
            <i
              *ngIf="item.canGarbageFull"
              class="howell-icon-Check green-text"
            ></i>
            <i
              *ngIf="!item.canGarbageFull"
              class="howell-icon-Close powder-red-text"
            ></i>
          </div>
        </td>
        <td>
          <div class="td-center">
            <i
              *ngIf="item.canMixedInto"
              class="howell-icon-Check green-text"
            ></i>
            <i
              *ngIf="!item.canMixedInto"
              class="howell-icon-Close powder-red-text"
            ></i>
          </div>
        </td>
        <td>
          <div class="td-center">
            <i *ngIf="item.canDoor" class="howell-icon-Check green-text"></i>
            <i
              *ngIf="!item.canDoor"
              class="howell-icon-Close powder-red-text"
            ></i>
          </div>
        </td>
        <td>
          <div class="td-center">
            <i *ngIf="item.canGCHA" class="howell-icon-Check green-text"></i>
            <i
              *ngIf="!item.canGCHA"
              class="howell-icon-Close powder-red-text"
            ></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
