@Other: #b572fb;
@Shop: #68e888;
@Building: #4af2f6;
@Residence: #ffba3b;
@Unit: #f06565;
@PublicPlace: #88beff;

.color() {
  @Other: #b572fb;
  @Shop: #68e888;
  @Building: #4af2f6;
  @Residence: #ffba3b;
  @Unit: #f06565;
  @PublicPlace: #88beff;
}
