.edge-wrapper {
  background-image: linear-gradient(90deg, #5e6ebe, #5e6ebe),
    linear-gradient(180deg, #5e6ebe, #5e6ebe),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent calc(50% - 1px),
      #5e6ebe 50%,
      transparent calc(50% + 1px),
      transparent 100%
    ),
    linear-gradient(270deg, #5e6ebe, #5e6ebe),
    linear-gradient(0deg, #5e6ebe, #5e6ebe),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent calc(50% - 1px),
      #5e6ebe 50%,
      transparent calc(50% + 1px),
      transparent 100%
    ),
    linear-gradient(135deg, transparent calc(15 / 2 * 1.414px), #060d37 0),
    linear-gradient(-135deg, transparent 0px, #060d37 0),
    linear-gradient(-45deg, transparent calc(15 / 2 * 1.414px), #060d37 0),
    linear-gradient(45deg, transparent 0px, #060d37 0);
  background-position: 15px 0, 100% 0, 100% 100%, 0% 100%, 0% 100%, 0% 0%,
    top left, top right, bottom right, bottom left;
  background-size: calc(100% - 15px) 1px, 1px calc(100% - 15px), 15px 15px,
    calc(100% - 15px) 1px, 1px calc(100% - 15px), 15px 15px, 51% 51%, 50% 50%,
    51% 51%, 50% 50%;
  background-repeat: no-repeat;
  background-color: transparent;

  &.selected {
    background-image: linear-gradient(90deg, #69aefe, #69aefe),
      linear-gradient(180deg, #69aefe, #69aefe),
      linear-gradient(
        135deg,
        transparent 0%,
        transparent calc(50% - 1px),
        #69aefe 50%,
        transparent calc(50% + 1px),
        transparent 100%
      ),
      linear-gradient(270deg, #69aefe, #69aefe),
      linear-gradient(0deg, #69aefe, #69aefe),
      linear-gradient(
        135deg,
        transparent 0%,
        transparent calc(50% - 1px),
        #69aefe 50%,
        transparent calc(50% + 1px),
        transparent 100%
      ),
      linear-gradient(135deg, transparent calc(15 / 2 * 1.414px), #235fa4 0),
      linear-gradient(-135deg, transparent 0px, #235fa4 0),
      linear-gradient(-45deg, transparent calc(15 / 2 * 1.414px), #235fa4 0),
      linear-gradient(45deg, transparent 0px, #235fa4 0);
  }
}
