.filter {
  display: flex;
  justify-content: space-between;



  &-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &>* {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      flex-grow: 0;
      color: #cfd7ff;
      font-size: 18px;
      margin-right: 5px;
      white-space: nowrap;
    }

    &-value {
      flex-grow: 1;

      &.tree {
        width: 300px;

        ::ng-deep {

          .mat-tree .mat-tree-node>div,
          .mat-tree .mat-nested-tree-node>div {
            font-style: 16px;
          }
        }
      }
    }
  }
}
