.hw-operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
  .hw-operate-bar {
    display: flex;
    justify-content: flex-end;
    .search-wrapper {
      width: 300px;
      input {
        padding: 0 12px;
        font-size: 16px;
        padding-top: 2px;
      }
    }

    .hw-btn-group {
      margin: 0 10px;
    }
    &.bar-wrap {
      margin: 10px 0;
      flex-basis: 100%;
      justify-content: space-between;
    }
  }
  .filter {
    margin: 5px 0;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    .filter-item {
      flex-basis: 22%;
      display: flex;
      align-items: center;
      margin: 5px 10px;
    }
  }
}
