.hw-operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
  .hw-operate-bar {
    display: flex;
    margin: 10px 0;

    flex-grow: 1;
    justify-content: flex-end;
    &.wrap {
      flex-basis: 100%;
      justify-content: space-between;
    }
  }

  .left-wrapper {
    display: flex;
    align-items: center;
  }
  .right-wrapper {
    display: flex;
    align-items: center;
  }
  .search-wrapper {
    width: 250px;
    margin: 0 10px;
    input {
      padding: 0 12px;
      font-size: 16px;
      padding-top: 2px;
    }
  }

  .filter-group {
    margin: 5px 0;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    .filter-item {
      flex-basis: 22%;
      display: flex;
      align-items: center;
      margin: 5px 10px;
    }
  }
}
