.operate-bar {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  .left-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
  }
  .right-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    flex-shrink: 0;
  }
  .operate-item {
    width: auto;
    max-width: 300px;
    // height: 35px;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    margin: 0 5px;
    .title {
      flex-shrink: 0;
      margin-right: 5px;
    }
    .content {
      flex-grow: 1;
      height: 100%;
      width: max-content;
    }
  }
}
