.garbage-station-card-record {
  height: 100%;
  @head-height: 35px;

  &-head {
    height: @head-height;
    margin-bottom: 10px;

    .filter {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &>* {
        margin-right: 10px;
      }


      &-item {
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 300px;

        &.tree {
          width: calc(250px + 54px + 24px);
        }

        &>span {
          color: #cfd7ff;
          font-size: 18px;
          margin-right: 10px;
        }

        &>input {
          height: 32px;
        }

        .tree {
          ::ng-deep {
            .division-station-tree-filter {
              width: 250px;
            }

          }

        }

        .list-type-select {
          width: 250px;
          background-color: #1d233b;

          ::ng-deep {
            .select-head {
              display: flex;
              justify-content: space-between;
            }

            .select-option {
              width: 100%;
              max-width: 100%;
            }



          }
        }

        ::ng-deep {
          .division-station-tree-filter .selected label {
            font-size: 18px;
          }
        }

      }

    }
  }

  &-body {
    height: calc(100% - @head-height - 10px);
  }
}
