<div class="garbage-station-card-record">
  <ng-content></ng-content>
  <div class="garbage-station-card-record-head">
    <div class="filter">
      <div class="filter-items">
        <div class="filter-item">
          <div class="filter-item-title">开始时间</div>
          <input
            type="text"
            class="filter-item-value"
            DateTimePicker
            [format]="'yyyy年MM月dd日 HH:mm'"
            [startView]="1"
            [minView]="1"
            [(date)]="args.duration.begin"
          />
        </div>
        <div class="filter-item">
          <div class="filter-item-title">结束时间</div>
          <input
            type="text"
            class="filter-item-value"
            DateTimePicker
            [format]="'yyyy年MM月dd日 HH:mm'"
            [startView]="1"
            [minView]="1"
            [(date)]="args.duration.end"
          />
        </div>
        <div class="filter-item tree">
          <div class="filter-item-title">投放点</div>
          <div class="filter-item-value content" style="width: 300px">
            <common-label-select
              [selectedNodes]="divisiontree.nodes"
              [autoclose]="true"
              [showCloseIcon]="false"
              [single]="true"
              [height]="'325px'"
              [(showDropDown)]="divisiontree.expand"
            >
              <howell-division-tree
                #tree
                [depth]="divisiontree.depth"
                [resourceType]="divisiontree.type"
                [showStation]="true"
                [defaultIds]="divisiontree.ids"
                (selectTreeNode)="divisiontree.onselected($event)"
              ></howell-division-tree>
            </common-label-select>
          </div>
        </div>
        <div class="filter-item">
          <div class="filter-item-title">楼栋</div>
          <input
            class="filter-item-value"
            type="text"
            [(ngModel)]="args.building"
          />
        </div>
        <div class="filter-item">
          <div class="filter-item-title">房屋</div>
          <input
            class="filter-item-value"
            type="text"
            [(ngModel)]="args.room"
          />
        </div>
        <button class="hw-blue-btn search" (click)="search()">
          <i class="mdi mdi-magnify"></i> 查询
        </button>
      </div>
    </div>
  </div>
  <div class="garbage-station-card-record-body">
    <card-record-table
      [args]="args"
      [load]="load"
      [isinit]="false"
      (video)="onvideo($event)"
    >
    </card-record-table>
  </div>
</div>
