.garbage-station-card-record {
  height: 100%;
  @head-height: 35px;

  &-head {
    height: @head-height;
    margin-bottom: 10px;

  }

  &-body {
    height: calc(100% - @head-height - 10px);
  }
}
