<div class="srserver-manage">
  <ng-container *ngIf="showDialog">
    <howell-sr-server-operate
      [state]="state"
      [serverId]="serverId"
      (closeEvent)="closeForm($event)"
    ></howell-sr-server-operate>
  </ng-container>

  <ng-container *ngIf="showConfirm">
    <howell-confirm-dialog
      (dialogMsgEvent)="dialogMsgEvent($event)"
      [dialogModel]="dialogModel"
    >
    </howell-confirm-dialog>
  </ng-container>

  <div class="hw-table-layout">
    <div class="hw-operation">
      <div class="hw-second-title">流转服务</div>
      <div class="hw-operate-bar wrap">
        <div class="hw-normal-btn-group">
          <button class="hw-green-btn" (click)="addBtnClick()">
            <i class="howell-icon-plus"></i>
            添加
          </button>
          <button
            class="hw-red-btn"
            [disabled]="!enableDelBtn"
            (click)="deleteBtnClick()"
          >
            <i class="howell-icon-delete-bin"></i>
            删除
          </button>
        </div>

        <div class="search-wrapper">
          <howell-simple-search placeHolder="名称"></howell-simple-search>
        </div>
      </div>
    </div>

    <div class="hw-table-container">
      <common-table
        [dataSubject]="dataSubject"
        [columnModel]="columnModel"
        [displayedColumns]="displayedColumns"
        [selectStrategy]="selectStrategy"
        [tableOperates]="tableOperates"
        (selectTableRow)="selectTableRow($event)"
      ></common-table>
    </div>
    <div class="hw-table-footer">
      <div class="footer-item">
        <app-table-select (tableSelect)="tableSelect($event)">
        </app-table-select>
      </div>
    </div>
  </div>
</div>
