.history-table {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.history-table .data {
  width: calc(100% - 40px)
}

.history-table,
.history-table table {
  width: 100%
}

.history-table .content table:last-child {
  width: calc(100% + 8px);
  margin-right: -8px;
}

.history-table table>thead {
  background-color: #1D275F;
  color: white
}



.history-table table tr>td:first-child {
  padding-left: 20px;
}

.history-table .content {
  height: calc(100% - 26px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.history-table .content table tr {
  height: 30px;
}

.history-table table tr>td.operate {
  display: flex;
}

.history-table table tr>td.operate>div {
  cursor: pointer;
}

.history-table table tr>td.operate>div:hover {
  color: white;
}



.history-table .buttons {
  width: 33px;
  margin-right: -10px;
}

.history-table .buttons .button {
  height: 90px;
  line-height: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.history-table .buttons .button>.background {
  clip-path: polygon(5px 1px,
      calc(100% - 1px) 1px,
      calc(100% - 1px) calc(100% - 5px),
      calc(100% - 5px) calc(100% - 1px),
      1px calc(100% - 1px),
      1px 5px);
  width: 30px;
  height: 90px;
  position: absolute;
  background-color: rgba(58, 147, 255, 0.1);
}

.history-table .buttons .button>.background._1 {}

.history-table .buttons .button>.background._2 {
  transform: translate(-3px, -3px);
}

.history-table .buttons .button:hover>.background {
  background-color: rgba(58, 147, 255, 0.2);
}

.history-table .buttons .button.selected>.background {
  background-color: rgba(58, 147, 255, 0.4);
}

.history-table .buttons .button.selected>.text {
  color: white;
}

.history-table .buttons .button>.text {
  padding: 6px;
  width: 30px;
  writing-mode: horizontal-tb;
  position: absolute;
}

.howell-icon-video {
  line-height: 10px;
}
