.statistic-summary {
  height: 100%;
  overflow: hidden;
}

.statistic-summary .header {
  display: flex;
  justify-content: space-between;
}

.statistic-summary .content {
  height: calc(100% - 72px);
}

.statistic-summary .content>div {
  margin-bottom: 20px;
}

.statistic-summary .content .number-list {
  display: flex;
  justify-content: space-around;
  background-color: rgb(16, 22, 48);
}

.statistic-summary .content .chart {
  display: flex;
  background-color: rgb(16, 22, 48);
}

.statistic-summary .content .statistic-summary-charts {
  height: calc(100% - 165px);
}


.statistic-summary .header .operation {
  display: flex;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: space-between;
  width: 440px;
}

.statistic-summary .header .operation .date .selection {
  display: flex;
}

.statistic-summary .header .operation .date .selection input {
  border: none;
  outline: none;
  background-color: transparent;
}

.statistic-summary .header .operation .date .selection input:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

.statistic-summary .header .operation button {
  font-size: 16px;
  width: 80px;
  border: 1px solid rgb(94, 110, 191);
  color: #eaedff;
}

.statistic-summary .header .operation button:hover {
  color: white;
  border-color: rgb(144, 160, 241);
}


.hw-form-control {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 34px;
  color: #cfd7ff;
  border: 1px solid transparent;
  font-size: 24px;
  text-align: right;
  border-radius: unset;
  background-color: transparent;
  width: 208px;
  opacity: 1;
  cursor: pointer;
}


.statistic-summary .header .dropdown {
  cursor: pointer;
}

.statistic-summary .header .dropdown.control {
  border: 1px solid #5e6ebf;
  background: #0c1127;
  position: absolute;
  z-index: 30;
  width: calc(100px + 10px);

  margin-left: -10px;
}

.statistic-summary .header .dropdown.control .item {
  font-size: 16px;
  height: 30px;
  cursor: pointer;
  line-height: 26px;
  padding: 2px 10px;
}

.statistic-summary .header .dropdown.control .item:hover {
  background-color: #1e90ff;
  color: white;
}
