<div class="garbage-drop-station-window-count">
  <div class="filter">
    <div class="filter-items">
      <div class="filter-item">
        <span>选择时间</span>
        <input
          type="text"
          DateTimePicker
          [format]="dateTimePickerConfig.format"
          [startView]="dateTimePickerConfig.view"
          [minView]="dateTimePickerConfig.view"
          [week]="dateTimePickerConfig.week"
          [(date)]="date"
          class=""
        />
      </div>
      <div class="filter-item">
        <span>行政区</span>
        <app-select-control
          class="list-type-select full"
          [data]="types"
          [selected]="typeSelected"
          (selectedChange)="onTypeChange($event)"
        ></app-select-control>
      </div>
      <div class="filter-item" *ngIf="type != UserResourceType.County">
        <span>筛选</span>
        <app-select-control
          class="list-type-select full"
          [data]="counties"
          (selectedChange)="onCountyChange($event)"
        ></app-select-control>
      </div>
      <button class="hw-blue-btn search" (click)="search()">
        <i class="mdi mdi-magnify"></i> 查询
      </button>
      <button class="hw-blue-btn excel" (click)="exportExcel()">
        <i class="howell-icon-export"></i> 导出
      </button>
      <button class="hw-blue-btn csv" (click)="exportCSV()">
        <i class="howell-icon-export"></i> CSV
      </button>
    </div>
    <div class="filter-items">
      <div class="filter-item select">
        <app-select-control
          class="list-type-select"
          [data]="units"
          (selectedChange)="ontimeunit($event)"
        ></app-select-control>
      </div>
    </div>
  </div>
  <div class="garbage-drop-station-window-count-content">
    <howell-garbage-drop-station-count-table
      [parentId]="parentId"
      [date]="date"
      [unit]="unit"
      [type]="type"
      [load]="load"
      (loaded)="loaded($event)"
    >
    </howell-garbage-drop-station-count-table>
  </div>
</div>
