<div class="garbage-drop-station-window-count">
  <div class="filter">
    <div class="filter-items">
      <div class="filter-item four">
        <div class="filter-item-title">选择时间</div>
        <div class="filter-item-value">
          <input
            type="text"
            DateTimePicker
            [format]="dateTimePickerConfig.format"
            [startView]="dateTimePickerConfig.view"
            [minView]="dateTimePickerConfig.view"
            [week]="dateTimePickerConfig.week"
            [(date)]="args.date"
          />
        </div>
      </div>
      <div class="filter-item three">
        <div class="filter-item-title">行政区</div>
        <div class="filter-item-value">
          <div class="select-control">
            <select [(ngModel)]="args.type" (change)="onTypeChange()">
              <ng-container [ngSwitch]="store.defaultDivisionType">
                <ng-container *ngSwitchCase="DivisionType.City">
                  <option [ngValue]="DivisionType.County">
                    {{ Language.UserResourceType(UserResourceType.County) }}
                  </option>
                  <option [ngValue]="DivisionType.Committees">
                    {{ Language.UserResourceType(UserResourceType.Committees) }}
                  </option>
                  <option [ngValue]="DivisionType.None">
                    {{ Language.UserResourceType(UserResourceType.Station) }}
                  </option>
                </ng-container>
                <ng-container *ngSwitchCase="DivisionType.County">
                  <option [ngValue]="DivisionType.Committees">
                    {{ Language.UserResourceType(UserResourceType.Committees) }}
                  </option>
                  <option [ngValue]="DivisionType.None">
                    {{ Language.UserResourceType(UserResourceType.Station) }}
                  </option>
                </ng-container>
                <ng-container *ngSwitchCase="DivisionType.Committees">
                  <option [ngValue]="DivisionType.None">
                    {{ Language.UserResourceType(UserResourceType.Station) }}
                  </option>
                </ng-container>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
      <div class="filter-item two" *ngIf="args.type !== type.default">
        <div class="filter-item-title">筛选</div>
        <div class="filter-item-value">
          <hw-select [(selected)]="parent" [cannull]="true">
            <select [(ngModel)]="parent">
              <option [ngValue]="item" *ngFor="let item of divisions">
                {{ item.Name }}
              </option>
            </select>
          </hw-select>
        </div>
      </div>
      <button class="hw-blue-btn search" (click)="search()">
        <i class="mdi mdi-magnify"></i> 查询
      </button>
      <button class="hw-blue-btn excel" (click)="exportExcel()">
        <i class="howell-icon-export"></i> 导出
      </button>
      <button class="hw-blue-btn csv" (click)="exportCSV()">
        <i class="howell-icon-export"></i> CSV
      </button>
    </div>
    <div class="filter-items">
      <div class="filter-item select">
        <!-- <app-select-control
          class="list-type-select"
          [data]="units"
          (selectedChange)="ontimeunit($event)"
        ></app-select-control> -->
        <select [(ngModel)]="args.unit" (change)="ontimeunit()">
          <option [ngValue]="TimeUnit.Day">
            {{ Language.TimeUnit(TimeUnit.Day) }}
          </option>
          <option [ngValue]="TimeUnit.Week">
            {{ Language.TimeUnit(TimeUnit.Week) }}
          </option>
          <option [ngValue]="TimeUnit.Month">
            {{ Language.TimeUnit(TimeUnit.Month) }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="garbage-drop-station-window-count-content">
    <howell-garbage-drop-station-count-table
      [args]="args"
      [load]="load"
      (loaded)="loaded($event)"
    >
    </howell-garbage-drop-station-count-table>
  </div>
</div>
