.login-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #050719;
  position: relative;
  .login-bg {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;

    .login-img {
      position: absolute;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .login-video {
      width: 100%;
      height: auto;
    }
    .login-header-wrapper {
      position: absolute;
      top: 12%;
      width: 100%;
      height: 120px;
      background-color: transparent;
      display: flex;
      justify-content: space-around;

      .login-header {
        width: 70%;
        height: 100%;
        background-image: url(/assets/img/login-panel-header.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: space-around;

        &__title {
          color: white;
          font-size: 50px;
          display: inline-block;
          margin-top: 17px;
          font-weight: bold;

          background-image: linear-gradient(to top, #7f94ff, #fff);

          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.video-js {
  background: #050719;
}
