<div class="dapuqiao-index-container">
  <div class="dapuqiao-index-header" *ngIf="!HideTitlebar">
    <mat-toolbar>
      <app-account-info></app-account-info>
      <div class="spacer">
        <!-- <app-total-waste (details)="onweight($event)"></app-total-waste> -->
      </div>
      <dapuqiao-main-supervise-button
        style="margin-right: 10px"
        [load]="load"
        (click)="supervise.onclick()"
      ></dapuqiao-main-supervise-button>
      <common-time></common-time>
      <app-account-operation *ngIf="!HideButton"></app-account-operation>
    </mat-toolbar>
  </div>
  <div
    class="dapuqiao-index-body"
    [ngClass]="HideTitlebar ? 'hide-titlebar' : ''"
  >
    <div class="dapuqiao-index-body__item dapuqiao-index-body__item--none">
      <div class="dapuqiao-index-body__wrapper">
        <app-division-list></app-division-list>
      </div>
    </div>
    <div
      class="dapuqiao-index-body__item dapuqiao-index-body__item--map"
      [ngClass]="{ fullscreen: patrol.fullscreen == true }"
    >
      <div class="dapuqiao-index-body__wrapper">
        <div *ngIf="statistic.cards" class="statistic-card-group">
          <ng-container *ngFor="let item of statistic.cards">
            <app-statistic-card
              [model]="item"
              (Click)="statistic.onclick(item)"
            ></app-statistic-card>
          </ng-container>
        </div>
        <div class="map-control">
          <app-map-control
            (patrol)="map.onpatrol()"
            (VideoPlay)="map.onvideoplay($event)"
            (illegalDropClicked)="map.onIllegalDropClicked($event)"
            (mixedIntoClicked)="map.onMixedIntoClicked($event)"
            (garbageCountClicked)="map.onGarbageCountClicked($event)"
            (garbageFullClicked)="map.onGarbageFullClicked($event)"
            [position]="map.position"
          ></app-map-control>
        </div>
      </div>
      <div class="dapuqiao-index-body__wrapper patrol" *ngIf="patrol.show">
        <app-patrol-control
          (close)="patrol.onclose()"
          (fullscreen)="patrol.onfullscreen()"
        ></app-patrol-control>
      </div>
    </div>
    <div class="dapuqiao-index-body__item">
      <div class="dapuqiao-index-body__wrapper">
        <!-- <app-device-state
          [load]="load"
          (Click)="trigger.deviceState.onclick($event)"
        ></app-device-state> -->
        <main-station-count
          [load]="load"
          (devicestateclick)="trigger.deviceState.onclick($event)"
        ></main-station-count>
      </div>
    </div>
    <div class="dapuqiao-index-body__item">
      <div class="dapuqiao-index-body__wrapper">
        <app-illegal-mixinto-rank
          [load]="load"
          (itemClickedEvent)="trigger.illegalMixintoRank.onItemClicked($event)"
        >
        </app-illegal-mixinto-rank>
      </div>
    </div>
    <div class="dapuqiao-index-body__item">
      <div class="dapuqiao-index-body__wrapper">
        <app-retention-rank
          [load]="load"
          (Click)="trigger.retentionRank.onclick($event)"
        ></app-retention-rank>
      </div>
    </div>
    <div class="dapuqiao-index-body__item">
      <div class="dapuqiao-index-body__wrapper">
        <dapuqiao-main-event-level
          [load]="load"
          (details)="trigger.dapuqiao.level.ondetails($event)"
        ></dapuqiao-main-event-level>
      </div>
    </div>
    <div class="dapuqiao-index-body__item">
      <div class="dapuqiao-index-body__wrapper">
        <dapuqiao-main-line-event [load]="load"></dapuqiao-main-line-event>
        <!-- <dapuqiao-main-event-vision></dapuqiao-main-event-vision> -->
      </div>
    </div>
    <div class="dapuqiao-index-body__item">
      <div class="dapuqiao-index-body__wrapper">
        <dapuqiao-main-line-feedback
          [load]="load"
        ></dapuqiao-main-line-feedback>
      </div>
    </div>
    <div class="dapuqiao-index-body__item">
      <div class="dapuqiao-index-body__wrapper">
        <dapuqiao-main-event-statistic
          [load]="load"
          (details)="trigger.dapuqiao.statistic.ondetails()"
        ></dapuqiao-main-event-statistic>
        <!-- <dapuqiao-main-record-level [load]="load"></dapuqiao-main-record-level> -->
      </div>
    </div>
  </div>
</div>

<app-video-control-window
  [model]="video.model"
  [window]="video"
  [title]="video.title"
  (download)="video.ondownload($event)"
>
</app-video-control-window>

<!-- <app-window [Model]="window.record" [style]="window.record.style">
  <ng-container *ngIf="window.record.show">
    <app-event-record-details
      [recordCount]="window.record.count"
      [type]="window.record.type"
    >
    </app-event-record-details>
  </ng-container>
</app-window> -->
<howell-event-record-window
  *ngIf="window.record.show"
  [Model]="window.record"
  [style]="window.record.style"
  [type]="window.record.type"
  [stationId]="window.record.stationId"
  [divisionId]="window.record.divisionId"
  (image)="window.record.onimage($event)"
  (video)="window.record.onvideo($event)"
  [get]="window.image.page.getData"
  (got)="window.image.page.gotData($event)"
  (card)="window.record.oncard($event)"
>
</howell-event-record-window>

<howell-device-list-window
  *ngIf="window.device.show"
  [Model]="window.device"
  [style]="window.device.style"
  [status]="window.device.status"
  (image)="window.device.onimage($event)"
>
</howell-device-list-window>

<howell-garbage-drop-station-window
  *ngIf="window.drop.show"
  [Model]="window.drop"
  [style]="window.drop.style"
  [index]="window.drop.index"
  [divisionId]="window.drop.divisionId"
  (image)="window.drop.onimage($event)"
  (position)="map.onposition($event)"
>
</howell-garbage-drop-station-window>

<howell-garbage-full-station-window
  *ngIf="window.full.show"
  [Model]="window.full"
  [style]="window.full.style"
  (image)="window.full.onimage($event)"
  (video)="window.full.onvideo($event)"
>
</howell-garbage-full-station-window>

<howell-garbage-station-window
  *ngIf="window.station.show"
  [Model]="window.station"
  [style]="window.station.style"
  [index]="window.station.index"
  [stationId]="window.station.stationId"
  [divisionId]="window.station.divisionId"
  [taskStatus]="window.station.status"
  [dapuqiao_level]="window.station.dapuqiao.level"
  (image)="window.station.onimage($event)"
  (video)="window.station.onvideo($event)"
  (chartdblclick)="window.station.onchartdblclick($event)"
  (position)="map.onposition($event)"
  (dapuqiao_details)="window.station.dapuqiao.ondetails($event)"
  (dapuqiao_image)="window.station.dapuqiao.onimage($event)"
  (dapuqiao_picture)="window.station.dapuqiao.onpicture($event)"
  (dapuqiao_process)="window.station.dapuqiao.onprocess($event)"
>
</howell-garbage-station-window>

<app-window
  [Model]="window.card"
  *ngIf="window.card.show"
  [style]="window.card.style"
>
  <card-record-episode [record]="window.card.record"></card-record-episode>
</app-window>

<app-window
  [Model]="window.weight"
  *ngIf="window.weight.show"
  [style]="window.weight.style"
>
  <garbage-station-weight-index [type]="window.weight.type">
  </garbage-station-weight-index>
</app-window>

<app-window
  [Model]="window.supervise.table"
  *ngIf="window.supervise.table.show"
  [style]="window.supervise.table.style"
  [mask]="false"
  [CloseButton]="false"
>
  <dapuqiao-main-event-vision
    [load]="load"
    [(position)]="window.supervise.table.position"
    (close)="window.supervise.table.onclose()"
    (select)="window.supervise.table.onselect($event)"
    (details)="window.supervise.table.ondetails($event)"
    (image)="window.supervise.table.onimage($event)"
  ></dapuqiao-main-event-vision>
</app-window>
<app-window
  [Model]="window.supervise.detail"
  *ngIf="window.supervise.detail.show"
  [style]="window.supervise.detail.style"
  [CloseButton]="false"
>
  <dapuqiao-main-supervise-details
    [eventId]="window.supervise.detail.eventId"
    (close)="window.supervise.detail.onclose()"
  ></dapuqiao-main-supervise-details>
</app-window>
<app-window
  [Model]="window.supervise.complete"
  *ngIf="window.supervise.complete.show"
  [style]="window.supervise.complete.style"
  [CloseButton]="false"
>
  <dapuqiao-main-supervise-complete
    [eventId]="window.supervise.complete.eventId"
    (close)="window.supervise.complete.onclose()"
    (image)="window.supervise.complete.onimage($event)"
  ></dapuqiao-main-supervise-complete>
</app-window>

<app-window
  [Model]="window.media.single"
  [style]="window.media.single.style"
  [manualClose]="true"
  (OnClosing)="window.media.single.onclosing()"
>
  <ng-container *ngIf="window.media.single.show">
    <app-media-control
      [operation]="window.media.single.operation"
      [autoplay]="window.media.single.autoplay"
      [model]="window.media.single.camera"
      [index]="window.media.single.index"
      [stop]="window.media.single.closing"
      [page]="window.media.single.showPage"
      (played)="window.media.single.onplay()"
      (stoped)="window.media.single.onstop()"
      (prev)="window.media.single.onprev()"
      (next)="window.media.single.onnext()"
    ></app-media-control>
  </ng-container>
</app-window>

<howell-media-multiple-window
  *ngIf="window.media.multiple.show"
  [Model]="window.media.multiple"
  [style]="window.media.multiple.style"
  [args]="window.media.multiple.args"
  [date]="window.media.multiple.date"
  [fullplay]="window.media.multiple.fullplay"
></howell-media-multiple-window>
<app-window
  [Model]="window.image.page"
  *ngIf="window.image.page.show"
  [style]="window.image.page.style"
>
  <app-media-image-control
    [model]="window.image.page.model"
    [first]="window.image.page.first"
    [last]="window.image.page.last"
    (prev)="window.image.page.onprev()"
    (next)="window.image.page.onnext()"
    (play)="window.image.page.onvideo()"
  ></app-media-image-control>
</app-window>
<app-window
  [Model]="window.image.array"
  *ngIf="window.image.array.show"
  [style]="window.image.array.style"
>
  <app-media-image-control
    [model]="window.image.array.current"
    [first]="window.image.array.first"
    [last]="window.image.array.last"
    [captureing]="window.image.array.captureing"
    (prev)="window.image.array.onprev()"
    (next)="window.image.array.onnext()"
    (play)="window.image.array.onvideo()"
  ></app-media-image-control>
</app-window>
<app-video-window
  [window]="window.video"
  *ngIf="window.video.show"
  [style]="window.video.style"
  [title]="window.video.title"
  [model]="window.video.model"
>
</app-video-window>
