<div class="garbage-full-station-table">
  <div class="garbage-full-station-table-main">
    <table border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td [ngStyle]="{ width: widths[0] }">图片</td>
          <td [ngStyle]="{ width: widths[1] }">投放点</td>
          <td [ngStyle]="{ width: widths[2] }">社区</td>
          <td [ngStyle]="{ width: widths[3] }">街道</td>
          <td [ngStyle]="{ width: widths[4] }">居委会</td>
          <td [ngStyle]="{ width: widths[5] }">状态</td>
          <td [ngStyle]="{ width: widths[6] }">满溢时间</td>
        </tr>
      </thead>
    </table>
    <div class="body">
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr *ngFor="let item of datas">
            <td [ngStyle]="{ width: widths[0] }">
              <div class="img-list">
                <div class="img" *ngFor="let img of item.images">
                  <app-image-control
                    [nosignal]="false"
                    [model]="img"
                    (Click)="imageClick(item, img)"
                  ></app-image-control>
                </div>
              </div>
            </td>
            <td [ngStyle]="{ width: widths[1] }">
              {{ item.GarbageStation ? item.GarbageStation.Name : "" }}
            </td>
            <td [ngStyle]="{ width: widths[2] }">
              {{ item.GarbageStation ? item.GarbageStation.CommunityName : "" }}
            </td>
            <td [ngStyle]="{ width: widths[3] }">
              {{
                item.GarbageStation
                  ? ((item.GarbageStation.Division | async)?.Parent | async)
                      ?.Name
                  : ""
              }}
            </td>
            <td [ngStyle]="{ width: widths[4] }">
              {{
                item.GarbageStation
                  ? (item.GarbageStation.Division | async)?.Name
                  : ""
              }}
            </td>
            <td [ngStyle]="{ width: widths[5] }">
              <span
                [ngClass]="{
                  'green-text': item.GarbageStation?.StationState?.contains(
                    StationState.Normal
                  ),
                  'orange-text': item.GarbageStation?.StationState?.contains(
                    StationState.Full
                  ),
                  'powder-red-text':
                    item.GarbageStation?.StationState?.contains(
                      StationState.Error
                    )
                }"
                >{{
                  item.GarbageStation
                    ? Language.StationStateFlags(
                        item.GarbageStation.StationState
                      )
                    : ""
                }}</span
              >
            </td>
            <td [ngStyle]="{ width: widths[6] }">
              {{ item.FullDuration ? Language.Time(item.FullDuration) : "" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="garbage-full-station-table-main-footer footer" *ngIf="page">
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="0"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
