<div class="garbage-full-station-table">
  <div class="garbage-full-station-table-main">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <td>图片</td>
          <td>投放点</td>
          <td>社区</td>
          <td>街道</td>
          <td>居委会</td>
          <td>状态</td>
          <td>满溢时间</td>
        </tr>
      </thead>
    </table>
    <div class="body">
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas"
            [ngClass]="{ selected: selected === item }"
            (click)="onselect(item)"
          >
            <td>
              <div class="img-list">
                <div
                  class="img"
                  *ngFor="let url of item.urls | async; let index = index"
                  (click)="onimage($event, item, index)"
                >
                  <img [src]="url" alt="" />
                </div>
              </div>
            </td>
            <td>
              {{ (item.GarbageStation | async)?.Name }}
            </td>
            <td>
              {{ (item.GarbageStation | async)?.CommunityName }}
            </td>
            <td>
              {{
                (item.GarbageStation | async)
                  ? (
                      ((item.GarbageStation | async)?.Division | async)?.Parent
                      | async
                    )?.Name
                  : ""
              }}
            </td>
            <td>
              {{
                (item.GarbageStation | async)
                  ? ((item.GarbageStation | async)?.Division | async)?.Name
                  : ""
              }}
            </td>
            <td>
              <span
                [ngClass]="{
                  'green-text':
                    (item.GarbageStation | async)
                      ? (
                          item.GarbageStation | async
                        )?.StationStateFlags?.contains(StationState.Normal)
                      : false,
                  'orange-text':
                    (item.GarbageStation | async)
                      ? (
                          item.GarbageStation | async
                        )?.StationStateFlags?.contains(StationState.Full)
                      : false,
                  'gray-2-text':
                    (item.GarbageStation | async)
                      ? (
                          item.GarbageStation | async
                        )?.StationStateFlags?.contains(StationState.Error)
                      : false
                }"
                >{{
                  (item.GarbageStation | async)
                    ? Language.StationStateFlags(
                        (item.GarbageStation | async)?.StationStateFlags!
                      )
                    : ""
                }}</span
              >
            </td>
            <td>
              {{ item.FullDuration ? Language.Time(item.FullDuration) : "" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="garbage-full-station-table-main-footer footer" *ngIf="page">
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="0"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
