<div class="division-list">
  <div class="edge-wrapper list-title">
    <div class="list-title-name">
      <i class="howell-icon-map5"></i>
      <span (click)="divisionclick(model.current)"
        >&nbsp;{{ model.current?.Name }}&nbsp;</span
      >
    </div>
    <div class="list-title-operation blue-text" title="信息汇总">
      <div (click)="oninfo()"><i class="howell-icon-task_misson"></i></div>
    </div>
  </div>
  <div class="list-wrapper">
    <div
      class="list-item edge-wrapper"
      [class.selected]="selectedId == item.Id"
      [ngClass]="{
        nochildren: item.StationNumber == 0
      }"
      *ngFor="let item of model.children | async"
      title="{{ item?.Name }}"
      (click)="statisticclick(item)"
    >
      <p>{{ item?.Name }}</p>
    </div>
  </div>
</div>
