.garbage-station-table {
  height: 100%;

  &-main {
    height: 100%;

    .img-list {
      display: flex;
      align-items: center;
      height: 100%;

      .img {
        width: 44px;
        height: 100%;
      }
    }

    .operation>div {
      width: 48px;
      display: flex;
      justify-content: center;
    }

    ::ng-deep {
      .body {
        height: calc(100% - 60px - 50px);
      }
    }
  }
}
