.collection-map-route-query {
  width: 100%;
  height: 100%;
  color: #cfd7ff;
  padding: 10px;
  box-sizing: border-box;
  @head-height: 210px;

  &-header {
    width: 100%;
    height: @head-height;

    &-title {

      display: flex;
      justify-content: space-between;
      align-items: center;

      &-operation {
        display: flex;
        align-self: flex-start;

        &>div {
          cursor: pointer;

          &:hover {
            color: white;
          }
        }
      }
    }


    &>* {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }


    &-datetime {

      &-title {
        width: 74px;
      }

      &>div {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-time {
      display: flex;
      justify-content: space-between;
      align-items: center;

      app-time-control {
        width: 48%;
      }
    }
  }

  .split {
    border-bottom: 1px solid #5e6ebf;
  }

  &-content {

    width: 100%;
    height: calc(100% - @head-height - 34px);
    overflow-y: auto;
    padding: 10px 0;

    &-item {
      width: 100%;
      height: 34px;
      font-size: 18px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 6px 0;
      background-color: #1e88e54d;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: #1e88e599;
      }

      &.selected {
        background-color: #1e88e5;
      }
    }
  }

  &-footer {
    height: 34px;
    display: flex;
    align-items: center;

    button {
      height: 100%;
      width: 100%;
    }
  }
}
