<div class="collection-map-route-query">
  <div class="collection-map-route-query-header">
    <div class="collection-map-route-query-header-title">
      <div class="hw-simple-title">选择清运车辆</div>
      <div
        class="collection-map-route-query-header-title-operation"
        *ngIf="config.close"
      >
        <div (click)="onclose()">
          <i class="howell-icon-Close"></i>
        </div>
      </div>
    </div>
    <div class="collection-map-route-query-header-datetime">
      <div class="collection-map-route-query-header-datetime-title">
        选择日期
      </div>
      <div class="collection-map-route-query-header-date">
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy年MM月dd日'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [(date)]="date"
        />
      </div>
      <div class="collection-map-route-query-header-time">
        <app-time-control
          [time]="time.begin"
          [endTime]="time.end"
        ></app-time-control>
        -
        <app-time-control
          [time]="time.end"
          [beginTime]="time.begin"
        ></app-time-control>
      </div>
    </div>

    <div class="split"></div>
    <div>
      <howell-simple-search
        (searchEvent)="onsearch($event)"
        [placeHolder]="'请输入...'"
      ></howell-simple-search>
    </div>
  </div>
  <div class="collection-map-route-query-content">
    <div
      class="collection-map-route-query-content-item"
      [ngClass]="{ selected: item.data.equals(selected) }"
      *ngFor="let item of datas"
      (click)="onselect($event, item)"
    >
      {{ item.name }}
    </div>
  </div>
  <div class="collection-map-route-query-footer">
    <button class="hw-blue-btn" (click)="onquery()">确认</button>
  </div>
</div>
