:host {
  width: 100%;
  height: 100%;
  position: relative;
}

.label-manage-form {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  max-height: 600px;
  position: relative;
  .manage-content {
    overflow: hidden;
  }
}
