<div class="ai-camera-events">
  <div class="vertical-layout">
    <div class="vertical-header">
      <div class="hw-second-title">AI事件</div>

      <div class="operate-bar inline-bar">
        <div class="right-wrapper">
          <div class="search-wrapper">
            <input
              [disabled]="searchInfo.Filter"
              type="text"
              placeholder="设备名称"
              [(ngModel)]="searchInfo.Condition"
              (keyup.enter)="search()"
            />
          </div>
          <div class="hw-normal-btn-group">
            <button class="hw-blue-btn" (click)="search()">
              <i class="mdi mdi-magnify"></i>
              查询
            </button>
            <div class="list-container">
              <button class="hw-blue-m-btn" (click)="showMode = !showMode">
                <i class="howell-icon-ul"></i>
                <i class="mdi mdi-menu-down"></i>
              </button>
              <div class="list-body" *ngIf="showMode">
                <ul>
                  <li>
                    <a (click)="changeViewMode(ViewMode.table)">
                      <i class="howell-icon-ul"></i>
                    </a>
                  </li>
                  <li>
                    <a (click)="changeViewMode(ViewMode.card)">
                      <i class="howell-icon-cam-all1"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <button class="hw-cyan-m-btn" (click)="toggleFilterHandler()">
              <i class="mdi mdi-filter-outline"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="filter-wrapper" *ngIf="searchInfo.Filter">
        <div class="filter-group">
          <div class="title">
            <span class="hw-form-label">开始时间</span>
          </div>
          <div class="content">
            <input
              type="text"
              readonly
              DateTimePicker
              [format]="dateFormat"
              [(date)]="searchInfo.BeginTime"
              class="hw-form-control hw-form-input"
            />
          </div>
        </div>

        <div class="filter-group">
          <div class="title">
            <span class="hw-form-label">结束时间</span>
          </div>
          <div class="content">
            <input
              type="text"
              readonly
              DateTimePicker
              [format]="dateFormat"
              [(date)]="searchInfo.EndTime"
            />
          </div>
        </div>

        <div class="filter-group">
          <div class="title">
            <span class="hw-form-label">事件类型</span>
          </div>
          <div class="content">
            <select [(ngModel)]="searchInfo.EventType">
              <option [ngValue]="EventType.None">全部</option>
              <option
                [ngValue]="item.key"
                *ngFor="let item of selectDataSource | keyvalue"
              >
                {{ item.value }}
              </option>
            </select>
          </div>
        </div>
        <div class="filter-group">
          <div class="title"><span class="hw-form-label">AI模型</span></div>
          <div class="content">
            <select [(ngModel)]="searchInfo.ModelName">
              <option value="">全部</option>
              <option [value]="model.ModelName" *ngFor="let model of aiModels">
                {{ model.ModelName }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="vertical-main">
      <ng-template *ngIf="template" [ngTemplateOutlet]="template"></ng-template>
    </div>
    <div class="vertical-footer" style="justify-content: flex-end">
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page.RecordCount }}</div>
          <div class="info-item">总数量: {{ page.TotalRecordCount }}</div>
        </div>
        <app-paginator
          *ngIf="page"
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="pagerCount"
          [pageIndex]="page.PageIndex - 1"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>

<ng-template #tableTemplate>
  <div class="table-layout">
    <div class="table-header">
      <table class="big-table">
        <colgroup>
          <col *ngFor="let width of widths" [style.width]="width" />
        </colgroup>

        <thead>
          <tr>
            <th>图片</th>
            <th>设备名称</th>
            <th>事件类型</th>
            <th>模型名称</th>
            <th>设备类型</th>
            <th>上报时间</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-body zoomIn">
      <table class="big-table">
        <colgroup>
          <col *ngFor="let width of widths" [style.width]="width" />
        </colgroup>

        <tbody>
          <ng-template ngFor [ngForOf]="dataSource" let-item>
            <tr>
              <td>
                <img
                  [src]="item.ImageUrl | async"
                  alt=""
                  *ngIf="item.ImageUrl | async"
                />
              </td>
              <td>{{ item.ResourceName }}</td>
              <td>{{ item.EventType }}</td>
              <td>{{ item.ModelName }}</td>
              <td>{{ item.ResourceType }}</td>

              <td>{{ item.EventTime | date : "yyyy-MM-dd HH:mm:ss" }}</td>
              <td>
                <a
                  class="td-icon"
                  (click)="clickVideoIcon(item)"
                  *ngIf="item.AICameraId"
                >
                  <i class="howell-icon-video"></i>
                </a>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #cardTemplate>
  <div class="card-container">
    <ng-template ngFor [ngForOf]="dataSource" let-item>
      <div class="hw-card-layout">
        <div class="hw-card-header">
          <div class="left-wrapper">{{ item.ResourceName }}</div>
          <div class="right-wrapper">
            <div>
              <a>
                <i class="howell-icon-videodownload"></i>
              </a>
              <a>
                <i class="howell-icon-picturedownload"></i>
              </a>
              <a>
                <i class="m-r-5 howell-icon-video"></i>
              </a>
            </div>
            <div style="font-size: 14px">{{ item.EventTime }}</div>
          </div>
        </div>
        <div class="hw-card-body">
          <img [src]="item.ImageUrl" alt="" />
        </div>
        <div class="hw-card-footer">
          <div>{{ item.EventType }}</div>
          <div>{{ item.ResourceType }}</div>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>

<howell-video-player-window
  [Model]="windowModel"
  [style]="{ width: '60%', height: '60%' }"
  [cameraId]="video.cameraId"
  [mode]="video.mode"
  [time]="video.time"
  [title]="video.title"
  [autoplay]="video.autoplay"
></howell-video-player-window>
