<app-window [style]="style" [Model]="Model" *ngIf="!!model">
  <div class="garbage-collection-point-details-window">
    <div class="garbage-collection-point-details-window-header">
      <div class="hw-simple-title">收运点信息</div>
    </div>
    <div class="garbage-collection-point-details-window-content">
      <div class="garbage-collection-point-details-window-content-form">
        <div
          class="garbage-collection-point-details-window-content-form-item full"
        >
          <div
            class="garbage-collection-point-details-window-content-form-item-title hw-form-label"
          >
            名称
          </div>
          <div
            class="garbage-collection-point-details-window-content-form-item-value"
          >
            <input type="text" [(ngModel)]="model.Name" />
          </div>
        </div>

        <div class="garbage-collection-point-details-window-content-form-item">
          <div
            class="garbage-collection-point-details-window-content-form-item-title hw-form-label"
          >
            地址
          </div>
          <div
            class="garbage-collection-point-details-window-content-form-item-value"
          >
            <input type="text" [(ngModel)]="model.Address" />
          </div>
        </div>
        <div class="garbage-collection-point-details-window-content-form-item">
          <div
            class="garbage-collection-point-details-window-content-form-item-title hw-form-label"
          >
            类型
          </div>
          <div
            class="garbage-collection-point-details-window-content-form-item-value"
          >
            <collection-point-classification-select
              [(selected)]="model.Classification"
            ></collection-point-classification-select>
          </div>
        </div>
        <div
          class="garbage-collection-point-details-window-content-form-item full"
        >
          <div
            class="garbage-collection-point-details-window-content-form-item-title hw-form-label"
          >
            备注
          </div>
          <div
            class="garbage-collection-point-details-window-content-form-item-value"
          >
            <textarea [(ngModel)]="model.Description"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="garbage-collection-point-details-window-footer">
      <button class="hw-green-m-btn" type="button" (click)="onyes()">
        <i class="howell-icon-Check"></i>
      </button>

      <button class="hw-gray-m-btn" type="button" (click)="oncancel()">
        <i class="howell-icon-Close"></i>
      </button>
    </div>
  </div>
</app-window>
