<div class="monitor-container">
  <div class="monitor-header">
    <mat-toolbar>
      <app-account-info></app-account-info>
      <div class="spacer"></div>
      <common-time></common-time>
      <app-account-operation></app-account-operation>
    </mat-toolbar>
  </div>
  <div class="monitor-content" *ngIf="!route.show">
    <div class="monitor-body">
      <div class="monitor-body__item monitor-body__item--none">
        <div class="monitor-body__wrapper">
          <collection-division-list></collection-division-list>
        </div>
      </div>

      <div class="monitor-body__item monitor-body__item--map">
        <div class="monitor-body__wrapper">
          <div class="statistic-card-group">
            <ng-container *ngFor="let item of statisticDataSource">
              <common-statistic-card
                [model]="item"
                (clickEvent)="clickCard($event)"
              ></common-statistic-card
            ></ng-container>
          </div>
          <div class="map-control">
            <collection-map-control
              [position]="map.position"
              (route)="map.onroute($event)"
              (VideoPlay)="map.onvideoplay($event)"
            ></collection-map-control>
          </div>
        </div>
        <!-- <div class="monitor-body__wrapper patrol">
          <app-patrol-control
            (close)="patrol.onclose()"
            (fullscreen)="patrol.onfullscreen()"
          ></app-patrol-control>
        </div> -->
      </div>

      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-device-state
            (clickEvent)="clickDeviceState($event)"
          ></collection-device-state>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-vehicle
            (clickEvent)="clickVehicle($event)"
            (position)="map.onposition($event)"
            (route)="map.onroute($event)"
          ></collection-vehicle>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-score-pie
            (clickEvent)="clickScorePipe($event)"
          ></collection-score-pie>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-score-rank
            (clickEvent)="clickScoreRank($event)"
          ></collection-score-rank>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-weight-line></collection-weight-line>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-score-bar></collection-score-bar>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-point-pie
            (clickEvent)="clickPointPipe($event)"
          ></collection-point-pie>
        </div>
      </div>
    </div>
  </div>
  <div class="monitor-content" *ngIf="route.show">
    <collection-map-route
      (close)="route.close()"
      [model]="route.vehicle"
    ></collection-map-route>
  </div>
</div>
<toast-window *ngIf="showToast" [showClose]="true" (closeEvent)="closeToast()">
  <!-- ngComponentOutlet 无法在模板上监听事件 -->
  <ng-template
    #container
    [ngComponentOutlet]="componentTypeExpression"
    [ngComponentOutletInjector]="myInjector"
  >
  </ng-template>
</toast-window>

<!-- <app-video-window [model]="video.model" [window]="video" [title]="video.title">
</app-video-window> -->

<!-- <app-picture-window
  *ngIf="window.picture.show"
  [Model]="window.picture"
  [style]="window.picture.style"
  [title]="window.picture.title"
  [picture]="window.picture.image"
>
</app-picture-window> -->

<!-- <howell-video-player-window
  *ngIf="window.video.show"
  [Model]="window.video"
  [style]="window.video.style"
  [business]="window.video"
  [autoplay]="window.video.autoplay"
  [cameraId]="window.video.cameraId"
  [title]="window.video.title"
  [mode]="window.video.mode"
  [time]="window.video.time"
></howell-video-player-window> -->

<video-multiple-player-window
  *ngIf="window.video.show"
  [Model]="window.video"
  [style]="window.video.style"
  [business]="window.video"
  [autoplay]="window.video.autoplay"
  [models]="window.video.cameras"
  [title]="window.video.title"
  [mode]="window.video.mode"
  [time]="window.video.time"
></video-multiple-player-window>

<app-video-window
  *ngIf="video.show"
  [model]="video.model"
  [window]="video"
  [title]="video.title"
>
</app-video-window>

<app-picture-window
  *ngIf="window.picture.show"
  [Model]="window.picture"
  [style]="window.picture.style"
  [title]="window.picture.title"
  [picture]="window.picture.image"
>
</app-picture-window>
