<div class="monitor-container">
  <div class="monitor-header">
    <mat-toolbar>
      <app-account-info></app-account-info>
      <div class="spacer"></div>
      <app-time></app-time>
      <app-account-operation></app-account-operation>
    </mat-toolbar>
  </div>
  <div class="monitor-content" *ngIf="!route.show">
    <div class="monitor-body">
      <div class="monitor-body__item monitor-body__item--none">
        <div class="monitor-body__wrapper">
          <collection-division-list></collection-division-list>
        </div>
      </div>

      <div class="monitor-body__item monitor-body__item--map">
        <div class="monitor-body__wrapper">
          <div></div>
          <div class="map-control">
            <!-- <collection-map-control
              [position]="map.position"
              (route)="map.onroute($event)"
            ></collection-map-control> -->
          </div>
        </div>
        <div class="monitor-body__wrapper patrol">
          <!-- <app-patrol-control
            (close)="patrol.onclose()"
            (fullscreen)="patrol.onfullscreen()"
          ></app-patrol-control> -->
        </div>
      </div>

      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-device-state></collection-device-state>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-vehicle></collection-vehicle>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-score-pie></collection-score-pie>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-score [type]="CollectionScore.Good"></collection-score>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-event-line></collection-event-line>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-event-line
            [type]="TrashCanType.Wet"
          ></collection-event-line>
        </div>
      </div>
      <div class="monitor-body__item">
        <div class="monitor-body__wrapper">
          <collection-point-pie></collection-point-pie>
        </div>
      </div>
    </div>
  </div>
  <div class="monitor-content" *ngIf="route.show">
    <div class="route-back" (click)="route.close()">
      <div class="">
        <i class="howell-icon-Close"></i>
      </div>
    </div>
    <collection-map-route [model]="route.vehicle"></collection-map-route>
  </div>
</div>
