/*
 * @Author: pmx 
 * @Date: 2021-09-28 13:20:36 
 * @Last Modified by: pmx
 * @Last Modified time: 2022-12-15 16:16:42
 */
.monitor-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .monitor-header {
    width: 100%;
    height: 90px;
  }

  .monitor-content {
    width: 100%;
    height: calc(100% - 90px);

    background-image: url(src/assets/img/index.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .monitor-body {
      width: 100%;
      height: 100%;
      flex-grow: 1;
      padding-top: 5px;
      box-sizing: border-box;

      display: grid;
      grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5];
      grid-template-rows: [r1] 1fr [r2] 1fr [r3] 1fr [r4];

      // grid-template-columns: repeat(4, 1fr);
      // grid-template-rows: repeat(2, 1fr);

      grid-template-areas: "a b c" "d e f" "g h i";

      &.hide-titlebar {
        height: 100%;
      }

      .monitor-body__item {
        margin: 5px;
        border: 1px solid #5c6ebf;
        background-color: rgba(6, 13, 55, 0.7);
        position: relative;
        box-sizing: border-box;

        overflow: hidden;

        &--none {
          border: none;

          & .monitor-body__wrapper {
            background: none !important;
          }
        }

        &--map {
          // display: none;
          /** 指定位置的三种方式 **/

          // grid-area: 1/2/3/4;

          // grid-row-start: 1;
          // grid-row-end: 3;
          // grid-column-start: 2;
          // grid-column-end: 4;

          grid-row-start: r1;
          grid-row-end: r3;
          grid-column-start: c2;
          grid-column-end: c4;
          position: relative;

          &.fullscreen {
            position: absolute;
            width: calc(100% - 10px);
            height: calc(100% - 110px);
            z-index: 1;
          }

          .statistic-card-group {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            position: absolute;
            width: calc(100%);
            box-sizing: border-box;
          }

          .map-control {
            width: 100%;
            height: 100%;
          }

          .patrol-control {
            width: 100%;
            height: 100%;
          }
        }

        .monitor-body__wrapper {
          height: 100%;
          overflow: hidden;
          // margin: -2px;
          // padding: 2px;
          background-repeat: no-repeat;
          background-image: linear-gradient(0deg, #7a8de6, #7a8de6),
            linear-gradient(90deg, #7a8de6, #7a8de6),
            linear-gradient(90deg, #7a8de6, #7a8de6),
            linear-gradient(180deg, #7a8de6, #7a8de6),
            linear-gradient(180deg, #7a8de6, #7a8de6),
            linear-gradient(270deg, #7a8de6, #7a8de6),
            linear-gradient(270deg, #7a8de6, #7a8de6),
            linear-gradient(0deg, #7a8de6, #7a8de6);
          background-position: left top, left top, right top, right top,
            right bottom, right bottom, left bottom, left bottom;
          background-size: 2px 10px, 10px 2px, 10px 2px, 2px 10px;

          &.patrol {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #0a0a37;
          }
        }
      }
    }

    .route-back {
      border-radius: 90px;
      width: 30px;
      height: 30px;
      position: absolute;
      background-color: #070621;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7a8de6;
      cursor: pointer;
      top: 130px;
      right: 40px;
      border: 1px solid #7a8de6;
      z-index: 1;

      &:hover {
        background-color: #7a8de6;
        color: white;
      }
    }
  }
}

common-statistic-card {
  width: 168px;
  height: 71px;
}
