<div class="monitor-container">
  <div class="monitor-header">
    <mat-toolbar>
      <app-account-info></app-account-info>
      <div class="spacer"></div>
      <app-time></app-time>
      <app-account-operation></app-account-operation>
    </mat-toolbar>
  </div>
  <div class="monitor-body">
    <div class="monitor-body__item monitor-body__item--none">
      <div class="monitor-body__wrapper">
        <!-- <collection-division-list></collection-division-list> -->
      </div>
    </div>
    <div class="monitor-body__item monitor-body__item--map">
      <div class="monitor-body__wrapper">
        <div></div>
        <div class="map-control">
          <!-- <app-map-control
            (patrol)="map.onpatrol()"
            (VideoPlay)="map.onvideoplay($event)"
            (illegalDropClicked)="map.onIllegalDropClicked($event)"
            (mixedIntoClicked)="map.onMixedIntoClicked($event)"
            (garbageCountClicked)="map.onGarbageCountClicked($event)"
            (garbageFullClicked)="map.onGarbageFullClicked($event)"
            [position]="map.position"
          ></app-map-control> -->
        </div>
      </div>
      <div class="monitor-body__wrapper patrol">
        <!-- <app-patrol-control
          (close)="patrol.onclose()"
          (fullscreen)="patrol.onfullscreen()"
        ></app-patrol-control> -->
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <collection-device-state></collection-device-state>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <!-- <app-negative-comment-rank> </app-negative-comment-rank> -->
        <collection-score-rank></collection-score-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <collection-vehicle></collection-vehicle>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <collection-score [type]="CollectionScore.Good"></collection-score>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <collection-statistic [type]="TrashCanType.Dry"></collection-statistic>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <collection-statistic [type]="TrashCanType.Wet"></collection-statistic>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <collection-point></collection-point>
      </div>
    </div>
  </div>
</div>
