.picture-upload {
  width: 100%;
  height: 100%;
  border: 1px solid #5e6ebf;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
