<div class="event-record-filter">
  <div class="filter-item">
    <div class="filter-item-title">开始时间</div>
    <input
      class="filter-item-value"
      type="text"
      DateTimePicker
      [format]="'yyyy年MM月dd日 HH:mm'"
      [startView]="DateTimePickerView.day"
      [minView]="DateTimePickerView.hour"
      [(date)]="filter.duration.begin"
      (dateChange)="changeBegin($event)"
    />
  </div>
  <div class="filter-item">
    <div class="filter-item-title">结束时间</div>
    <input
      class="filter-item-value"
      type="text"
      DateTimePicker
      [format]="'yyyy年MM月dd日 HH:mm'"
      [startView]="DateTimePickerView.day"
      [minView]="DateTimePickerView.hour"
      [(date)]="filter.duration.end"
      (dateChange)="changeEnd($event)"
    />
  </div>
  <div class="filter-item select">
    <div class="filter-item-title">行政区</div>
    <!-- <app-select-control
      class="division-select input"
      [data]="model.divisions"
    ></app-select-control> -->
    <!-- <select name="" id="">
      <option [value]="item" *ngFor="let item of model.divisions">
        {{ item.language }}
      </option>
    </select> -->
    <!-- <app-select-control
      class="list-type-select"
      [data]="model.divisions"
      (selectedChange)="ondivision($event)"
    ></app-select-control> -->

    <level-division-panel
      class="filter-item-value list-type-select"
      (selectedChange)="ondivision($event)"
    >
    </level-division-panel>
  </div>
  <div class="filter-item">
    <div class="filter-item-title">投放点</div>

    <hw-select
      class="filter-item-value"
      [(selected)]="filter.station"
      [cannull]="true"
    >
      <select
        #element
        class="list-type-select"
        [(ngModel)]="filter.station"
        (change)="onstation()"
      >
        <option [ngValue]="item" *ngFor="let item of model.stations">
          {{ item.Name }}
        </option>
      </select>
    </hw-select>
    <!-- <app-select-control
      class="list-type-select"
      [data]="model.stations"
      (selectedChange)="onstation($event)"
    ></app-select-control> -->
  </div>
  <div class="filter-item">
    <div class="filter-item-title">摄像机</div>
    <hw-select
      class="filter-item-value"
      [(selected)]="filter.camera"
      [cannull]="true"
    >
      <select
        #element
        class="list-type-select"
        [(ngModel)]="filter.camera"
        (change)="oncamera()"
      >
        <option [ngValue]="item" *ngFor="let item of model.cameras">
          {{ item.Name }}
        </option>
      </select>
    </hw-select>
  </div>
</div>
