<div class="event-record-filter">
  <div class="filter-item">
    <span>开始时间</span>
    <input
      type="text"
      DateTimePicker
      [format]="'yyyy-MM-dd HH:mm'"
      [startView]="DateTimePickerView.day"
      [minView]="DateTimePickerView.hour"
      [date]="filter.BeginTime"
      (change)="changeBegin($event)"
      class=""
    />
  </div>
  <div class="filter-item">
    <span>开始时间</span>
    <input
      type="text"
      DateTimePicker
      [format]="'yyyy-MM-dd HH:mm'"
      [startView]="DateTimePickerView.day"
      [minView]="DateTimePickerView.hour"
      [date]="filter.EndTime"
      (change)="changeEnd($event)"
      class=""
    />
  </div>
  <div class="filter-item select">
    <span>行政区</span>
    <!-- <app-select-control
      class="division-select input"
      [data]="model.divisions"
    ></app-select-control> -->
    <!-- <select name="" id="">
      <option [value]="item" *ngFor="let item of model.divisions">
        {{ item.language }}
      </option>
    </select> -->
    <app-select-control
      class="list-type-select"
      [data]="model.divisions"
      (selectedChange)="ondivision($event)"
    ></app-select-control>
  </div>
  <div class="filter-item">
    <span>投放点</span>
    <app-select-control
      class="list-type-select"
      [data]="model.stations"
      (selectedChange)="onstation($event)"
    ></app-select-control>
  </div>
  <div class="filter-item">
    <span>摄像机</span>
    <app-select-control
      class="list-type-select"
      [data]="model.cameras"
      (selectedChange)="oncamera($event)"
    ></app-select-control>
  </div>
</div>
