<div class="platform-operate hw-popped-container">
  <div class="hw-popped-wrapper">
    <div class="hw-simple-title">{{ title }}</div>
    <form class="hw-form direction-row" [formGroup]="myForm">
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label"> 名称 </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input
            type="text"
            class="hw-form-control hw-form-input"
            formControlName="Name"
          />
        </div>
      </div>

      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label"> 协议类型 </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <select
            class="hw-form-control hw-form-select"
            formControlName="ProtocolType"
          >
            <option
              *ngFor="let protocol of protocols"
              [value]="protocol.ProtocolType"
            >
              {{ protocol.ProtocolType }}
            </option>
          </select>
        </div>
      </div>

      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label"> 用户名 </span>
        </div>
        <div class="content">
          <input
            type="text"
            class="hw-form-control hw-form-input"
            formControlName="Username"
          />
        </div>
      </div>

      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label"> 密码 </span>
        </div>
        <div class="content">
          <input
            type="text"
            class="hw-form-control hw-form-input"
            formControlName="Password"
          />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label"> IP地址 </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input
            type="text"
            class="hw-form-control hw-form-input"
            formControlName="Hostname"
          />
        </div>
      </div>

      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label"> 端口号 </span>
          <span class="hw-form-icon">*</span>
        </div>
        <div class="content">
          <input
            type="text"
            class="hw-form-control hw-form-input"
            formControlName="Port"
          />
        </div>
      </div>

      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label"> 事件IP地址 </span>
        </div>
        <div class="content">
          <input
            type="text"
            class="hw-form-control hw-form-input"
            formControlName="EventRecvIPAddress"
          />
        </div>
      </div>
      <div class="hw-form-group">
        <div class="title">
          <span class="hw-form-label"> 事件端口号 </span>
        </div>
        <div class="content">
          <input
            type="text"
            class="hw-form-control hw-form-input"
            formControlName="EventRecvPort"
          />
        </div>
      </div>

      <div class="hw-form-group" style="flex-basis: 100%">
        <div class="title">
          <span class="hw-form-label"> 订阅事件编码 </span>
        </div>
        <div class="content">
          <textarea
            class="hw-form-control hw-form-textarea"
            formControlName="EventCodes"
          ></textarea>
        </div>
      </div>
    </form>
    <div class="hw-middle-btn-group">
      <button class="hw-green-m-btn" type="button" (click)="onSubmit()">
        <i class="howell-icon-Check"></i>
      </button>

      <button class="hw-gray-m-btn" type="button" (click)="onReset()">
        <i class="howell-icon-Close"></i>
      </button>
    </div>
  </div>
</div>
