:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.platform-operate {
  .btns {
    text-align: center;
  }
  select {
    background-image: url("/assets/img/technology-custom-select.png");
  }
}
