<div class="garbage-station-weight-index">
  <div class="garbage-station-weight-index-head">
    <div class="garbage-station-weight-index-head-title">
      <div class="second-title-bg text">垃圾称重</div>
    </div>
    <div class="garbage-station-weight-index-head-menu">
      <div (click)="page = Page.list">
        <div
          class="second-menu-btn text"
          [ngClass]="{
            selected: page === Page.list
          }"
        >
          总图表
        </div>
      </div>
      <div (click)="page = Page.chart">
        <div
          class="second-menu-btn text"
          [ngClass]="{
            selected: page === Page.chart
          }"
        >
          细分图表
        </div>
      </div>
    </div>
  </div>
  <div class="garbage-station-weight-index-body">
    <garbage-station-weight-list
      *ngIf="page === Page.list"
    ></garbage-station-weight-list>
    <garbage-station-weight-chart
      *ngIf="page === Page.chart"
    ></garbage-station-weight-chart>
  </div>
</div>
