.audit-list-station-garbage-manager-nb-box {
  width: calc(420px * 2 + 10px);

  &-head {
    margin-bottom: 10px;
  }

  &-body {
    display: flex;
    gap: 10px;

    &>* {
      width: 420px;
    }
  }
}
