<div class="ai-garbage-station-device-command" *ngIf="!!model">
  <div class="ai-garbage-station-device-command-head">
    <div class="hw-simple-title">{{ model.Name }}操作命令</div>
  </div>
  <div class="ai-garbage-station-device-command-body">
    <div class="form-groups">
      <ai-garbage-station-device-command-system
        [model]="model"
      ></ai-garbage-station-device-command-system>
    </div>
    <div class="form-groups">
      <ai-garbage-station-device-command-station
        [model]="model"
      ></ai-garbage-station-device-command-station>
      <ai-garbage-station-device-command-gcha
        [model]="model"
      ></ai-garbage-station-device-command-gcha>
    </div>
  </div>
</div>
