.ai-garbage-station-device-command {
  color: #cfd7ff;

  &-head {
    margin-bottom: 10px;
  }

  &-body {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    .form {
      &-group {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 10px;

        &s {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &-item {
        width: 100%;
        padding: 0 5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        .btn {
          font-size: 16px;
        }

        &-title {
          color: #cfd7ff;
          display: flex;
          align-items: center;

          .fun {
            margin-left: 2px;

            &.run {
              animation: _rotate 2s linear infinite;
            }

          }
        }

        &-value {
          display: flex;
          align-items: center;
          height: 34px;
          justify-content: center;
          width: 76px;


          hw-switch {
            transform: scale(1.5);
            transform-origin: center center;
          }


          // button {
          //   color: #7586e0;
          //   border-color: #7586e0;
          //   font-weight: bold;

          //   &:hover {
          //     color: white;
          //     background-color: #7586e0;
          //   }
          // }

          ::ng-deep {
            .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
              background-color: #7586e0;
            }

            .mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element {
              background-color: #7586e0;
            }

            .mat-slide-toggle-bar {
              background-color: #e0e0e0;
            }
          }

        }
      }
    }
  }

  &-windows {
    margin: 0 -5px;

    &-tab {

      display: flex;
      justify-content: flex-start;


      .second-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-content {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      &-item {
        width: 50%;

        &-title {}

        &-value {
          color: white;
        }
      }

      &-foot {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &-foot {}

  .panel {
    background: rgba(36, 72, 165, 0.05);
    border: 2px rgba(117, 134, 224, 0.15) solid;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 500px;
  }
}


@keyframes _rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
