.garbage-drop-window-item-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-head {
    height: 73px;
    flex-grow: 0;
  }

  &-body {
    height: calc(100% - 73px);
    flex-grow: 1;
  }
}
