<div class="ai-garbage-station-device-schedule" *ngIf="!!schedule">
  <div class="ai-garbage-station-device-schedule-head">
    <div class="title">
      <div class="hw-simple-title">{{ model?.GarbageStationName }}工作表</div>
    </div>
    <ul class="hw-ul">
      <li>
        <div
          class="second-menu-btn text"
          [ngClass]="{
            selected: type === ScheduleType.fan
          }"
          (click)="type = ScheduleType.fan"
        >
          风扇开关时段
        </div>
      </li>
      <li>
        <div
          class="second-menu-btn text"
          [ngClass]="{
            selected: type === ScheduleType.spray
          }"
          (click)="type = ScheduleType.spray"
        >
          香氛喷洒时间点
        </div>
      </li>
      <li>
        <div
          class="second-menu-btn text"
          [ngClass]="{
            selected: type === ScheduleType.door
          }"
          (click)="type = ScheduleType.door"
        >
          感应门开门时间点
        </div>
      </li>
    </ul>
  </div>
  <div class="ai-garbage-station-device-schedule-body">
    <ai-garbage-station-device-schedule-fan
      *ngIf="type === ScheduleType.fan"
      [(models)]="schedule.ExhaustFanTimeSegments"
    >
    </ai-garbage-station-device-schedule-fan>
    <ai-garbage-station-device-schedule-spray
      *ngIf="type === ScheduleType.spray"
      [(models)]="schedule.SprayTimes"
    >
    </ai-garbage-station-device-schedule-spray>
    <ai-garbage-station-device-schedule-door
      *ngIf="type === ScheduleType.door"
      [(models)]="schedule.DoorOpenTimes"
    >
    </ai-garbage-station-device-schedule-door>
  </div>
  <div class="ai-garbage-station-device-schedule-foot">
    <button class="hw-green-btn m-r-10" (click)="onupdate()">
      <i class="howell-icon-Check"></i> 确定
    </button>
    <button class="hw-gray-btn" (click)="onclose()">
      <i class="howell-icon-Close"></i> 取消
    </button>
  </div>
</div>
