<div class="password-change">
  <div class="password-change-header">修改密码</div>
  <div class="password-change-content" *ngIf="!successed">
    <form [formGroup]="form">
      <div class="form">
        <table cellpadding="10">
          <tr class="item">
            <td class="title">原密码：</td>
            <td>
              <input
                type="password"
                class="custom form-control"
                formControlName="old"
                placeholder="请输入密码"
                (blur)="oldBlur($event)"
              />
            </td>
            <td>
              <span *ngIf="!old.compare"
                ><button
                  class="hw-green-btn"
                  (click)="checkOldPassword($event)"
                >
                  验证
                </button></span
              >
              <span *ngIf="old.compare">
                <i class="mdi mdi-check green-text"></i>
              </span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">字母和数字必须至少有1个，6-18个字符</td>
          </tr>
          <tr class="item">
            <td class="title">新密码：</td>
            <td>
              <input
                type="password"
                class="custom form-control"
                formControlName="now"
                placeholder="请输入新密码"
                (blur)="nowBlur($event)"
              />
            </td>
            <td>
              <span *ngIf="now.compare">
                <i class="mdi mdi-check green-text"></i>
              </span>
            </td>
          </tr>
          <tr class="item">
            <td class="title">确认密码：</td>
            <td>
              <input
                type="password"
                class="custom form-control"
                formControlName="repeat"
                placeholder="请确认新密码"
                (blur)="repeatBlur($event)"
              />
            </td>
            <td>
              <span *ngIf="repeat.compare">
                <i class="mdi mdi-check green-text"></i>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </form>
    <div class="operation">
      <button class="hw-green-btn m-r-20" (click)="change($event)">修改</button>
      <button class="hw-gray-m-btn" (click)="cancel($event)">取消</button>
    </div>
  </div>
  <div class="password-change-content successed" *ngIf="successed">
    <div class="text">
      <div style="color: white">修改成功，请重新登录！</div>
    </div>

    <div class="operation">
      <button class="hw-green-btn" (click)="logout($event)">去登录</button>
    </div>
  </div>
</div>
