<div class="event-record-count">
  <div class="event-record-count-header">
    <div class="filter">
      <div class="filter-item">
        <span>选择时间</span>
        <input
          type="text"
          DateTimePicker
          [format]="config.dateTimePicker.format"
          [startView]="config.dateTimePicker.view"
          [minView]="config.dateTimePicker.view"
          [week]="config.dateTimePicker.week"
          [(date)]="date"
        />
      </div>
      <div class="filter-item">
        <span>行政区</span>
        <select class="list-type-select" [(ngModel)]="userType">
          <option
            [ngValue]="UserResourceType.County"
            *ngIf="global.defaultResourceType === UserResourceType.City"
          >
            {{ Language.UserResourceType(UserResourceType.County) }}
          </option>
          <option
            [ngValue]="UserResourceType.Committees"
            *ngIf="
              !(global.defaultResourceType === UserResourceType.Committees)
            "
          >
            {{ Language.UserResourceType(UserResourceType.Committees) }}
          </option>
          <option [ngValue]="UserResourceType.Station">
            {{ Language.UserResourceType(UserResourceType.Station) }}
          </option>
        </select>
      </div>
      <button class="hw-blue-btn search" (click)="search()">
        <i class="mdi mdi-magnify"></i> 查询
      </button>
      <button class="hw-blue-btn excel" (click)="exportExcel()">
        <i class="howell-icon-export"></i> 导出
      </button>
      <button class="hw-blue-btn csv" (click)="exportCSV()">
        <i class="howell-icon-export"></i> CSV
      </button>
    </div>
    <div class="selection">
      <select
        class="list-type-select"
        [(ngModel)]="unit"
        (change)="ontimeunit()"
      >
        <option [ngValue]="TimeUnit.Day">
          {{ Language.TimeUnit(TimeUnit.Day) }}
        </option>
        <option [ngValue]="TimeUnit.Week">
          {{ Language.TimeUnit(TimeUnit.Week) }}
        </option>
        <option [ngValue]="TimeUnit.Month">
          {{ Language.TimeUnit(TimeUnit.Month) }}
        </option>
      </select>
    </div>
  </div>
  <div class="event-record-count-content">
    <howell-event-record-count-table
      [unit]="unit"
      [eventType]="eventType"
      [date]="date"
      [type]="userType"
      [load]="load"
      (loaded)="onloaded($event)"
    >
    </howell-event-record-count-table>
  </div>
</div>
