.audit-garbage-station-details-table {
  height: 100%;
  overflow-x: auto;

  @first-width: 300px;
  @operation-width: 150px;


  &-main {
    display: flex;
    justify-content: start;


    &-table {
      height: 100%;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }

  }



  table {
    tr {
      height: auto;

      &.selected {
        b {
          &:hover {
            color: white;
          }
        }
      }

      &.hover {
        background: rgba(117, 134, 224, 0.5);
      }

      td {
        height: auto;

        &.lock {
          height: auto;
        }

        div {
          width: min-content;

          b {
            color: #7586e0;
          }

        }

        &.first {
          width: @first-width;
          min-width: @first-width;
          max-width: @first-width;
          left: 0;
        }


        &.last {
          width: @operation-width;
        }

        &>.td-icon {
          &.disabled {
            color: gray;
          }
        }

        &>.operation {
          width: calc(@operation-width - 24px);
          justify-content: center;
          align-items: center;
          display: flex;
          gap: 10px;

          .icon-button {
            margin: 0;

            &.disabled {
              color: gray;
            }
          }
        }
      }


    }

  }

  &-main {
    position: relative;
    overflow: hidden;

    .lock-border {
      position: absolute;
      pointer-events: none;
      left: calc(@first-width);
      right: @operation-width;
      top: 0;
      bottom: 0;
      border-right: 1px dashed #4b5899;
      border-left: 1px dashed #4b5899;
    }
  }
}
