<div class="collection-point-window vertical-layout">
  <div class="vertical-header">
    <div class="hw-second-title">收运点列表</div>
    <div class="filter-wrapper">
      <div class="filter-group">
        <div class="title">
          <span class="hw-form-label">名称:</span>
        </div>
        <div class="content">
          <input
            type="text"
            [(ngModel)]="searchInfo.Condition"
            (keyup.enter)="search()"
          />
        </div>
      </div>
      <div class="filter-group">
        <div class="title">
          <span class="hw-form-label">类型:</span>
        </div>
        <div class="content">
          <select [(ngModel)]="searchInfo.Type">
            <option value="">全部</option>
            <option [value]="CollectionPointClassification.PublicPlace">
              公共场所
            </option>
            <option [value]="CollectionPointClassification.Unit">单位</option>
            <option [value]="CollectionPointClassification.Residence">
              住宅
            </option>
            <option [value]="CollectionPointClassification.Building">
              商业广场
            </option>
            <option [value]="CollectionPointClassification.Shop">
              沿街商铺
            </option>
            <option [value]="CollectionPointClassification.Other">其他</option>
          </select>
        </div>
      </div>

      <div class="filter-group">
        <div class="title">
          <span class="hw-form-label">行政区:</span>
        </div>
        <div class="content">
          <common-tree-select [selectedNodes]="selectedNodes">
            <howell-division-tree
              #tree
              [business]="collectionDivisionTreeBusiness"
              [depth]="1"
              (selectTreeNode)="selectTreeNode($event)"
            ></howell-division-tree>
          </common-tree-select>
        </div>
      </div>

      <div class="hw-normal-btn-group">
        <button class="hw-blue-btn" (click)="search()">
          <i class="mdi mdi-magnify"></i>
          查询
        </button>
      </div>
    </div>
  </div>
  <div class="vertical-main">
    <custom-table class="big-table">
      <ng-container ngProjectAs="table-header">
        <table>
          <ng-template [ngTemplateOutlet]="colGroup"></ng-template>
          <thead>
            <tr>
              <th>名称</th>
              <th>类型</th>
              <th>地址</th>
              <th>区划</th>
            </tr>
          </thead>
        </table>
      </ng-container>

      <ng-container ngProjectAs="table-body">
        <ng-template
          [ngIf]="dataSource.length"
          [ngIfThen]="thenBlock"
          [ngIfElse]="elseBlock"
        ></ng-template>
      </ng-container>
    </custom-table>
  </div>

  <div class="vertical-footer">
    <div class="footer-item" style="margin-left: auto">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page.TotalRecordCount }}</div>
      </div>
      <app-paginator
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="page.PageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>

<ng-template #colGroup>
  <colgroup>
    <col *ngFor="let item of tdWidth" [style.width]="item" />
  </colgroup>
</ng-template>
<ng-template #thenBlock>
  <table>
    <ng-template [ngTemplateOutlet]="colGroup"></ng-template>

    <tbody>
      <ng-template ngFor [ngForOf]="dataSource" let-item>
        <tr>
          <td>{{ item.Name }}</td>
          <td>
            {{ item.Classification }}
          </td>
          <td>{{ item.Address }}</td>
          <td>{{ item.DivisionName }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</ng-template>
<ng-template #elseBlock>
  <div class="data-none">暂无数据</div>
</ng-template>
