<div class="event-record-table vertical-layout">
  <div class="event-record-table-main vertical-main">
    <div class="event-record-table-main-table" WheelHorizontalScroll>
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        [ngStyle]="{
          height: table_height
        }"
      >
        <thead>
          <tr>
            <td class="lock left first">图片</td>
            <td class="lock left second">资源名称</td>
            <td>投放点</td>
            <td>社区</td>
            <td>街道</td>
            <td>居委会</td>
            <td>上报时间</td>
            <td>闭环时间</td>
            <td>闭环状态</td>
            <td>处置人员</td>
            <td>处置时间</td>
            <td class="lock right last center">操作</td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of datas; let i = index"
            [ngClass]="{
              selected: selected === item
            }"
            (click)="onselect(item)"
          >
            <td class="lock left first">
              <div class="imgs">
                <div
                  class="img"
                  image
                  *ngFor="let url of item.urls; let imgIndex = index"
                  [url]="url | async"
                  (click)="onimage($event, item, imgIndex)"
                ></div>
              </div>
            </td>
            <td class="lock left second">
              <div [style.width]="'calc(' + widths[1] + ' - 24px)'">
                {{ item.ResourceName }}
              </div>
            </td>
            <td>
              <div [style.width]="'calc(' + widths[2] + ' - 24px)'">
                {{ item.GarbageStation ? item.GarbageStation.Name : "" }}
              </div>
            </td>
            <td>
              <div [style.width]="'calc(' + widths[3] + ' - 24px)'">
                {{
                  item.Data
                    ? item.Data.CommunityName
                    : item.GarbageStation
                    ? item.GarbageStation.CommunityName
                    : ""
                }}
              </div>
            </td>
            <td>
              <div [style.width]="'calc(' + widths[4] + ' - 24px)'">
                {{
                  item.GarbageStation
                    ? ((item.GarbageStation.Division | async)?.Parent | async)
                        ?.Name
                    : ""
                }}
              </div>
            </td>
            <td>
              <div [style.width]="'calc(' + widths[5] + ' - 24px)'">
                {{
                  item.GarbageStation
                    ? (item.GarbageStation.Division | async)?.Name
                    : ""
                }}
              </div>
            </td>
            <td>
              <div [style.width]="'calc(' + widths[6] + ' - 24px)'">
                {{ item.DateFormatter }}
              </div>
            </td>

            <td>
              <div [style.width]="'calc(' + widths[7] + ' - 24px)'">
                {{ (item.HandleTime | date : "HH:mm:ss") ?? "-" }}
              </div>
            </td>
            <td>
              <div
                [style.width]="'calc(' + widths[8] + ' - 24px)'"
                [class]="Color.class.IsHandle(item.IsHandle)"
              >
                {{ Language.IsHandle(item.IsHandle) }}
              </div>
            </td>
            <td>
              <div [style.width]="'calc(' + widths[9] + ' - 24px)'">
                {{ item.ProcessorName ?? "-" }}
              </div>
            </td>
            <td>
              <div [style.width]="'calc(' + widths[10] + ' - 24px)'">
                {{
                  item.ProcessTime
                    ? (item.ProcessTime | date : "HH:mm:ss")
                    : "-"
                }}
              </div>
            </td>
            <td class="lock right last">
              <div
                class="operation center"
                [style.width]="'calc(' + widths[11] + ' - 24px)'"
              >
                <div
                  class="icon-button"
                  title="事件发生时间视频"
                  (click)="playvideo($event, item)"
                >
                  <i class="howell-icon-video"></i>
                </div>

                <div
                  class="icon-button"
                  title="事件发生时间厢房摄像机"
                  (click)="onallvideo($event, item)"
                >
                  <i class="howell-icon-cam-all1"></i>
                </div>
                <div
                  class="icon-button"
                  title="下载图片"
                  (click)="onDownloadImage(item)"
                >
                  <i class="howell-icon-picturedownload"></i>
                </div>
                <div
                  class="icon-button"
                  title="下载视频"
                  (click)="onDownloadVideo(item)"
                >
                  <i class="howell-icon-videodownload"></i>
                </div>

                <div
                  class="icon-button"
                  title="刷卡记录"
                  (click)="oncardrecord(item)"
                >
                  <i class="howell-icon-garbage_card"></i>
                </div>

                <div
                  class="icon-button"
                  title="查看工单"
                  (click)="oncomplete($event, item)"
                >
                  <i class="mdi mdi-nfc-tap"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="lock-border"></div>
  </div>
  <div class="event-record-table-main-footer footer" *ngIf="page">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>

      <!-- MatPaginator 的pageIndex是从0开始-->
      <app-paginator
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="5"
        [pageIndex]="page.PageIndex - 1"
        [showFirstLastButtons]="true"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
