:host {
  width: 100%;
}

.app-total-waste {
  display: flex;
  color: #d8f4ff;
  justify-content: center;

  .total-waste-item {
    margin: 0 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 10px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .count {
        font-size: 24px;
        color: #32f0f7;
      }

      .unit {}
    }
  }
}
