<div class="illegal-mixinto">
  <div class="rank-head">
    <div class="title">{{ title }}</div>

    <div class="select-group">
      <app-select-control
        class="resource-type"
        *ngIf="resourceTypeDisplay"
        [data]="resourceTypes"
        (selectedChange)="onResourceTypeSelected($event)"
      ></app-select-control>
      <app-select-control
        class="event-type"
        [data]="eventTypes"
        (selectedChange)="onEventTypeSelected($event)"
      ></app-select-control>
    </div>
  </div>
  <app-rank [data]="rankData"> </app-rank>
</div>
