<app-window [Model]="Model" [style]="style">
  <ng-container *ngIf="Model.show">
    <app-tab-title [title]="Language.json.station + Language.json.state">
      <div class="garbage-full-station-table-window-header">
        <app-input-search (search)="onlistsearch($event)" *ngIf="index === 0">
        </app-input-search>
      </div>
    </app-tab-title>
    <div class="garbage-full-station-table-window-content">
      <mat-tab-group
        [disableRipple]="true"
        animationDuration="0ms"
        [color]="'transparent'"
        [selectedIndex]="index"
        (selectedIndexChange)="indexChange($event)"
      >
        <mat-tab label="列表">
          <howell-garbage-full-station-table [load]="load">
          </howell-garbage-full-station-table>
        </mat-tab>
        <mat-tab label="事件">
          <howell-event-record-table [type]="type"> </howell-event-record-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
</app-window>
