<app-window [Model]="Model" [style]="style">
  <ng-container *ngIf="Model.show">
    <app-tab-title [title]="Language.json.station + Language.json.state">
      <div class="garbage-full-station-table-window-header">
        <div class="operation" *ngIf="index === Index.station">
          <app-input-search (search)="station.onsearch($event)">
          </app-input-search>
        </div>
        <div class="operation" *ngIf="index === Index.record">
          <howell-event-record-operation
            (filter)="record.filter.display()"
            (search)="record.filter.search($event)"
          >
          </howell-event-record-operation>
        </div>
      </div>
    </app-tab-title>
    <div class="garbage-full-station-table-window-content">
      <mat-tab-group
        [disableRipple]="true"
        animationDuration="0ms"
        [color]="'transparent'"
        [selectedIndex]="index"
        (selectedIndexChange)="indexChange($event)"
      >
        <mat-tab label="列表">
          <howell-garbage-full-station-table
            [load]="station.load"
            (image)="onimage($event)"
          >
          </howell-garbage-full-station-table>
        </mat-tab>
        <mat-tab label="事件">
          <interval-division-station-filter
            *ngIf="record.filter.show"
            (filter)="record.filter.onfilter($event)"
          >
          </interval-division-station-filter>
          <div class="event-record-table" [class.filter]="record.filter.show">
            <howell-event-record-table
              [type]="type"
              [load]="record.filter.load"
              (image)="onimage($event)"
            >
            </howell-event-record-table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
</app-window>
