<div class="collection-map-route">
  <div
    class="collection-map-route-close"
    (click)="onclose()"
    *ngIf="!splitview"
  >
    <i class="howell-icon-Close"></i>
  </div>
  <div
    class="collection-map-route-content"
    [ngClass]="{ splitview: splitview }"
  >
    <iframe #iframe [src]="src" (load)="onIframeLoad($event)"></iframe>
  </div>
  <div
    *ngIf="!display.query && !splitview"
    class="route-button collection-map-route-query-button"
    (click)="onquerybuttonclick()"
  >
    <i class="howell-icon-ul"></i>
  </div>
  <div
    class="panel collection-map-route-query"
    [ngStyle]="{
      display: !display.query || splitview ? 'none' : ''
    }"
  >
    <collection-map-route-query
      [args]="args"
      (close)="onqueryclose()"
      (query)="onquery($event)"
    >
    </collection-map-route-query>
  </div>
  <div
    class="panel collection-map-route-video"
    [ngClass]="{ splitview: splitview }"
    *ngIf="display.video"
  >
    <collection-map-route-video
      *ngIf="!!model"
      [source]="model"
      [begin]="duration?.begin"
      [end]="duration?.end"
      [play]="play"
      [pause]="pause"
      (close)="onvideoclose()"
      (opened)="onvideoopened()"
      (splitview)="onvideosplitview($event)"
    >
    </collection-map-route-video>
  </div>
  <div
    class="panel collection-map-route-video"
    [ngClass]="{ splitview: splitview }"
    *ngIf="display.info"
  >
    <collection-map-route-info
      *ngIf="!!model"
      [source]="model"
      (close)="oninfoclose()"
    >
    </collection-map-route-info>
  </div>
  <div class="collection-map-route-operation" *ngIf="display.operation">
    <div
      class="route-button"
      [ngClass]="{ selected: focus }"
      title="清运车跟踪"
      (click)="onfocus()"
    >
      <i class="mdi mdi-crosshairs-gps"></i>
    </div>
    <div
      title="清运车信息"
      class="route-button vehicle"
      (click)="onvehicleclick()"
    >
      <i class="howell-icon-dustcart"></i>
    </div>
    <div title="视频" class="route-button" (click)="onvideoclick()">
      <i class="howell-icon-video"></i>
    </div>
  </div>
  <div
    class="panel collection-map-route-controls"
    *ngIf="!!model"
    [ngStyle]="{
      display: splitview ? 'none' : ''
    }"
  >
    <collection-map-route-control
      [seek]="controlseek"
      (loaded)="onloaded($event)"
      (scoreclick)="onscore($event)"
      (routetrigger)="onroute($event)"
      (routeclick)="onrouteclick($event)"
      [load]="loadControl"
      [(focus)]="focus"
    >
    </collection-map-route-control>
  </div>
</div>
