<div class="collection-map-route">
  <div class="collection-map-route-content">
    <iframe #iframe [src]="src" (load)="onIframeLoad($event)" class=""></iframe>
  </div>

  <div class="collection-map-route-controls" *ngIf="!!model">
    <collection-map-route-control
      [sourceId]="model.Id"
      (loaded)="onloaded($event)"
      (scoreclick)="onscore($event)"
      (routeclick)="onroute($event)"
    >
    </collection-map-route-control>
  </div>
  <div class="panel collection-map-route-device-list">
    <collection-map-route-device-list (select)="onselected($event)">
    </collection-map-route-device-list>
  </div>
  <div class="panel collection-map-route-video"></div>
</div>
