<div class="door" *ngIf="!!models">
  <div class="door-week">
    <select [(ngModel)]="week">
      <option [ngValue]="item" *ngFor="let item of weeks">
        {{ Language.Week(item) }}
      </option>
    </select>
    <div class="panel" (click)="tocopy()">
      <i class="mdi mdi-content-copy"></i> 复制
    </div>
  </div>
  <div
    class="panel door-item"
    *ngFor="let item of models[week].Segments; let i = index"
  >
    <div class="time">
      <div>{{ i + 1 }}：</div>
      <app-time-control
        [(time)]="item.StartTime"
        [endTime]="item.StopTime"
      ></app-time-control>
      -
      <app-time-control
        [(time)]="item.StopTime"
        [beginTime]="item.StartTime"
      ></app-time-control>
    </div>
    <div (click)="onremove(i)">
      <i class="howell-icon-delete-bin td-icon"></i>
    </div>
  </div>

  <div class="panel plus" (click)="oncreate()">
    <i class="howell-icon-plus"></i> 添加
  </div>
</div>

<app-window
  *ngIf="window.show"
  [style]="window.style"
  [Model]="window"
  [CloseButton]="false"
>
  <div class="week-window">
    <div class="week-window-head">
      <div class="hw-simple-title">复制到……</div>
      <div class="all" (click)="onall()">全选</div>
    </div>
    <div class="week-window-body">
      <div class="week-window-body-checkboxs">
        <mat-checkbox
          [checked]="window.weeks.includes(item)"
          [indeterminate]="window.current === item"
          [disabled]="window.current === item"
          *ngFor="let item of weeks"
          (change)="onweek(item)"
          >{{ Language.Week(item) }}</mat-checkbox
        >
      </div>
      <div class="week-window-body-controls"></div>
    </div>
    <div class="week-window-foot">
      <button class="hw-green-btn" (click)="oncopy()">
        <i class="mdi mdi-content-copy"></i> 复制
      </button>
      <button class="hw-gray-btn" (click)="window.show = false">
        <i class="howell-icon-Close"></i> 取消
      </button>
    </div>
  </div>
</app-window>
