<div class="door" *ngIf="!!models">
  <div class="door-week">
    <common-label-select
      [autoclose]="true"
      [selectedNodes]="selection.selecteds"
    >
      <ai-garbage-station-week-list
        #tree
        [selecteds]="selection.selecteds"
        (selectedsChange)="selection.onselect($event)"
      ></ai-garbage-station-week-list>
    </common-label-select>
    <div class="panel" (click)="onsync()">
      <i class="howell-icon-refresh"></i> 同步
    </div>
  </div>
  <div
    class="panel door-item"
    *ngFor="let item of models[week].Segments; let i = index"
  >
    <div class="time">
      <div>{{ i + 1 }}：</div>
      <app-time-control
        [(time)]="item.StartTime"
        [endTime]="item.StopTime"
      ></app-time-control>
      -
      <app-time-control
        [(time)]="item.StopTime"
        [beginTime]="item.StartTime"
      ></app-time-control>
    </div>
    <div (click)="onremove(i)">
      <i class="howell-icon-delete-bin td-icon"></i>
    </div>
  </div>

  <div class="panel plus" (click)="oncreate()">
    <i class="howell-icon-plus"></i> 添加
  </div>
</div>
