<div class="garbage-station-window-details">
  <ng-content></ng-content>
  <div class="garbage-station-window-details-header">
    <div class="filter">
      <div class="filter-items">
        <div class="filter-item">
          <div class="filter-item-title">选择时间</div>
          <input
            class="filter-item-value"
            type="text"
            DateTimePicker
            [format]="dateFormat"
            [(date)]="opts.date"
          />
        </div>
        <div class="filter-item">
          <div class="filter-item-title">类型</div>
          <select
            class="filter-item-value list-type-select"
            [(ngModel)]="opts.type"
          >
            <option [ngValue]="item" *ngFor="let item of types">
              {{ Language.StatisticType(item) }}
            </option>
          </select>
        </div>
        <div class="filter-item tree">
          <div class="filter-item-title">投放点</div>
          <div class="filter-item-value hw-form-list-item-value tree">
            <common-label-select
              [autoclose]="true"
              [selectedNodes]="selection.selecteds"
              [height]="'325px'"
            >
              <howell-division-tree
                #tree
                [selectStrategy]="SelectStrategy.Multiple"
                [resourceType]="DivisionType.None"
                (selectTreeNode)="selection.onselect($event)"
              ></howell-division-tree>
            </common-label-select>
          </div>
          <!-- <howell-division-station-tree-mult-filter
            class="filter-item-value tree"
            [divisionType]="DivisionType.None"
            [maxSelection]="maxItem"
            [onlystation]="true"
            (onselect)="onTreeSelect($event)"
          >
          </howell-division-station-tree-mult-filter> -->
        </div>
        <button class="hw-blue-btn search" (click)="search()">
          <i class="mdi mdi-magnify"></i> 查询
        </button>
        <button class="hw-blue-btn excel" (click)="exportExcel()">
          <i class="howell-icon-export"></i> 导出
        </button>
        <button class="hw-blue-btn csv" (click)="exportCSV()">
          <i class="howell-icon-export"></i> CSV
        </button>
      </div>
    </div>
    <div class="selection">
      <select class="list-type-select" [(ngModel)]="opts.unit">
        <option
          [ngValue]="item"
          *ngFor="let item of units"
          (change)="loadData()"
        >
          {{ Language.TimeUnit(item) }}
        </option>
      </select>
      <select class="list-type-select" [(ngModel)]="chartType">
        <option
          [ngValue]="item"
          *ngFor="let item of chartTypes"
          (change)="loadData()"
        >
          {{ Language.ChartType(item) }}
        </option>
      </select>
    </div>
  </div>
  <div class="garbage-station-window-details-content">
    <howell-line-chart
      *ngIf="chartType === ChartType.line && config.line"
      [theme]="config.line.theme"
      [options]="config.line.options"
      [merge]="config.line.merge"
    ></howell-line-chart>

    <howell-bar-chart
      *ngIf="chartType === ChartType.bar && config.bar"
      [theme]="config.bar.theme"
      [options]="config.bar.options"
      [merge]="config.bar.merge"
    ></howell-bar-chart>
  </div>
</div>
