.division-tree-filter {
  position: relative;
  overflow: visible;

  width: 100%;
  cursor: pointer;

  .selected {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5e6ebf;
    font-size: 18px;
    border-radius: unset;
    background-color: #1d233b;
    padding: 0 5px;

    label {
      font-size: 16px;
      color: #cfd7ff;
      margin-bottom: 0;
    }
  }

  .tree {
    width: 300px;
    height: 320px;
    overflow: auto;
    position: absolute;
    top: 20px;
    padding: 10px;
    border: 1px solid #194076;
    background: #0c1127;
    z-index: 1;


    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }
  }
}
