<div class="division-tree-filter">
  <div class="selected" (click)="onclick($event)">
    <label #selected>{{ current ? current.name : "请选择" }}</label>
    <i class="mdi mdi-menu-down arrow-time light-blue-text"></i>
  </div>

  <div
    class="tree"
    [class.right]="align == HorizontalAlign.right"
    [class.left]="align == HorizontalAlign.left"
    [ngStyle]="style"
    *ngIf="expand"
  >
    <app-tree
      [treeServiceModel]="treeServiceModel"
      [treeSelectModel]="treeSelectModel"
      [resourceType]="type"
      (selectTree)="selectTree($event)"
      [depth]="1"
    ></app-tree>
  </div>
</div>
