<!--  垃圾清运记录 车辆有关信息-->
<div class="collection-vehicle">
  <small-table>
    <ng-container ngProjectAs="table-header">
      <table>
        <ng-template [ngTemplateOutlet]="colGroup"></ng-template>
        <thead>
          <tr>
            <th>名称</th>
            <th>清运人员</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </ng-container>

    <ng-container ngProjectAs="table-body">
      <table>
        <ng-template [ngTemplateOutlet]="colGroup"></ng-template>

        <tbody>
          <ng-template ngFor [ngForOf]="dataSource" let-item>
            <tr>
              <td [title]="item.Name">{{ item.Name }}</td>
              <td>
                {{ item.Type | vehicleType }}
              </td>
              <td>
                <span>
                  <i
                    class="glyphicon glyphicon-map-marker"
                    [style.fontSize.px]="15"
                  ></i
                ></span>
                <span> <i class="howell-icon-route"></i></span>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </ng-container>
  </small-table>
</div>

<ng-template #colGroup>
  <colgroup>
    <col *ngFor="let item of tdWidth" [style.width]="item" />
  </colgroup>
</ng-template>
