<div class="platform-manage">
  <ng-container *ngIf="showOperate">
    <howell-pop-up-window>
      <howell-platform-operate
        [state]="state"
        [platformId]="platformId"
        (closeEvent)="closeForm($event)"
      ></howell-platform-operate>
    </howell-pop-up-window>
  </ng-container>

  <ng-container *ngIf="showConfirm">
    <howell-confirm-dialog
      (dialogMsgEvent)="dialogMsgEvent($event)"
      [dialogModel]="dialogModel"
    >
    </howell-confirm-dialog>
  </ng-container>

  <div class="hw-table-layout">
    <div class="hw-operation">
      <div class="hw-second-title">智慧平台</div>
      <div class="hw-operate-bar wrap">
        <div class="hw-normal-btn-group">
          <button class="hw-green-btn" (click)="addBtnClick()">
            <i class="howell-icon-plus"></i>
            添加
          </button>
          <button
            class="hw-red-btn"
            [disabled]="!enableDelBtn"
            (click)="deleteBtnClick()"
          >
            <i class="howell-icon-delete-bin"></i>
            删除
          </button>
        </div>

        <div class="search-wrapper">
          <howell-simple-search
            placeHolder="名称"
            (searchEvent)="searchEvent($event)"
          ></howell-simple-search>
        </div>
      </div>
    </div>

    <div class="hw-table-container">
      <common-table
        [dataSubject]="dataSubject"
        [columnModel]="columnModel"
        [displayedColumns]="displayedColumns"
        [selectStrategy]="selectStrategy"
        [tableOperates]="tableOperates"
        (selectTableRow)="selectTableRow($event)"
      ></common-table>
    </div>
    <div class="hw-table-footer">
      <div class="footer-item">
        <app-table-select (tableSelect)="tableSelect($event)">
        </app-table-select>
      </div>

      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">已选择: {{ selectedRows.length }}</div>
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>
        <app-paginator
          *ngIf="page"
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="pagerCount"
          [pageIndex]="pageIndex - 1"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
