.mat-flat-button {
  margin: 10px;
}

.division-manage {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  // background-color: #0d142d;
  .division-list {
    width: 350px;

    overflow: auto;
    .tree-container {
    }
  }
  .division-detail {
    flex-grow: 1;
  }
}
