@header-arrow-margin: 6px;

.howell-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
  padding: 0 15px;

  outline: 0;
  position: relative;

  .howell-header-content {
    overflow: hidden;
    ::ng-deep div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .howell-sort-header-arrow {
    margin-left: 5px;
    margin-top: -15px;

    .indicator {
      font-size: x-small;
    }
  }
}
