.map-point-info-panel-device {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;


  &-body {

    width: 100%;
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    &>* {
      flex-grow: 1;
    }
  }
}

.nodata {
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
