.map-point-info-panel-device {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;


  &-body {

    width: 100%;
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    .panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: rgba(36, 72, 165, .05);
      border: 2px rgba(117, 134, 224, .15) solid;
      padding: 20px;
      box-sizing: border-box;
      width: 400px;

      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        &-title {
          white-space: nowrap;
          color: #cfd7ff;
        }

        &-value {
          width: calc(100% - 50px);
          text-align: end;
          color: white;
          display: flex;
          justify-content: flex-end;
          gap: 10px;
        }
      }
    }
  }
}

.nodata {
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
