<div class="nodata" *ngIf="!data">无数据</div>
<div class="map-point-info-panel-device" *ngIf="data">
  <div class="map-point-info-panel-device-head">
    <div class="hw-simple-title">
      {{ data.DeviceName }}
    </div>
  </div>
  <div class="map-point-info-panel-device-body">
    <map-point-info-panel-device-station
      [data]="data"
    ></map-point-info-panel-device-station>
    <map-point-info-panel-device-nbbox
      *ngIf="nb"
      [data]="nb"
    ></map-point-info-panel-device-nbbox>

    <map-point-info-panel-device-gcha
      *ngIf="data.GCHAStatus && data.GCHAStatus.OnlineState == 0"
      [data]="data.GCHAStatus"
    ></map-point-info-panel-device-gcha>

    <map-point-info-panel-device-command
      [stationId]="stationId"
    ></map-point-info-panel-device-command>
    <ng-container *ngIf="data.Robots && data.Robots.length > 0">
      <ng-container *ngFor="let item of data.Robots; let index = index">
        <map-point-info-panel-device-robot
          [data]="item"
          [index]="index"
          [length]="data.Robots.length"
        ></map-point-info-panel-device-robot>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="data.Sortations && data.Sortations.length > 0">
      <ng-container *ngFor="let item of data.Sortations; let index = index">
        <map-point-info-panel-device-sortation
          [data]="item"
          [index]="index"
          [length]="data.Sortations.length"
        ></map-point-info-panel-device-sortation>
      </ng-container>
    </ng-container>
  </div>
</div>
