.card-record-episode {
  height: 100%;
  width: 100%;
  color: #cfd7ff;
  @head-height: 40px;

  &-head {
    height: @head-height;
    display: flex;
    justify-content: flex-start;
  }

  &-body {
    height: calc(100% - @head-height);
    display: flex;
    justify-content: space-between;

    &-list {
      width: 25%;

      &>div {
        box-sizing: border-box;
        padding: 10px;
        @date-height: 38px;
        @camera-height: 76px;

        &.event {
          height: calc(100% - @camera-height - 10px);

          &.nodata {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }

          &-date {
            height: @date-height;
          }

          .rfid {
            height: calc(100% - @date-height);

            .record {
              display: flex;
              justify-content: space-between;

              background-color: rgba(117, 134, 224, 0.15);
              margin-bottom: 5px;
              padding: 0 5px;
              cursor: pointer;

              &>div {
                display: flex;
                align-items: center;

                i {
                  font-size: 24px;
                }
              }

              &:last-child {
                margin-bottom: 0;
              }

              &:hover {
                background: linear-gradient(to right, rgb(117, 134, 224, .5), rgb(50, 134, 229, .5));
              }

              &.selected {
                background: linear-gradient(to right, rgb(117, 134, 224), rgb(50, 134, 229));
              }

            }
          }
        }

        &.cameras {
          height: @camera-height;
          display: flex;
          justify-content: start;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;

          .title {
            width: 50px;
            margin: 5px;
          }

          .value {
            width: calc(100% - 55px);
          }
        }
      }

    }

    &-video {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .control {
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        font-size: 70px;
        cursor: pointer;
      }

      .player {
        width: 100%;
        height: 100%;
      }
    }

    .panel {
      border: 1px solid #5e6ebf;
      box-sizing: border-box;

      &.h {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }

      &.v {
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
