<div class="card-record-episode" *ngIf="!!record">
  <div class="card-record-episode-head" *ngIf="!!station">
    <div class="hw-simple-title">混合投放追溯</div>
    &nbsp;
    <div class="hw-simple-title-sub" *ngIf="!!station.CommunityName">
      {{ station.CommunityName }}-
    </div>
    <div class="hw-simple-title-sub">{{ station.Name }}</div>
  </div>
  <div class="card-record-episode-body">
    <div class="card-record-episode-body-list">
      <div
        class="panel v event nodata"
        *ngIf="!!station && station.StationType !== StationType.Rfid"
      >
        <div>非智能厢房</div>
        <div>无记录</div>
      </div>
      <div
        class="panel v event"
        *ngIf="!!station && station.StationType === StationType.Rfid"
      >
        <div class="event-date">
          <div class="hw-simple-title-sub">
            {{ record.EventTime | date : "yyyy年MM月dd日" }}
          </div>
        </div>
        <div class="rfid">
          <div
            *ngFor="let item of cardRecords"
            class="record"
            (click)="onrecordclicked(item)"
          >
            <div>
              <i class="howell-icon-garbage_card"></i> &nbsp;{{
                item.BuildingNo
              }}
              {{ item.RoomNo }}
            </div>
            <div>{{ item.Time | date : "HH:mm:ss" }}</div>
          </div>
        </div>
      </div>
      <div class="panel v cameras" *ngIf="!!station && !!station.Cameras">
        <div class="title">摄像机</div>
        <div class="value">
          <select [(ngModel)]="args.video.cameraId" (change)="oncamerachange()">
            <option *ngFor="let item of station.Cameras" [ngValue]="item.Id">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="panel h card-record-episode-body-video" style="padding: 1px">
      <img *ngIf="url.image && !url.video" [src]="url.image" />
      <div
        *ngIf="url.image && !url.video"
        class="control howell-icon-play"
        (click)="toplay()"
      ></div>
      <app-video-player
        class="player"
        *ngIf="url.video"
        [url]="url.video"
        [stop]="stop"
        (onStoping)="onstop()"
        (onPlaying)="onplay()"
      ></app-video-player>
    </div>
  </div>
</div>
