<div class="garbage-vehicle-camera-binding-aicamera">
  <div class="garbage-vehicle-camera-binding-aicamera-header">
    <howell-simple-search
      placeHolder="摄像机名称"
      (searchEvent)="onsearch($event)"
    ></howell-simple-search>
  </div>
  <div class="garbage-vehicle-camera-binding-aicamera-content">
    <div class="garbage-vehicle-camera-binding-aicamera-content-overflow">
      <div
        class="garbage-vehicle-camera-binding-aicamera-content-item"
        *ngFor="let item of datas"
      >
        <!-- <input type="checkbox" [checked]="selected.includes(item)" />
        {{ item.Name }} -->
        <mat-checkbox
          *ngIf="canselect"
          (click)="$event.stopPropagation()"
          (change)="onselect(item)"
          [checked]="selected.includes(item)"
          [title]="item.Name"
        >
          <i class="howell-icon-video"></i>
          {{ item.Name }}
        </mat-checkbox>
        <span class="mat-checkbox-label" *ngIf="!canselect"
          ><i class="howell-icon-video"></i> {{ item.Name }}
        </span>
      </div>
    </div>
  </div>
  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
