.event-number-statistic {
  width: 100%;
  height: 100%;
}

.filter-wrapper {
  .filter-group {
    flex-basis: 25%;
  }
}

.operate-bar {
  margin-bottom: 0;
}

.hw-normal-btn-group {
  margin-left: 5px;
}
