<!-- 垃圾事件统计表 -->
{{ curDate | json }}
<div class="event-number-statistic vertical-layout">
  <div class="vertical-header">
    <div class="operate-bar">
      <div class="left-wrapper filter-wrapper">
        <div class="filter-group">
          <div class="title">
            <span class="hw-form-label">结束时间</span>
          </div>
          <div class="content">
            <input
              type="text"
              readonly
              DateTimePicker
              [format]="dateFormat"
              [date]="curDate"
              (change)="changeDate($event)"
              class="hw-form-control hw-form-input"
            />
          </div>
        </div>
        <div class="filter-group">
          <div class="title">
            <span class="hw-form-label">行政区</span>
          </div>
          <div class="content">
            <select [(ngModel)]="searchInfo.ResourceType">
              <ng-container *ngFor="let option of options">
                <option [ngValue]="option.value">
                  {{ option.language }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="hw-normal-btn-group">
          <button class="hw-blue-btn" (click)="search()">
            <i class="mdi mdi-magnify"></i>
            查询
          </button>
          <button class="hw-blue-btn" (click)="exportXLSX()">
            <i class="howell-icon-export"></i>
            导出
          </button>
          <button class="hw-blue-btn" (click)="exportCSV()">
            <i class="howell-icon-export"></i>
            CSV
          </button>
        </div>
      </div>
      <div class="right-wrapper">
        <select
          [(ngModel)]="searchInfo.TimeUnit"
          (ngModelChange)="changeTimeUnit($event)"
        >
          <option [value]="TimeUnit.Day">日报表</option>
          <option [value]="TimeUnit.Week">周报表</option>
          <option [value]="TimeUnit.Month">月报表</option>
        </select>
      </div>
    </div>
  </div>
  <div class="vertical-main">
    <div class="progress-mask" *ngIf="!loadFinish">
      <mat-spinner></mat-spinner>
    </div>
    <common-table
      [dataSubject]="dataSubject"
      [columnModel]="columnModel"
      [displayedColumns]="displayedColumns"
      [selectStrategy]="selectStrategy"
    ></common-table>
  </div>
  <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>
      <app-paginator
        *ngIf="page"
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="pageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
