<div class="garbage-drop-station-table">
  <div class="garbage-drop-station-table-main">
    <table border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td [ngStyle]="{ width: width[0] }">图片</td>
          <td [ngStyle]="{ width: width[1] }">投放点</td>
          <td [ngStyle]="{ width: width[2] }">街道</td>
          <td [ngStyle]="{ width: width[3] }">居委会</td>
          <td [ngStyle]="{ width: width[4] }">垃圾堆数</td>
          <td [ngStyle]="{ width: width[5] }">滞留时间</td>
          <td [ngStyle]="{ width: width[6] }">总滞留时长</td>
          <td [ngStyle]="{ width: width[7] }">人员</td>
        </tr>
      </thead>
    </table>
    <div class="body">
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr *ngFor="let item of datas">
            <td [ngStyle]="{ width: width[0] }">
              <div class="img-list">
                <div class="img" *ngFor="let img of item.images">
                  <app-image-control
                    [nosignal]="false"
                    [model]="img"
                    (Click)="imageClick(item, img)"
                  ></app-image-control>

                  <!-- [src]="item.imageSrc" -->
                </div>
              </div>
            </td>
            <td [ngStyle]="{ width: width[1] }">
              {{ item.GarbageStation ? item.GarbageStation.Name : "" }}
            </td>
            <td [ngStyle]="{ width: width[2] }">
              {{
                item.GarbageStation
                  ? item.GarbageStation.County
                    ? item.GarbageStation.County.Name
                    : ""
                  : ""
              }}
            </td>
            <td [ngStyle]="{ width: width[3] }">
              {{
                item.GarbageStation
                  ? item.GarbageStation.Committees
                    ? item.GarbageStation.Committees.Name
                    : ""
                  : ""
              }}
            </td>
            <td [ngStyle]="{ width: width[4] }">
              {{ item.GarbageCount }}
            </td>
            <td [ngStyle]="{ width: width[5] }">
              {{
                item.GarbageDuration ? Language.Time(item.GarbageDuration) : ""
              }}
            </td>
            <td [ngStyle]="{ width: width[6] }">
              {{
                item.MaxGarbageDuration
                  ? Language.Time(item.MaxGarbageDuration)
                  : ""
              }}
            </td>
            <td [ngStyle]="{ width: width[7] }">
              <div
                style="width: 16px"
                *ngFor="let member of item.members"
                [matTooltip]="member.view"
                [matTooltipPosition]="'above'"
              >
                <i class="howell-icon-user-anonymous"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="garbage-drop-station-table-main-footer footer" *ngIf="page">
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="0"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
