<div class="garbage-drop-station-table">
  <div class="garbage-drop-station-table-main">
    <div class="table-header">
      <!-- 有滚动条 -->
      <table>
        <colgroup>
          <col style="width: 12%" />
          <col style="width: 12%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 8%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 5%" />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <tr>
            <th>图片</th>
            <th>投放点</th>
            <th>街道</th>
            <th>居委会</th>
            <th>社区</th>
            <th>垃圾堆数</th>
            <th>滞留时间</th>
            <th>总滞留时长</th>
            <th>人员</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-body">
      <table>
        <colgroup>
          <col style="width: 12%" />
          <col style="width: 12%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 8%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 5%" />
          <col style="width: 10%" />
        </colgroup>
        <tbody>
          <tr *ngFor="let item of datas">
            <td>
              <div class="img-list">
                <div class="img" *ngFor="let img of item.images">
                  <app-image-control
                    [nosignal]="false"
                    [model]="img"
                    (Click)="imageClick(item, img)"
                  >
                  </app-image-control>
                </div>
              </div>
            </td>
            <td>
              {{ item.GarbageStation ? item.GarbageStation.Name : "" }}
            </td>

            <td>
              {{
                item.GarbageStation
                  ? ((item.GarbageStation.Division | async)?.Parent | async)
                      ?.Name
                  : ""
              }}
            </td>
            <td>
              {{
                item.GarbageStation
                  ? (item.GarbageStation.Division | async)?.Name
                  : ""
              }}
            </td>
            <td>
              {{ item.GarbageStation ? item.GarbageStation.CommunityName : "" }}
            </td>
            <td>
              {{ item.GarbageCount }}
            </td>
            <td>
              {{
                item.GarbageDuration ? Language.Time(item.GarbageDuration) : ""
              }}
            </td>
            <td>
              {{
                item.MaxGarbageDuration
                  ? Language.Time(item.MaxGarbageDuration)
                  : ""
              }}
            </td>
            <td>
              <div
                style="width: 16px"
                *ngFor="let member of item.members"
                [matTooltip]="member.view"
                [matTooltipPosition]="'above'"
              >
                <i class="howell-icon-user-anonymous"></i>
              </div>
            </td>
            <td class="operation">
              <div style="width: 16px" (click)="onPositionClicked(item)">
                <i class="glyphicon glyphicon-map-marker"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="garbage-drop-station-table-main-footer footer" *ngIf="page">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>

      <app-paginator
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="5"
        [pageIndex]="0"
        [showFirstLastButtons]="true"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
