<div class="audit-list-station-garbage-manager-device" *ngIf="!!model">
  <div class="audit-list-station-garbage-manager-device-head">
    <div class="hw-simple-title">{{ model.Name }}设备信息</div>
  </div>
  <div class="audit-list-station-garbage-manager-device-body">
    <ai-garbage-station-device-status-device
      *ngIf="!!device"
      [model]="device"
    ></ai-garbage-station-device-status-device>
    <audit-list-station-garbage-manager-command-station
      [model]="device"
    ></audit-list-station-garbage-manager-command-station>
  </div>
</div>
