<div class="event-record-window-list">
  <div class="event-record-window-list-head">
    <div class="event-record-window-list-title"><ng-content></ng-content></div>
    <div class="event-record-window-list-operation">
      <howell-event-record-operation
        (filter)="filter.display()"
        (search)="filter.onsearch($event)"
        (typeChange)="on.type($event)"
        [(option)]="filter.opts"
        [durationable]="filter.findable"
        [(duration)]="filter.day"
        (durationChange)="filter.on.day($event)"
      >
      </howell-event-record-operation>
    </div>
  </div>
  <div class="event-record-window-list-filter" *ngIf="filter.show">
    <interval-division-station-filter
      *ngIf="filter.show"
      [date_sync]="true"
      [(duration)]="filter.duration"
      (durationChange)="filter.on.duration()"
      [(divisionId)]="filter.divisionId"
      [(stationId)]="filter.stationId"
      [(cameraId)]="filter.cameraId"
      [(handle)]="filter.handle"
      [display_handle]="type != EventType.IllegalDrop"
    >
    </interval-division-station-filter>
  </div>
  <div class="event-record-window-list-table" [class.filter]="filter.show">
    <ng-container *ngIf="listType === ListType.table">
      <howell-event-record-table
        [load]="filter.load"
        [type]="type"
        [filter]="filter"
        [get]="get"
        (image)="on.image($event)"
        (video)="on.video.play($event)"
        (got)="on.got($event)"
        (card)="on.card($event)"
        (allvideo)="on.video.all($event)"
        (complete)="on.complete($event)"
        [findable]="filter.findable"
        (find)="filter.on.find($event)"
      >
      </howell-event-record-table>
    </ng-container>
    <ng-container *ngIf="listType === ListType.card">
      <howell-event-record-list
        [type]="type"
        [load]="filter.load"
        (image)="on.image($event)"
        (video)="on.video.play($event)"
        [filter]="filter"
      >
      </howell-event-record-list>
    </ng-container>
  </div>
</div>
