<div class='container'>
  <mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef>
        <span [class]="column.cls"> {{ column.header }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="clickCell(column,$event)">
        <span [innerHtml]="column.cell(row)" [style]="column.style" [class]="column.cls"></span>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="clickRow(row)"
      [class.high-light]="highLight(row)">
    </mat-row>
  </mat-table>
</div>