<div class='container'>
  <mat-table [dataSource]="dataSource" matSort [matSortDisableClear]="false" (matSortChange)="sortChange($event)">
    <ng-container *ngFor="let column of columns;let index" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef>
        <ng-container>
          <div class="cell-content" [class]="column.cls" [howell-sort-header]="column.columnDef"
            [disabled]="!column.sortHeader"> {{
            column.header
            }}</div>
        </ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="clickCell(column,$event)">
        <div [innerHtml]="column.cell(row)" [style]="column.style" [class]="column.cls"></div>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="clickRow(row)"
      [class.high-light]="highLight(row)">
    </mat-row>
  </mat-table>
</div>