<mat-table [dataSource]="dataSource">
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.columnDef"
  >
    <mat-header-cell *matHeaderCellDef>
      {{ column.header }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span
        [innerHtml]="column.cell(row)"
        [style]="column.style"
        [class]="column.cls"
      ></span>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="clickRow(row)"
  ></mat-row>
</mat-table>
