<div class="device-statistic ">
    <div class="wrapper">
        <div class="item">

            <div class="icon">
                <div class="bg"></div>
                <i class="howell-icon-ebikepark"></i>
            </div>
            <div class="info">
                <span class="info-des">全部车棚</span>
                <span class="info-num">8536</span>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <div class="bg bg_green"></div>
                <i class="howell-icon-ebikepark"></i>
            </div>
            <div class="info">
                <span class="info-des">全部车棚</span>
                <span class="info-num">8536</span>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <div class="bg bg_yellow"></div>
                <i class="howell-icon-ebikepark"></i>
            </div>
            <div class="info">
                <span class="info-des">全部车棚</span>
                <span class="info-num">8536</span>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <div class="bg bg_red"></div>
                <i class="howell-icon-ebikepark"></i>
            </div>
            <div class="info">
                <div class="bg bg_gray"></div>
                <span class="info-des">全部车棚</span>
                <span class="info-num">8536</span>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <div class="bg bg_gray"></div>
                <i class="howell-icon-ebikepark"></i>
            </div>
            <div class="info">
                <div class="bg bg_gray"></div>
                <span class="info-des">全部车棚</span>
                <span class="info-num">8536</span>
            </div>
        </div>
    </div>
</div>