<div class="garbage-station-operate hw-popped-container">
  <div class="hw-popped-wrapper">
    <ng-container *ngIf="showConfirm">
      <howell-confirm-dialog
        (dialogMsgEvent)="dialogMsgEvent($event)"
        [dialogModel]="dialogModel"
      >
      </howell-confirm-dialog>
    </ng-container>

    <div
      class="page-one hw-table-layout inner-popped-wrapper"
      *ngIf="!showPageTwo"
    >
      <div class="hw-operation">
        <div class="hw-simple-title" style="margin-bottom: 20px">
          {{ title }}
        </div>
        <div class="hw-operate-bar wrap">
          <div class="left-wrapper">
            <div class="operate-item" style="flex-basis: 50%">
              <div class="title">
                <span class="hw-form-label"> 名称 </span>
                <span class="hw-form-icon">*</span>
              </div>
              <div class="content">
                <input
                  type="text"
                  name="stationName"
                  [(ngModel)]="stationName"
                />
              </div>
            </div>
            <div class="operate-item">
              <div class="title">
                <span class="hw-form-label">类型 </span>
                <span class="hw-form-icon"></span>
              </div>
              <div class="content">
                <select name="stationType" [(ngModel)]="stationType">
                  <option *ngFor="let s of stationTypes" [value]="s.Type">
                    {{ s.Name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="right-wrapper">
            <div class="search-wrapper">
              <input
                type="text"
                [(ngModel)]="condition"
                placeholder="名称"
                (keyup.enter)="search()"
              />
            </div>
            <div class="hw-normal-btn-group">
              <button class="hw-blue-btn" (click)="search()">
                <i class="mdi mdi-magnify"></i>
                查询
              </button>
            </div>
          </div>
        </div>
        <div
          class="hw-normal-btn-group"
          style="margin-bottom: 10px"
          *ngIf="state == FormState.edit"
        >
          <button class="hw-green-btn" (click)="addBtnClick()">
            <i class="howell-icon-plus"></i>
            添加
          </button>
          <button
            class="hw-red-btn"
            [disabled]="!enableDelBtn"
            (click)="deleteBtnClick()"
          >
            <i class="howell-icon-delete-bin"></i>
            删除
          </button>
        </div>
      </div>

      <ng-container *ngIf="state == FormState.add">
        <div class="hw-table-container">
          <common-table
            #addTable="commonTable"
            [dataSubject]="aiopDataSubject"
            [columnModel]="aiopColumnModel"
            [displayedColumns]="aiopDisplayedColumns"
            [selectStrategy]="selectStrategy"
            (selectTableRow)="selectAiopTableRow($event)"
          ></common-table>
        </div>

        <div class="hw-table-footer">
          <div class="footer-item">
            <app-table-select (tableSelect)="aiopTableSelect($event)">
            </app-table-select>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="state == FormState.edit">
        <div class="hw-table-container">
          <common-table
            #editTable="commonTable"
            [dataSubject]="stationDataSubject"
            [columnModel]="stationColumnModel"
            [displayedColumns]="stationDisplayedColumns"
            [selectStrategy]="selectStrategy"
            (selectTableRow)="selectstationTableRow($event)"
          ></common-table>
        </div>

        <div class="hw-table-footer">
          <div class="footer-item">
            <app-table-select (tableSelect)="stationTableSelect($event)">
            </app-table-select>
          </div>
        </div>
      </ng-container>

      <div class="hw-middle-btn-group">
        <button class="hw-green-m-btn" type="button" (click)="onSubmit()">
          <i class="howell-icon-Check"></i>
        </button>

        <button class="hw-gray-m-btn" type="button" (click)="onReset()">
          <i class="howell-icon-Close"></i>
        </button>
      </div>
    </div>

    <div
      class="page-two inner-popped-wrapper hw-table-layout"
      *ngIf="showPageTwo"
    >
      <div class="hw-operation">
        <div class="hw-simple-title" style="margin-bottom: 20px">
          可添加摄像机列表
        </div>
        <div class="hw-operate-bar">
          <div class="search-wrapper">
            <input
              type="text"
              [(ngModel)]="condition"
              placeholder="名称"
              (keyup.enter)="search()"
            />
          </div>
          <div class="hw-normal-btn-group">
            <button class="hw-blue-btn" (click)="search()">
              <i class="mdi mdi-magnify"></i>
              查询
            </button>
          </div>
        </div>
      </div>
      <div class="hw-table-container">
        <common-table
          #addTable="commonTable"
          [dataSubject]="aiopDataSubject"
          [columnModel]="aiopColumnModel"
          [displayedColumns]="aiopDisplayedColumns"
          [selectStrategy]="selectStrategy"
          (selectTableRow)="selectAiopTableRow($event)"
        ></common-table>
      </div>
      <div class="hw-table-footer">
        <div class="footer-item">
          <app-table-select (tableSelect)="aiopTableSelect($event)">
          </app-table-select>
        </div>
      </div>
      <div class="hw-middle-btn-group">
        <button class="hw-green-m-btn" type="button" (click)="onConfirm()">
          <i class="howell-icon-Check"></i>
        </button>

        <button class="hw-gray-m-btn" type="button" (click)="onCancel()">
          <i class="howell-icon-Close"></i>
        </button>
      </div>
    </div>
  </div>
</div>
