<div class="index-event-vision">
  <div class="index-event-vision-head">
    <div class="hw-simple-title">三级事件督办</div>
    <div class="operation">
      <select class="mdi" [(ngModel)]="position" (change)="onchange()">
        <option [ngValue]="Position.main">
          <div>&#xf392;&nbsp;</div>
        </option>
        <option [ngValue]="Position.center">
          <div>&#xf393;&nbsp;</div>
        </option>
        <option [ngValue]="Position.bottom">
          <div>&#xf394;&nbsp;</div>
        </option>
      </select>
      <div class="howell-icon" (click)="onclose()">
        <i class="howell-icon-Close"></i>
      </div>
    </div>
  </div>
  <div class="index-event-vision-body">
    <dapuqiao-garbage-station-event-record-vision-table
      [load]="load"
      (image)="onimage($event)"
      (details)="ondetails($event)"
      (select)="onselect($event)"
    ></dapuqiao-garbage-station-event-record-vision-table>
  </div>
</div>
