.dapuqiao-main-event-statistic {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  box-sizing: border-box;

  @head-height: 36px;

  &-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    select {
      border: none;
      min-width: auto;
      background-color: #100c2a;
    }
  }

  &-body {
    display: flex;
    justify-content: space-around;
    height: calc(100% - @head-height - 10px);
    width: 100%;

    &-chart {
      width: 60%;
      height: 100%;
    }

    &-info {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .info {
        &-name {
          font-size: 16px;
          color: #99aaff;
        }

        &-value {
          font-size: 24px;

          &:hover {
            cursor: pointer;
            color: #6997ff;
            text-decoration: underline;

          }
        }
      }
    }
  }
}
