<div class="event-record-operation">
  <div class="event-record-operation-search">
    <app-select-control
      class="search-option-select"
      [data]="searchOpts"
      (selectedChange)="onSearchOptionSelect($event)"
    ></app-select-control>
    <input
      type="text"
      placeholder="输入关键字"
      [(ngModel)]="searchOption.text"
    />
  </div>
  <button type="button" class="hw-blue-btn search" (click)="onsearch()">
    <i class="mdi mdi-magnify"></i>
    查询
  </button>
  <div class="list-type-select" (change)="onListTypeSelect()">
    <select [(ngModel)]="type" style="font-family: 'HowellFont'">
      <option [ngValue]="ListType.table">&#xf08b;&nbsp;</option>
      <option [ngValue]="ListType.card">&#xf225;&nbsp;</option>
    </select>
  </div>
  <button class="hw-cyan-m-btn" (click)="onfilter()">
    <i class="mdi mdi-filter-outline"></i>
  </button>
</div>
