<div
  class="fill-height fill-width window-mask"
  *ngIf="Model.show"
  [ngClass]="{
    none: !mask
  }"
>
  <div
    class="window-content"
    [ngClass]="{ 'custom-form-wrap': Background }"
    [ngStyle]="style"
  >
    <div class="window-title" *ngIf="title">
      <div class="hw-simple-title">{{ title }}</div>
    </div>
    <a class="close-winow" (click)="closeButtonClick()" *ngIf="CloseButton">
      <i class="howell-icon-Close alert-window-close-btn"></i>
    </a>
    <ng-content></ng-content>
  </div>
</div>
