<div class="garbage-drop-window-item-record">
  <div class="garbage-drop-window-item-record-head">
    <div class="garbage-drop-window-item-record-head-title">
      <ng-content></ng-content>
    </div>
    <div class="garbage-drop-window-item-record-head-operation">
      <howell-garbage-station-window-record-operation
        [(option)]="option"
        (search)="on.option.search($event)"
        [durationable]="true"
        [(duration)]="duration"
        (durationChange)="on.option.duration($event)"
        [(isfilter)]="isfilter"
      >
      </howell-garbage-station-window-record-operation>
    </div>
  </div>
  <div class="garbage-drop-window-item-record-filter" *ngIf="isfilter">
    <howell-garbage-station-window-record-filter
      [sameDay]="true"
      [(duration)]="filter.duration"
      (durationChange)="on.filter.duration()"
      [(divisionId)]="filter.divisionId"
      [(stationId)]="filter.stationId"
      [(range)]="filter.range"
      [(handle)]="filter.IsHandle"
      [(timeout)]="filter.IsTimeout"
    ></howell-garbage-station-window-record-filter>
  </div>
  <div class="garbage-drop-window-item-record-table" [class.filter]="isfilter">
    <howell-garbage-drop-record-table
      [filter]="filter"
      [load]="load"
      (image)="on.image($event)"
      (video)="on.video.play($event)"
      [get]="get"
      (got)="on.got($event)"
      (complete)="on.complete($event)"
      (allvideo)="on.video.all($event)"
      (find)="on.find($event)"
      [findable]="true"
    >
    </howell-garbage-drop-record-table>
  </div>
</div>
