<div class="map-control">
  <div class="map-control-content">
    <iframe #iframe [src]="src" (load)="onLoad($event)" class=""></iframe>
  </div>
</div>

<ul class="map-bar status" *ngIf="display.status">
  <li class="light-blue-text">
    <i
      style="margin-left: -3px; margin-right: 3px"
      class="howell-icon-garbage"
    ></i
    >{{ pointCount }}
  </li>
  <li class="normal">
    <div></div>
    正常
  </li>
  <li class="warm">
    <div></div>
    满溢
  </li>
  <li class="error">
    <div></div>
    异常
  </li>
</ul>

<div class="map-bar video-list" *ngIf="display.videoList">
  <div class="carousel prev" *ngIf="display.videoControl">
    <a class="carousel-control-prev" #video_list_prev>
      <div class="howell-icon-arrowleftbold blue-text arrow-wrap"></div>
    </a>
  </div>
  <div class="list">
    <ul class="ul">
      <ng-container *ngFor="let camera of cameras">
        <!-- [ngClass]="{'error': camera.CameraState>0}" -->
        <li class="video" (click)="onCameraClicked(camera)">
          <app-image-control [camera]="camera"></app-image-control>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="carousel next" *ngIf="display.videoControl">
    <a class="carousel-control-next" #video_list_next>
      <div class="howell-icon-arrowrightbold blue-text arrow-wrap"></div>
    </a>
  </div>
</div>
