<div class="map-control">
  <div class="map-control-content">
    <iframe #iframe [src]="src" (load)="onLoad($event)" class=""></iframe>
  </div>
</div>

<ul class="map-bar status" *ngIf="display.status">
  <li class="light-blue-text">
    <i
      style="margin-left: -3px; margin-right: 3px"
      class="howell-icon-garbage"
    ></i
    >总数 {{ pointCount.count }}
  </li>
  <li class="normal">
    <div></div>
    正常 {{ pointCount.normal }}
  </li>
  <li class="full">
    <div></div>
    满溢 {{ pointCount.full }}
  </li>
  <li class="drop">
    <div></div>
    滞留 {{ pointCount.drop }}
  </li>
  <li class="error">
    <div></div>
    异常 {{ pointCount.error }}
  </li>
</ul>

<div class="map-bar video-list" *ngIf="display.videoList">
  <div class="carousel prev" *ngIf="display.videoControl">
    <a class="carousel-control-prev" #video_list_prev>
      <div class="howell-icon-arrowleftbold blue-text arrow-wrap"></div>
    </a>
  </div>
  <div class="list">
    <ul class="ul">
      <ng-container *ngFor="let image of images">
        <!-- [ngClass]="{'error': camera.CameraState>0}" -->
        <li class="video" [title]="image.name">
          <app-image-control
            [model]="image"
            (Click)="onCameraClicked($event)"
          ></app-image-control>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="carousel next" *ngIf="display.videoControl">
    <a class="carousel-control-next" #video_list_next>
      <div class="howell-icon-arrowrightbold blue-text arrow-wrap"></div>
    </a>
  </div>
</div>

<app-map-list-panel
  class="map-bar list-panel"
  [dataSource]="panel.datasource"
  (OnItemClicked)="panel.onItemCliced($event)"
  (OnSearching)="panel.onSearch($event)"
></app-map-list-panel>

<!-- <div class="map-bar btn-list">
  <map-control-buttons
    [filting]="filting"
    (patrol)="onPatrolClicked()"
    (construction)="amap.point.constructionview($event)"
    (stationnormal)="amap.point.stationnormalview($event)"
    (stationfull)="amap.point.stationfullview($event)"
    (stationdrop)="amap.point.stationdropview($event)"
    (stationerror)="amap.point.stationerrorview($event)"
    (station30in)="amap.point.station30inview($event)"
    (station30out)="amap.point.station30outview($event)"
  ></map-control-buttons>
</div> -->
<div class="map-bar btn-list">
  <map-control-buttons-2
    [filting]="filting"
    (patrol)="onPatrolClicked()"
    (stationnormal)="amap.point.view.station.normal($event)"
    (stationfull)="amap.point.view.station.full($event)"
    (stationdrop)="amap.point.view.station.drop($event)"
    (stationerror)="amap.point.view.station.error($event)"
    (stationdrop30in)="amap.point.view.station.drop30in($event)"
    (stationdrop30out)="amap.point.view.station.drop30out($event)"
    (rfidnormal)="amap.point.view.rfid.normal($event)"
    (rfidfull)="amap.point.view.rfid.full($event)"
    (rfiddrop)="amap.point.view.rfid.drop($event)"
    (rfiderror)="amap.point.view.rfid.error($event)"
    (rfiddrop30in)="amap.point.view.rfid.drop30in($event)"
    (rfiddrop30out)="amap.point.view.rfid.drop30out($event)"
    (constructionnormal)="amap.point.view.construction.normal($event)"
    (constructionfull)="amap.point.view.construction.full($event)"
    (constructiondrop)="amap.point.view.construction.drop($event)"
    (constructionerror)="amap.point.view.construction.error($event)"
    ><!-- (rfidnormal)="amap.point.stationnormalview($event)"
    (rfidfull)="amap.point.stationfullview($event)"
    (rfiddrop)="amap.point.stationdropview($event)"
    (rfiderror)="amap.point.stationerrorview($event)"

    (constructionnormal)="amap.point.stationnormalview($event)"
    (constructionfull)="amap.point.stationfullview($event)"
    (constructiondrop)="amap.point.stationdropview($event)"
    (constructionerror)="amap.point.stationerrorview($event)" --></map-control-buttons-2
  >
</div>

<app-point-info-panel
  class="map-bar info-panel"
  *ngIf="info.station"
  [Source]="info.station"
  (GarbageRetentionClickedEvent)="
    onPointInfoPanelGarbageRetentionClickedEvent($event)
  "
  (IllegalDropClickedEvent)="onPointInfoPanelIllegalDropClickedEvent($event)"
  (MixedIntoClickedEvent)="onPointInfoPanelMixedIntoClickedEvent($event)"
  (StateClickedEvent)="onPointInfoPanelStateClickedEvent($event)"
  (option)="onpaneloption($event)"
></app-point-info-panel>

<!-- (StateClickedEvent)="onPanelStateClicked($event)"
(GarbageCountClickedEvent)="onPanelGarbageCountClicked($event)"
(IllegalDropClickedEvent)="onPanelIllegalDropClicked($event)"
(MixedIntoClickedEvent)="onPanelMixedIntoClicked($event)" -->
<app-window
  [Model]="window.confirm"
  [style]="window.confirm.style"
  *ngIf="window.confirm.show"
>
  <div class="confirm">
    <div class="confirm-head">
      <div class="hw-simple-title"><i class="mdi mdi-alert"></i> 请确认</div>
    </div>
    <div class="confirm-body">
      <div class="hw-simple-title">是否确定 窗口上电？</div>
    </div>

    <div class="confirm-foot">
      <button
        class="hw-green-btn"
        (click)="ondevicewindowpoweron(window.confirm.model)"
      >
        <i class="howell-icon-Check"></i> 确定
      </button>
      <button class="hw-blue-btn" (click)="onwindowclose()">
        <i class="howell-icon-Close"></i> 取消
      </button>
    </div>
  </div>
</app-window>
