<div class="event-number-chart vertical-layout">
  <div class="vertical-header">
    <div class="operate-bar">
      <div class="left-wrapper filter-wrapper">
        <div class="filter-group">
          <div class="title">
            <span class="hw-form-label">选择时间</span>
          </div>
          <div class="content">
            <input
              type="text"
              readonly
              DateTimePicker
              [format]="dateFormat"
              [(date)]="curDate"
              class="hw-form-control hw-form-input"
            />
          </div>
        </div>
        <div class="filter-group" style="flex-basis: 36%; max-width: 340px">
          <div class="title">
            <span class="hw-form-label">行政区</span>
          </div>
          <div class="content">
            <common-label-select>
              <howell-division-tree
                #tree
                (selectTreeNode)="selectTreeNode($event)"
              ></howell-division-tree>
            </common-label-select>
          </div>
        </div>
        <div class="hw-normal-btn-group">
          <button class="hw-blue-btn" (click)="search()">
            <i class="mdi mdi-magnify"></i>
            查询
          </button>
          <button class="hw-blue-btn" (click)="exportXLSX()">
            <i class="howell-icon-export"></i>
            导出
          </button>
          <button class="hw-blue-btn" (click)="exportCSV()">
            <i class="howell-icon-export"></i>
            CSV
          </button>
        </div>
      </div>
      <div class="right-wrapper">
        <select
          style="margin-right: 10px"
          [(ngModel)]="searchInfo.TimeUnit"
          (ngModelChange)="changeTimeUnit($event)"
        >
          <option [value]="TimeUnit.Day">日报表</option>
          <option [value]="TimeUnit.Week">周报表</option>
          <option [value]="TimeUnit.Month">月报表</option>
        </select>
        <select
          [(ngModel)]="chartType"
          (ngModelChange)="changeChartType($event)"
        >
          <option [value]="ChartType.bar">柱状图</option>
          <option [value]="ChartType.line">折线图</option>
        </select>
      </div>
    </div>
  </div>
  <div
    class="vertical-main"
    #chartContainer
    (resized)="onResized($event)"
  ></div>
  <!-- <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>
      <app-paginator
        *ngIf="page"
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="pageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div> -->
</div>
