<div class="camera-model-manage horizontal-layout">
  <ng-container *ngIf="showConfirm">
    <howell-confirm-dialog
      (dialogMsgEvent)="dialogMsgEvent($event)"
      [dialogModel]="dialogModel"
    >
    </howell-confirm-dialog>
  </ng-container>
  <div class="horizontal-left">
    <div class="hw-simple-title">模型列表</div>
    <div class="search-wrapper">
      <howell-simple-search
        placeHolder="模型名称"
        (searchEvent)="searchAIModels($event)"
      ></howell-simple-search>
    </div>
    <div class="hw-model-list dir-column">
      <div
        class="hw-model-item"
        *ngFor="let model of AIModels"
        draggable="true"
        (dragstart)="dragstart($event, model)"
        (dragend)="dragend($event)"
      >
        <div class="hw-model-icon middle-round-btn">
          <img
            [src]="imgBase + '/' + icons[model.Label]"
            alt=""
            draggable="false"
          />
        </div>
        <div draggable="false">
          {{ model.ModelName }}
        </div>
      </div>
    </div>
  </div>
  <div class="horizontal-right vertical-layout">
    <div class="vertical-header">
      <div class="hw-simple-title">AI设备列表</div>
      <div class="operate-bar inline-bar">
        <div class="right-wrapper">
          <div class="operate-item">
            <div class="title">
              <span class="hw-form-label">选择标签:&nbsp;</span>
            </div>
            <div class="content" style="width: 0">
              <tree-select [selectedNodes]="selectedNodes">
                <howell-label-tree
                  #tree
                  [defaultIds]="defaultIds"
                  [selectStrategy]="selectStrategy"
                  (selectTreeNode)="selectTreeNode($event)"
                ></howell-label-tree>
              </tree-select>
            </div>
          </div>
          <div class="operate-item">
            <div class="title">
              <span class="hw-form-label">名称:&nbsp;</span>
            </div>
            <div class="content">
              <input
                placeholder="摄像机名称"
                type="text"
                class="hw-form-input"
                [(ngModel)]="cameraModelCondition"
                (keyup.enter)="searchCameraAIModels()"
              />
            </div>
          </div>

          <button class="hw-blue-btn" (click)="searchCameraAIModels()">
            <i class="mdi mdi-magnify"></i>
            查询
          </button>
        </div>
      </div>
    </div>
    <div class="vertical-main">
      <howell-ai-camera-model-table
        [disablehover]="disablehover"
        [dataSubject]="dataSubject"
        [selectStrategy]="selectStrategy"
        (selectTableRow)="selectTableRow($event)"
        (operateTableRow)="operateTableRow($event)"
      ></howell-ai-camera-model-table>
    </div>
    <div class="vertical-footer">
      <div class="footer-item">
        <app-table-select (tableSelect)="tableSelect($event)">
        </app-table-select>
      </div>

      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">已选择: {{ selectedRows.length }}</div>
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>
        <app-paginator
          *ngIf="page"
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="pagerCount"
          [pageIndex]="pageIndex - 1"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
