<div class="aiop-garbage-collection-member-table">
  <div class="aiop-garbage-collection-member-table-main vertical-layout">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <td>姓名</td>
          <td>性别</td>
          <td>手机号码</td>
          <td>类型</td>
          <td class="operation center"><div>操作</div></td>
        </tr>
      </thead>
    </table>
    <div
      class="body vertical-main"
      #body
      [ngClass]="{ full: page && page.RecordCount === pageSize }"
    >
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas; let i = index"
            [ngClass]="{
              selected: this.selected && this.selected.includes(item)
            }"
            (click)="onselected(item)"
            [ngStyle]="{
              height: tr_height
            }"
          >
            <td>{{ item.Name }}</td>
            <td>
              {{ item.Gender | language_gender_pipe }}
            </td>
            <td>{{ item.MobileNo }}</td>
            <td>
              {{ item.MemberType | language_collection_member_type_pipe }}
            </td>

            <td class="operation center">
              <div (click)="onupdate($event, item)" class="center">
                <i class="howell-icon-modification"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="vertical-footer aiop-garbage-collection-member-table-main-footer footer"
      *ngIf="page"
    >
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <app-paginator
          [length]="page ? page.TotalRecordCount : 0"
          [pageSize]="page ? page.PageSize : 0"
          [pagerCount]="5"
          [pageIndex]="0"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
