<div class="garbage-station-window-details">
  <div class="garbage-station-window-details-header">
    <div class="filter">
      <div class="filter-item">
        <span>选择时间</span>
        <input
          type="text"
          DateTimePicker
          [format]="config.dateTimePicker.format"
          [startView]="config.dateTimePicker.view"
          [minView]="config.dateTimePicker.view"
          [week]="config.dateTimePicker.week"
          [date]="date"
          (change)="changeDate($event)"
          class=""
        />
      </div>
      <!-- <div class="filter-item" *ngIf="userResourceType === UserResourceType.City">
        <howell-division-filter
          [type]="DivisionType.City"
          [default]="userResourceType === UserResourceType.City"
          (select)="onCountySelected($event)"
          
        >
        </howell-division-filter>
      </div>
      <div class="filter-item">
        <howell-division-filter
          [type]="DivisionType.County"
          [default]="userResourceType === UserResourceType.County"
          (select)="onCountySelected($event)"
        >
        </howell-division-filter>
      </div>
      <div class="filter-item">
        <howell-division-filter
          [type]="DivisionType.Committees"
          [parentId]="county ? county.Id : undefined"
          (select)="onCommitteesSelected($event)"
        >
        </howell-division-filter>
      </div>
       -->
      <div class="filter-item">
        <span>行政区</span>
        <howell-division-tree-filter
        (select)="ondivisionselect($event)"
        [align]="treeAlign"
        [division]="division"
      ></howell-division-tree-filter>
      </div>
      <div class="filter-item">
        <howell-garbage-station-filter
          [divisionId]="division? division.Id : undefined"
          (select)="onStationSelected($event)"
        >
        </howell-garbage-station-filter>
      </div>
      
      <button class="hw-blue-btn search" (click)="search()">
        <i class="mdi mdi-magnify"></i>查询
      </button>
      <button class="hw-blue-btn excel" (click)="exportExcel()">
        <i class="howell-icon-export"></i>导出
      </button>
      <button class="hw-blue-btn csv" (click)="exportCSV()">
        <i class="howell-icon-export"></i>CSV
      </button>
    </div>
    <div class="selection">
      <app-select-control
        class="list-type-select"
        [data]="units"
        (select)="ontimeunit($event)"
      ></app-select-control>
      <app-select-control
        class="list-type-select"
        [data]="charts"
        (select)="onchartselected($event)"
      ></app-select-control>
    </div>
  </div>
  <div class="garbage-station-window-details-content">
    <howell-line-chart *ngIf="chartType === ChartType.line"
      [theme]="config.line.theme"
      [options]="config.line.options"
      [merge]="config.line.merge"
    ></howell-line-chart>
    <howell-bar-chart
    *ngIf="chartType === ChartType.bar"
    [theme]="config.bar.theme"
      [options]="config.bar.options"
      [merge]="config.bar.merge"
    ></howell-bar-chart>
  </div>
</div>
