<div class="garbage-station-window-details">
  <div class="garbage-station-window-details-header">
    <div class="filter">
      <div class="filter-items">
        <div class="filter-item">
          <div class="filter-item-title">选择时间</div>
          <input
            type="text"
            DateTimePicker
            [format]="config.dateTimePicker.format"
            [startView]="config.dateTimePicker.view"
            [minView]="config.dateTimePicker.view"
            [week]="config.dateTimePicker.week"
            [(date)]="date"
            (dateChange)="ondate($event)"
          />
        </div>
        <div class="filter-item">
          <div class="filter-item-title">行政区</div>

          <div class="filter-item-value">
            <level-division-panel
              [cannull]="true"
              (selectedChange)="ondivision($event)"
            ></level-division-panel>
          </div>
        </div>
        <div class="filter-item">
          <howell-garbage-station-filter
            [divisionId]="division ? division.Id : undefined"
            (select)="onstation($event)"
          >
          </howell-garbage-station-filter>
        </div>

        <button class="hw-blue-btn search" (click)="search()">
          <i class="mdi mdi-magnify"></i>查询
        </button>
        <button class="hw-blue-btn excel" (click)="exportExcel()">
          <i class="howell-icon-export"></i>导出
        </button>
        <button class="hw-blue-btn csv" (click)="exportCSV()">
          <i class="howell-icon-export"></i>CSV
        </button>
      </div>
    </div>
    <div class="selection">
      <select
        class="list-type-select"
        [(ngModel)]="chartType"
        (change)="onchart()"
      >
        <option [ngValue]="ChartType.bar">柱状图</option>
        <option [ngValue]="ChartType.line">折线图</option>
        <option [ngValue]="ChartType.heatmap" *ngIf="has.heatmap">
          热力图
        </option>
        <option [ngValue]="ChartType.heatmap3d" *ngIf="has.heatmap">
          热力图3D
        </option>
      </select>
      <select
        class="list-type-select"
        [(ngModel)]="unit"
        (change)="ontimeunit()"
      >
        <option
          [ngValue]="TimeUnit.Hour"
          *ngIf="
            chartType != ChartType.heatmap3d && chartType != ChartType.heatmap
          "
        >
          日报表
        </option>
        <option
          [ngValue]="TimeUnit.Week"
          *ngIf="
            chartType != ChartType.heatmap3d && chartType != ChartType.heatmap
          "
        >
          周报表
        </option>
        <option [ngValue]="TimeUnit.Month">月报表</option>
        <option [ngValue]="TimeUnit.Year">年报表</option>
      </select>
    </div>
  </div>
  <div class="garbage-station-window-details-content">
    <howell-line-chart
      *ngIf="chartType === ChartType.line"
      [theme]="line.config.theme"
      [options]="line.config.options"
      [merge]="line.config.merge"
    ></howell-line-chart>
    <howell-bar-chart
      *ngIf="chartType === ChartType.bar"
      [theme]="bar.config.theme"
      [options]="bar.config.options"
      [merge]="bar.config.merge"
    ></howell-bar-chart>
    <details-chart-heatmap-3d
      [args]="heatmap3d.args"
      [load]="heatmap3d.event.load"
      *ngIf="chartType === ChartType.heatmap3d"
    >
    </details-chart-heatmap-3d>
    <details-chart-heatmap
      [args]="heatmap.args"
      [load]="heatmap.event.load"
      *ngIf="chartType === ChartType.heatmap"
    ></details-chart-heatmap>
  </div>
</div>
