<div class="garbage-station-window-details">
  <div class="garbage-station-window-details-header">
    <div class="filter">
      <div class="filter-item">
        <span>选择时间</span>
        <input
          type="text"
          DateTimePicker
          [format]="config.dateTimePicker.format"
          [startView]="config.dateTimePicker.view"
          [minView]="config.dateTimePicker.view"
          [week]="config.dateTimePicker.week"
          [(date)]="date"
          (dateChange)="changeDate($event)"
        />
      </div>
      <div class="filter-item">
        <span>行政区</span>

        <div class="content" style="width: 250px">
          <common-label-select
            [selectedNodes]="selectedNodes"
            [autoclose]="true"
            [showCloseIcon]="false"
            [single]="true"
            [(showDropDown)]="showDropDown"
            [height]="'325px'"
          >
            <howell-division-tree
              #tree
              [depth]="1"
              [resourceType]="type"
              [defaultIds]="division ? [division.Id] : []"
              (selectTreeNode)="onDivisionSelected($event)"
            ></howell-division-tree>
          </common-label-select>
        </div>
      </div>
      <div class="filter-item">
        <howell-garbage-station-filter
          [divisionId]="division ? division.Id : undefined"
          (select)="onStationSelected($event)"
        >
        </howell-garbage-station-filter>
      </div>

      <button class="hw-blue-btn search" (click)="search()">
        <i class="mdi mdi-magnify"></i>查询
      </button>
      <button class="hw-blue-btn excel" (click)="exportExcel()">
        <i class="howell-icon-export"></i>导出
      </button>
      <button class="hw-blue-btn csv" (click)="exportCSV()">
        <i class="howell-icon-export"></i>CSV
      </button>
    </div>
    <div class="selection">
      <app-select-control
        class="list-type-select"
        [data]="units"
        (selectedChange)="ontimeunit($event)"
      ></app-select-control>
      <app-select-control
        class="list-type-select"
        [data]="charts"
        (selectedChange)="onchartselected($event)"
      ></app-select-control>
    </div>
  </div>
  <div class="garbage-station-window-details-content">
    <howell-line-chart
      *ngIf="chartType === ChartType.line"
      [theme]="config.line.theme"
      [options]="config.line.options"
      [merge]="config.line.merge"
    ></howell-line-chart>
    <howell-bar-chart
      *ngIf="chartType === ChartType.bar"
      [theme]="config.bar.theme"
      [options]="config.bar.options"
      [merge]="config.bar.merge"
    ></howell-bar-chart>
  </div>
</div>
