.garbage-drop-record-task-table {
  height: 100%;

  .download {
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;

    &:hover {
      color: #cfd7ff;
    }
  }


  .body {
    height: calc(100% - 50px - 50px);
  }

  .footer {
    height: 50px;
    overflow: hidden;
    padding: 0;
    display: block;
    pointer-events: none;
    background-color: transparent;

    table {
      width: calc(100% - 4px);
      background-color: transparent;
    }
  }
}
