.aiop-role-manager {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-head {
    flex-grow: 0;

    &>* {
      margin-bottom: 10px;
    }
  }

  &-body {
    flex-grow: 1;
  }

}

.hw-second-title {
  margin-right: 10px;
}
