<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  [trackBy]="trackBy"
  #tree
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="20"
    [class.high-light]="highLight(node)"
  >
    <!-- 下拉箭头 -->
    <ng-container *ngIf="node.expandable">
      <button
        class="tree-select"
        matTreeNodeToggle
        (click)="loadChildren(node)"
      >
        <div
          class="select"
          [class.expanded]="treeControl.isExpanded(node)"
        ></div>
      </button>
    </ng-container>

    <!-- 下拉箭头 -->
    <ng-container *ngIf="!node.expandable">
      <button class="tree-select" disabled></button>
    </ng-container>

    <!-- 单选模式 -->
    <ng-template [ngIf]="selectModel == TreeSelectEnum.Single">
      <div
        (click)="singleSelectNode(node)"
        style="
          flex-grow: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        "
      >
        <i [class]="node.iconType"></i>
        {{ node.name }}
      </div>
    </ng-template>

    <!-- 多选模式 -->
    <ng-template [ngIf]="selectModel == TreeSelectEnum.Multiple">
      <mat-checkbox
        (change)="multipleSelectNode(node)"
        [checked]="selection.isSelected(node)"
        [indeterminate]="descendantsPartiallySelected(node)"
      >
        <i [class]="node.iconType"></i>
        {{ node.name }}
      </mat-checkbox>
    </ng-template>
  </mat-tree-node>
</mat-tree>
