<div class="index">
  <div class="index-head">
    <mat-toolbar>
      <div class="left">
        <app-account-info [desc]="'智能车棚管理平台'"></app-account-info>
      </div>
      <div class="right">
        <app-time></app-time>
        <app-account-operation
          [display]="{
            username: true,
            changePassword: false,
            bindMobile: false,
            logout: true,
            help: false
          }"
        ></app-account-operation>
      </div>
    </mat-toolbar>
  </div>
  <div class="index-body">
    <div class="index-body-left">
      <div class="">
        <howell-electric-bike-navication
          [root]="navication.root"
          [children]="navication.children"
          [selected]="navication.selected"
          (onchildclick)="navication.onchildclick($event)"
          (onrootclick)="navication.onrootclick($event)"
        >
        </howell-electric-bike-navication>
      </div>
      <div class="">
        <howell-index-card>
          <!-- <app-disposal-count></app-disposal-count> -->
          <howell-device-status
            (statusClick)="device.onclick($event)"
          ></howell-device-status>
          <!-- (task)="trigger.risposalCount.ontask()" -->
        </howell-index-card>
      </div>
      <div class="">
        <howell-index-card>
          <howell-alarm
            (picture)="alarm.onpicture($event)"
            (playback)="alarm.onplayback($event)"
            (itemClick)="alarm.onItemClicked($event)"
          ></howell-alarm>
        </howell-index-card>
      </div>
    </div>
    <div
      class="index-body-right"
      [ngClass]="{ fullscreen: patrol.fullscreen == true }"
    >
      <howell-device-statistic
        [load]="map.load"
        (statusClick)="statistic.onstatus($event)"
        (stationClick)="statistic.onstation()"
        (recordClick)="statistic.onrecord()"
      >
      </howell-device-statistic>
      <howell-index-card>
        <app-map-control
          [config]="map.config"
          [load]="map.load"
          [position]="map.position"
          (patrol)="map.onpatrol()"
          (VideoPlay)="map.onvideoplay($event)"
          (pointDisarmClicked)="map.ondisarm($event)"
        ></app-map-control>
      </howell-index-card>
      <div class="patrol" *ngIf="patrol.show">
        <howell-index-card>
          <app-patrol-control
            (close)="patrol.onclose()"
            (fullscreen)="patrol.onfullscreen()"
          ></app-patrol-control>
        </howell-index-card>
      </div>
    </div>
  </div>
</div>

<howell-device-list-window
  *ngIf="window.device.show"
  [Model]="window.device"
  [style]="window.device.style"
  [status]="window.device.status"
  (image)="window.device.onimage($event)"
>
</howell-device-list-window>

<howell-event-record-smoke-window
  *ngIf="window.record.show"
  [Model]="window.record"
  [style]="window.record.style"
  (image)="window.record.onimage($event)"
>
</howell-event-record-smoke-window>

<howell-station-window
  *ngIf="window.station.show"
  [Model]="window.station"
  [style]="window.station.style"
  (position)="map.onposition($event)"
  (image)="window.station.onimage($event)"
>
</howell-station-window>

<app-video-window
  [model]="video.model"
  [window]="video"
  [title]="video.title"
  (download)="video.ondownload($event)"
>
</app-video-window>
<app-window
  [Model]="window.media.single"
  [style]="window.media.single.style"
  [manualClose]="true"
  (OnClosing)="window.media.single.onclosing()"
>
  <ng-container *ngIf="window.media.single.show">
    <app-media-control
      [autoplay]="window.media.single.autoplay"
      [model]="window.media.single.camera"
      [index]="window.media.single.index"
      [stop]="window.media.single.closing"
      (played)="window.media.single.onplay()"
      (stoped)="window.media.single.onstop()"
    ></app-media-control>
  </ng-container>
</app-window>

<howell-media-multiple-window
  *ngIf="window.media.multiple.show"
  [Model]="window.media.multiple"
  [style]="window.media.multiple.style"
  [statistic]="window.media.multiple.statistic"
></howell-media-multiple-window>
