.video-window {
  color: white;
  height: calc(100% + 10px * 2);

  margin: -10px 0;

  .video-window-header {
    height: 30px;
    width: 100%;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .operation {
      font-size: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &>div {
        margin: 0 5px;
        cursor: pointer;
        color: #7586e0;

        &:hover {
          color: white;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      & .close {
        &:hover {
          color: red;
        }
      }
    }
  }

  .video-window-content {
    height: calc(100% - 30px);
  }
}
