<app-window
  [Model]="window"
  [mask]="mask"
  [zindex]="zindex"
  [style]="window.style"
  [CloseButton]="false"
>
  <div class="video-window">
    <div class="video-window-header">
      <div class="title">{{ title }}</div>
      <div class="operation">
        <div
          class="mode"
          *ngIf="!!model && model.mode === PlayMode.vod"
          (click)="topreview()"
        >
          <i class="howell-icon-video"></i>
        </div>
        <div class="close-winow" (click)="onclose()">
          <i class="howell-icon-Close alert-window-close-btn"></i>
        </div>
      </div>
    </div>
    <div class="video-window-content">
      <app-video-player
        [play]="play"
        [seek]="seek"
        (loaded)="onloaded()"
        (getPosition)="getposition($event)"
        (onPlaying)="onplaying($event)"
        (onStoping)="onstoping($event)"
      ></app-video-player>
    </div>
  </div>
</app-window>
