<div class="collection-score-rank">
  <div class="collection-score-rank__head">
    <div class="collection-score-rank__head__title">
      {{ title }}
    </div>
    <div class="collection-score-rank__head__select">
      <select [(ngModel)]="searchInfo.Type" (ngModelChange)="selectChange()">
        <option
          *ngFor="let item of selectDataSource | keyvalue : customCompare"
          [value]="item.key"
        >
          {{ item.value }}
        </option>
      </select>
    </div>
  </div>
  <div class="collection-score-rank__main">
    <common-rank
      [model]="rankModel"
      (clickEvent)="clickRankItem($event)"
    ></common-rank>
  </div>
</div>
