.garbage-station-ai-device-rfid-record-table {
  height: 100%;

  @footer-height: 42px;

  &-main {
    height: calc(100% - 60px);
    min-height: 622px;
  }

  .body {
    height: calc(100% - @footer-height);

  }

  .footer {
    height: @footer-height;
    position: unset;
    overflow: hidden;

    .page {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: end;
      align-items: flex-end;

      ::ng-deep {
        &>.custom-pagination {
          position: unset;
        }
      }
    }
  }
}
