.monitor-body__item {
  height: 100%;
  width: 100%;

  border: 1px solid #5c6ebf;
  background-color: rgba(6, 13, 55, 0.7);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  &--none {
    border: none;


  }

  & .monitor-body__wrapper {
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, #7a8de6, #7a8de6), linear-gradient(90deg, #7a8de6, #7a8de6), linear-gradient(90deg, #7a8de6, #7a8de6), linear-gradient(180deg, #7a8de6, #7a8de6), linear-gradient(180deg, #7a8de6, #7a8de6), linear-gradient(270deg, #7a8de6, #7a8de6), linear-gradient(270deg, #7a8de6, #7a8de6), linear-gradient(0deg, #7a8de6, #7a8de6);
    background-position: left top, left top, right top, right top, right bottom, right bottom, left bottom, left bottom;
    background-size: 2px 10px, 10px 2px, 10px 2px, 2px 10px;
  }
}
