.app-operation {
  .log-out {
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #2d3559;
    color: #68adfd;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
}
