<div class="app-account-operation">
  <div class="operation-item" [matMenuTriggerFor]="menu">
    <div class="log-out">
      <i class="howell-icon-account"></i>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="display.username">
        <i class="howell-icon-account pmx"></i>
        {{ userName }}
      </button>
      <button
        mat-menu-item
        (click)="onpasswordchang($event)"
        *ngIf="display.changePassword"
      >
        <i class="mdi mdi-key" style="margin-right: 5px"></i>
        修改密码
      </button>
      <button
        mat-menu-item
        (click)="onmobilebind($event)"
        *ngIf="display.bindMobile"
      >
        <i class="mdi mdi-cellphone-iphone" style="margin-right: 5px"></i>
        绑定新手机
      </button>
      <button mat-menu-item (click)="logoutHandler()" *ngIf="display.logout">
        <i class="howell-icon-logout"> </i>
        退出登录
      </button>
    </mat-menu>
  </div>
  <div class="operation-item" (click)="navigateToHelp()">
    <mat-icon> help </mat-icon>
  </div>
</div>
