<div class="garbage-station-manage hw-tree-model">
  <div class="hw-tree-left">
    <div class="hw-simple-title">区划列表</div>
    <div class="search-wrapper">
      <howell-simple-search
        placeHolder="名称"
        (searchEvent)="searchTree($event)"
      ></howell-simple-search>
    </div>

    <div class="tree-container">
      <howell-tree #tree></howell-tree>
    </div>
  </div>
  <div class="hw-table-detail">
    <div class="hw-simple-title">垃圾厢房</div>
    <div class="hw-operate-bar">
      <div class="hw-normal-btn-group">
        <button class="hw-btn hw-green-btn" [disabled]="!enableAddBtn">
          <i class="howell-icon-plus"></i>
          添加
        </button>
        <button class="hw-btn hw-red-btn" [disabled]="!enableDelBtn">
          <i class="howell-icon-delete-bin"></i>
          删除
        </button>
      </div>

      <div class="search-wrapper">
        <howell-simple-search
          placeHolder="名称"
          (searchEvent)="searchTable($event)"
        ></howell-simple-search>
      </div>
    </div>
    <div class="hw-table-container">
      <!-- <app-table></app-table> -->
    </div>

    <div class="hw-table-footer">
      <div class="footer-item">
        <app-table-select> </app-table-select>
      </div>

      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">已选择: 1</div>
          <div class="info-item">当前数量: 2</div>
          <div class="info-item">总数量: 2</div>
        </div>
        <app-paginator> </app-paginator>
      </div>
    </div>
  </div>
</div>
