<div class="aiop-manage">
    <div class="aiop-manage-header">
        <mat-toolbar>
            <div>
                <img src="/assets/img/logo.png" alt="">
            </div>
            <div class='spacer'>
            </div>
            <app-header-nav></app-header-nav>
            <app-time></app-time>
            <app-account-operation></app-account-operation>
        </mat-toolbar>
    </div>
    <div class="aiop-manage-body">
        <div class="sindenav" [@growShrink]="state">
            <div class="collapse-content">
                <howell-sidenav></howell-sidenav>
            </div>
            <div class="collapse-btn" (click)="toggle()">
                <i class="material-icons">arrow_back </i>
            </div>
        </div>
        <main class='sindenav-content'>
            <div>面包屑</div>
            <!-- <div class="sindenav-content">
                <router-outlet></router-outlet>
            </div> -->

        </main>
    </div>

</div>