.aiop-manage {
  width: 100%;
  height: 100%;
  background-color: #0c1127;

  &-header {
    width: 100%;
    height: 90px;
  }
  &-body {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;

    .sidenav {
      background-image: linear-gradient(
        to right,
        rgba(216, 244, 255, 0) 97%,
        rgba(216, 244, 255, 0.1) 100%
      );
    }
    .sidenav-content {
      flex-grow: 1;
    }
  }
}
