<div class="aiop-manage">
    <div class="aiop-manage-header">
        <mat-toolbar>
            <div>
                <img src="/assets/img/logo.png" alt="">
            </div>
            <div class='spacer'>
            </div>
            <app-header-nav></app-header-nav>
            <app-time></app-time>
            <app-account-operation></app-account-operation>
        </mat-toolbar>
    </div>
    <div class="aiop-manage-body">
        <nav class="sindenav">
            <p>监管平台</p>
            <p> <a [routerLink]="['/aiop/aiop-manage/monitor-platform/division-manage']">区划管理</a></p>
            <p> <a [routerLink]="['/aiop/aiop-manage/monitor-platform/deploy-map']">地图布控</a></p>
            <p> <a [routerLink]="['/aiop/aiop-manage/monitor-platform/garbage-station-manage']">垃圾厢房管理</a></p>
        </nav>
        <main class='sindenav-main'>
            <div>面包屑</div>
            <div class="sindenav-content">
                <router-outlet></router-outlet>
            </div>

        </main>
    </div>

</div>