<div class="system-mode">
    <div class="system-mode-header">
        <mat-toolbar>
            <app-account-info></app-account-info>
            <div class='spacer'>
            </div>
            <app-time></app-time>
            <app-account-operation></app-account-operation>
        </mat-toolbar>
    </div>
    <div class='system-mode-body'>
        <ng-container *ngFor="let mode of config">
            <div class="item" (click)="navigate(mode.path)">
                <div class="item-icon">
                    <i [class]="mode.icon"></i>
                </div>
                <div class="item-title">{{mode.title}}</div>
            </div>
        </ng-container>
    </div>

</div>