<div class="system-mode">
  <div class="system-mode-header">
    <mat-toolbar>
      <app-account-info></app-account-info>
      <div class="spacer"></div>
      <common-time></common-time>
      <app-account-operation [heart]="true"></app-account-operation>
    </mat-toolbar>
  </div>
  <div class="system-mode-body">
    <ng-container *ngFor="let mode of config">
      <div class="item" (click)="navigate(mode.path)">
        <div class="item-icon">
          <i [class]="mode.icon"></i>
        </div>
        <div class="item-title">
          <svg style="width: 100%; height: 100%">
            <style></style>
            <defs>
              <linearGradient id="grad" gradientTransform="rotate(90)">
                <stop offset="0%" style="stop-color: #fff; stop-opacity: 1" />
                <stop
                  offset="100%"
                  style="stop-color: #7f94ff; stop-opacity: 1"
                />
              </linearGradient>
            </defs>
            <text
              x="50%"
              y="70%"
              font-weight="600"
              font-size="1.3vw"
              text-anchor="middle"
              fill="url(#grad)"
            >
              {{ mode.title }}
            </text>
          </svg>
        </div>
        <!--css 兼容性-->
        <!-- <div class="item-title">
                    {{mode.title}}
                </div> -->
      </div>
    </ng-container>
  </div>
</div>
