<div class="tree-select">
  <div class="tree-select-header" (click)="toggleHandler()">
    <div class="placeholder" *ngIf="!selectedNodes.length">请选择</div>
    <div class="wrapper">
      <div class="tree-select-item" *ngFor="let node of selectedNodes">
        <div class="title">{{ node.Name }}</div>
        <div class="close-btn" (click)="removeNode($event, node)">
          <i class="howell-icon-Close"></i>
        </div>
      </div>
    </div>
    <button class="btn">
      <i
        class="mdi"
        [class]="{ 'mdi-menu-down': !show, 'mdi-menu-up': show }"
      ></i>
    </button>
  </div>
  <div class="tree-select-body" *ngIf="show">
    <ng-content></ng-content>
  </div>
</div>
