.line-chart {
  height: 100%;
}

.line-chart .line-chart-header {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-chart-content {
  display: flex;
  height: 100%;
}



.line-chart-content .echarts {
  height: 100%;
  width: 100%;
}
