.collection-map-route-video {
  width: 100%;
  height: 100%;

  @header-height: 32px;

  &-header {
    width: 100%;
    height: @header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &-content {
    width: 100%;
    height: calc(100% - @header-height - 10px);

    &-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      &-pic {
        background-color: rgba(102, 128, 255, 0.2);
        background-image: url(/assets/img/route/car.png);
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 100%;
      }

      &-props {
        width: calc(100% - 170px);
        height: 100%;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 20px;
      }
    }
  }
}
