<div class="chart-list">
  <div>
    <div class="task" style="width: calc(100% / 2 - 10px - 20px * 2)">
      <app-statistic-summary-task-chart
        [Data]="DivisonStatistic"
        [EventTrigger]="EventTrigger"
        (OnTriggerEvent)="onTriggerEvent($event)"
      ></app-statistic-summary-task-chart>
    </div>
    <div class="event-ratio" style="width: calc(100% / 2 - 10px - 20px * 2)">
      <app-statistic-summary-event-ratio-chart
        [Data]="DivisonStatistic"
        [EventTrigger]="EventTrigger"
        (OnTriggerEvent)="onTriggerEvent($event)"
      ></app-statistic-summary-event-ratio-chart>
    </div>

    <div class="illegal-drop" style="width: calc(100% / 2 - 10px - 20px * 2)">
      <app-statistic-summary-line-chart
        [Data]="DivisionHistory"
        [Type]="EventType.IllegalDrop"
        [TimeUnit]="TimeUnit"
        [EventTrigger]="EventTrigger"
        (OnTriggerEvent)="onTriggerEvent($event)"
      ></app-statistic-summary-line-chart>
      <!-- <hw-line-echarts-card></hw-line-echarts-card> -->
    </div>
    <div class="mixed-into" style="width: calc(100% / 2 - 10px - 20px * 2)">
      <app-statistic-summary-line-chart
        [Data]="DivisionHistory"
        [Type]="EventType.MixedInto"
        [TimeUnit]="TimeUnit"
        [EventTrigger]="EventTrigger"
        (OnTriggerEvent)="onTriggerEvent($event)"
      ></app-statistic-summary-line-chart>
    </div>

    <div class="station-event" style="width: calc(100%)">
      <app-statistic-summary-station-event-chart
        [Data]="StationStatistic"
        [EventTrigger]="EventTrigger"
        (OnTriggerEvent)="onTriggerEvent($event)"
      ></app-statistic-summary-station-event-chart>
    </div>
  </div>
</div>
