<div class="collection-record-window vertical-layout">
  <div class="vertical-header">
    <div class="hw-second-title">清运记录</div>
    <div class="filter-wrapper">
      <div class="filter-group">
        <div class="title">
          <span class="hw-form-label">资源名称:</span>
        </div>
        <div class="content">
          <input
            type="text"
            [(ngModel)]="searchInfo.Condition"
            (keyup.enter)="search()"
          />
        </div>
      </div>

      <div class="filter-group">
        <div class="title">
          <span class="hw-form-label">开始时间</span>
        </div>
        <div class="content">
          <input
            type="text"
            readonly
            DateTimePicker
            [format]="dateFormat"
            [minView]="DateTimePickerView.hour"
            [date]="searchInfo.BeginTime"
            (change)="changeBegin($event)"
            class="hw-form-control hw-form-input"
          />
        </div>
      </div>

      <div class="filter-group">
        <div class="title">
          <span class="hw-form-label">结束时间</span>
        </div>
        <div class="content">
          <input
            type="text"
            readonly
            DateTimePicker
            [format]="dateFormat"
            [minView]="DateTimePickerView.hour"
            [date]="searchInfo.EndTime"
            (change)="changeEnd($event)"
          />
        </div>
      </div>

      <div class="filter-group">
        <div class="title">
          <span class="hw-form-label">行政区</span>
        </div>
        <div class="content">
          <common-tree-select [selectedNodes]="selectedNodes">
            <howell-division-tree
              #tree
              [business]="collectionDivisionTreeBusiness"
              [depth]="1"
              (selectTreeNode)="selectTreeNode($event)"
            ></howell-division-tree>
          </common-tree-select>
        </div>
      </div>
      <div class="filter-group">
        <div class="title">
          <span class="hw-form-label">评分:</span>
        </div>
        <div class="content">
          <select [(ngModel)]="searchInfo.Score">
            <option value="">全部</option>
            <option [value]="CollectionPointScore.Good">好评</option>
            <option [value]="CollectionPointScore.Average">中评</option>
            <option [value]="CollectionPointScore.Poor">差评</option>
          </select>
        </div>
      </div>

      <div class="hw-normal-btn-group">
        <button class="hw-blue-btn" (click)="search()">
          <i class="mdi mdi-magnify"></i>
          查询
        </button>
      </div>
    </div>
  </div>
  <div class="vertical-main">
    <custom-table>
      <ng-container ngProjectAs="table-header">
        <table class="big-table">
          <ng-template [ngTemplateOutlet]="colGroup"></ng-template>
          <thead>
            <tr>
              <th>图片</th>
              <th>资源名称</th>
              <th>车辆名称</th>
              <th>清运人员</th>
              <th>区划</th>
              <th>收运点</th>
              <th>重量</th>
              <th>评分</th>
              <th>上报时间</th>
              <th>操作</th>
            </tr>
          </thead>
        </table>
      </ng-container>

      <ng-container ngProjectAs="table-body">
        <ng-template
          [ngIf]="dataSource.length"
          [ngIfThen]="thenBlock"
          [ngIfElse]="elseBlock"
        ></ng-template>
      </ng-container>
    </custom-table>
  </div>

  <div class="vertical-footer">
    <div class="footer-item" style="margin-left: auto">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page.TotalRecordCount }}</div>
      </div>
      <app-paginator
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="page.PageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>

<ng-template #colGroup>
  <colgroup>
    <col *ngFor="let item of tdWidth" [style.width]="item" />
  </colgroup>
</ng-template>
<ng-template #thenBlock>
  <table class="big-table">
    <ng-template [ngTemplateOutlet]="colGroup"></ng-template>

    <tbody>
      <ng-template ngFor [ngForOf]="dataSource" let-item>
        <tr>
          <td (click)="clickImage(item)">
            <img [src]="item.ImageUrl" alt="" />
          </td>
          <td>{{ item.ResourceName }}</td>
          <td>{{ item.VehicleName }}</td>
          <td>{{ item.MemberName }}</td>
          <td>{{ item.DivisionName }}</td>
          <td>{{ item.CollectionPointName }}</td>
          <td>{{ item.Weight }}</td>
          <td [class]="item.TagCls" [style]="item.TagStyle">
            {{ item.Score }}
          </td>
          <td>{{ item.EventTime | date : "yyyy-MM-dd HH:mm:ss" }}</td>
          <td>
            <a class="td-icon" (click)="clickVideoIcon(item)"
              ><i class="howell-icon-video"></i
            ></a>
            <a class="td-icon" (click)="clickVideoIcon(item)"
              ><i class="howell-icon-picturedownload"></i
            ></a>
            <a class="td-icon" (click)="clickVideoIcon(item)"
              ><i class="howell-icon-videodownload"></i
            ></a>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</ng-template>
<ng-template #elseBlock>
  <div class="data-none">暂无数据</div>
</ng-template>
