.collection-record-window {
  width: 80vw;
  height: 75vh;
  .filter-wrapper {
    .filter-group {
      flex-basis: 17%;
    }
  }
}
@Good: #f06565;
@Average: #ffba3c;
@Poor: #68e888;

.Good {
  color: @Good;
}
.Average {
  color: @Average;
}
.Poor {
  color: @Poor;
}
