<div class="waste-container">
  <div class="waste-header">
    <div class="waste-header__item">
      <app-toolbar></app-toolbar>
    </div>
  </div>
  <div class="waste-body">
    <div class="waste-body__item">
      <app-card>士大夫士大夫</app-card>
    </div>
    <div class="waste-body__item waste-body__item--map">
      <app-card></app-card>
    </div>
    <div class="waste-body__item">
      <app-card></app-card>
    </div>
    <div class="waste-body__item">
      <app-card></app-card>
    </div>
    <div class="waste-body__item">
      <app-card></app-card>
    </div>
    <div class="waste-body__item">
      <app-card></app-card>
    </div>
    <div class="waste-body__item">
      <app-card></app-card>
    </div>
    <div class="waste-body__item">
      <app-card></app-card>
    </div>

    <div class="waste-body__item">
      <app-card></app-card>
    </div>
  </div>
</div>
