<div class="monitor-container">
  <div class="monitor-header" *ngIf="!HideTitlebar">
    <mat-toolbar>
      <app-account-info></app-account-info>
      <div class="spacer">
        <app-total-waste (details)="onweight($event)"></app-total-waste>
      </div>
      <common-time></common-time>
      <app-account-operation
        *ngIf="!HideButton"
        [hasGuide]="true"
        (guide)="guide.open()"
      ></app-account-operation>
    </mat-toolbar>
  </div>
  <div class="monitor-body" [ngClass]="HideTitlebar ? 'hide-titlebar' : ''">
    <div class="monitor-body__item monitor-body__item--none">
      <div class="monitor-body__wrapper">
        <app-division-list></app-division-list>
      </div>
    </div>
    <div
      class="monitor-body__item monitor-body__item--map"
      [ngClass]="{ fullscreen: patrol.fullscreen == true }"
    >
      <div class="monitor-body__wrapper">
        <div *ngIf="statistic.cards" class="statistic-card-group">
          <ng-container *ngFor="let item of statistic.cards">
            <app-statistic-card
              [model]="item"
              (Click)="statistic.onclick(item)"
            ></app-statistic-card>
          </ng-container>
        </div>
        <div class="map-control">
          <app-map-control
            [filting]="
              guide.show && guide.index === guide.Index.map_point_filter
            "
            [showmenu]="
              guide.show && guide.index === guide.Index.map_point_mune
            "
            [showinfo]="
              guide.show && guide.index === guide.Index.map_point_info
            "
            [showcameras]="
              guide.show && guide.index >= guide.Index.map_point_cameras
            "
            [showvideo]="
              guide.show && guide.index >= guide.Index.map_video_preview
            "
            (patrol)="map.onpatrol()"
            (VideoPlay)="map.onvideoplay($event)"
            (illegalDropClicked)="map.onIllegalDropClicked($event)"
            (mixedIntoClicked)="map.onMixedIntoClicked($event)"
            (garbageCountClicked)="map.onGarbageCountClicked($event)"
            (garbageFullClicked)="map.onGarbageFullClicked($event)"
            [position]="map.position"
          ></app-map-control>
        </div>
      </div>
      <div class="monitor-body__wrapper patrol" *ngIf="patrol.show">
        <app-patrol-control
          (close)="patrol.onclose()"
          (fullscreen)="patrol.onfullscreen()"
        ></app-patrol-control>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <!-- <app-device-state
          [load]="load"
          (Click)="trigger.deviceState.onclick($event)"
        ></app-device-state> -->
        <main-station-count
          [load]="load"
          [index]="
            guide.index === guide.Index.station_count
              ? 1
              : guide.index === guide.Index.device_status
              ? 0
              : undefined
          "
          (devicestateclick)="trigger.deviceState.onclick($event)"
        ></main-station-count>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-illegal-mixinto-rank
          [load]="load"
          [type]="
            guide.index === guide.Index.mixed_into_rank
              ? EventType.MixedInto
              : guide.index === guide.Index.illegal_drop_rank
              ? EventType.IllegalDrop
              : undefined
          "
          (itemClickedEvent)="trigger.illegalMixintoRank.onItemClicked($event)"
        >
        </app-illegal-mixinto-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-retention-rank
          [load]="load"
          [type]="
            guide.index === guide.Index.today_retention_time
              ? 0
              : guide.index === guide.Index.today_retention_number
              ? 1
              : undefined
          "
          (Click)="trigger.retentionRank.onclick($event)"
        ></app-retention-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-disposal-rank
          [load]="load"
          [type]="
            guide.index === guide.Index.score_rank
              ? 0
              : guide.index === guide.Index.ratio_rank
              ? 1
              : undefined
          "
          (itemClickedEvent)="trigger.risposalRank.onItemClicked($event)"
        ></app-disposal-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <!-- <app-event-statistic-echarts [title]="'乱扔垃圾统计表'"></app-event-statistic-echarts> -->
        <howell-event-statistic
          [load]="load"
          [title]="'今日垃圾落地'"
        ></howell-event-statistic>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <!-- <app-event-statistic-echarts
          [title]="'混合投放统计表'"
          [type]="mixIntoType"
        ></app-event-statistic-echarts> -->
        <howell-event-statistic
          [load]="load"
          [title]="'今日混合投放'"
          [type]="EventType.MixedInto"
        ></howell-event-statistic>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-disposal-count
          [load]="load"
          (task)="trigger.risposalCount.ontask($event)"
        ></app-disposal-count>
      </div>
    </div>
  </div>
</div>

<app-video-control-window
  *ngIf="video.show"
  [model]="video.model"
  [window]="video"
  [title]="video.title"
  [mode]="
    guide.index === guide.Index.map_video_preview
      ? PlayMode.live
      : guide.index === guide.Index.map_video_playback
      ? PlayMode.vod
      : undefined
  "
  (download)="video.ondownload($event)"
>
</app-video-control-window>

<!-- <app-window [Model]="window.record" [style]="window.record.style">
  <ng-container *ngIf="window.record.show">
    <app-event-record-details
      [recordCount]="window.record.count"
      [type]="window.record.type"
    >
    </app-event-record-details>
  </ng-container>
</app-window> -->
<howell-event-record-window
  *ngIf="window.record.show"
  [Model]="window.record"
  [style]="window.record.style"
  [type]="window.record.type"
  [stationId]="window.record.stationId"
  [divisionId]="window.record.divisionId"
  (image)="window.record.onimage($event)"
  (video)="window.record.onvideo($event)"
  [get]="window.image.page.getData"
  (got)="window.image.page.gotData($event)"
  (card)="window.record.oncard($event)"
>
</howell-event-record-window>

<howell-device-list-window
  *ngIf="window.device.show"
  [Model]="window.device"
  [style]="window.device.style"
  [status]="window.device.status"
  (image)="window.device.onimage($event)"
>
</howell-device-list-window>

<howell-garbage-drop-station-window
  *ngIf="window.drop.show"
  [Model]="window.drop"
  [style]="window.drop.style"
  [index]="window.drop.index"
  [args]="window.drop.args"
  (image)="window.drop.onimage($event)"
  (position)="map.onposition($event)"
>
</howell-garbage-drop-station-window>

<howell-garbage-full-station-window
  *ngIf="window.full.show"
  [Model]="window.full"
  [style]="window.full.style"
  (image)="window.full.onimage($event)"
  (video)="window.full.onvideo($event)"
>
</howell-garbage-full-station-window>

<howell-garbage-station-window
  *ngIf="window.station.show"
  [Model]="window.station"
  [style]="window.station.style"
  [index]="window.station.index"
  [stationId]="window.station.stationId"
  [divisionId]="window.station.divisionId"
  [taskStatus]="window.station.status"
  (image)="window.station.onimage($event)"
  (video)="window.station.onvideo($event)"
  (chartdblclick)="window.station.onchartdblclick($event)"
  (position)="map.onposition($event)"
>
</howell-garbage-station-window>

<app-window
  *ngIf="window.media.single.show"
  [Model]="window.media.single"
  [style]="window.media.single.style"
  [manualClose]="true"
  (OnClosing)="window.media.single.onclosing()"
>
  <ng-container>
    <app-media-control
      [operation]="window.media.single.operation"
      [autoplay]="window.media.single.autoplay"
      [model]="window.media.single.camera"
      [index]="window.media.single.index"
      [stop]="window.media.single.closing"
      [page]="window.media.single.showPage"
      (played)="window.media.single.onplay()"
      (stoped)="window.media.single.onstop()"
      (prev)="window.media.single.onprev()"
      (next)="window.media.single.onnext()"
    ></app-media-control>
  </ng-container>
</app-window>

<howell-media-multiple-window
  *ngIf="window.media.multiple.show"
  [Model]="window.media.multiple"
  [style]="window.media.multiple.style"
  [args]="window.media.multiple.args"
  [date]="window.media.multiple.date"
  [fullplay]="window.media.multiple.fullplay"
></howell-media-multiple-window>
<app-window
  [Model]="window.card"
  *ngIf="window.card.show"
  [style]="window.card.style"
>
  <card-record-episode [record]="window.card.record"></card-record-episode>
</app-window>
<app-window
  [Model]="window.image.page"
  *ngIf="window.image.page.show"
  [style]="window.image.page.style"
>
  <app-media-image-control
    [model]="window.image.page.model"
    [first]="window.image.page.first"
    [last]="window.image.page.last"
    (prev)="window.image.page.onprev()"
    (next)="window.image.page.onnext()"
    (play)="window.image.page.onvideo()"
  ></app-media-image-control>
</app-window>
<app-window
  [Model]="window.image.array"
  *ngIf="window.image.array.show"
  [style]="window.image.array.style"
>
  <app-media-image-control
    [model]="window.image.array.current"
    [first]="window.image.array.first"
    [last]="window.image.array.last"
    [captureing]="window.image.array.captureing"
    (prev)="window.image.array.onprev()"
    (next)="window.image.array.onnext()"
    (play)="window.image.array.onvideo()"
  ></app-media-image-control>
</app-window>
<app-video-window
  [window]="window.video"
  *ngIf="window.video.show"
  [style]="window.video.style"
  [title]="window.video.title"
  [model]="window.video.model"
  [mask]="window.video.mask"
  [zindex]="window.video.zindex"
  [seek]="window.video.seek"
  (position)="window.video.onposition($event)"
  (stoping)="window.video.onstoping()"
>
</app-video-window>
<app-window
  [Model]="window.weight"
  *ngIf="window.weight.show"
  [style]="window.weight.style"
>
  <garbage-station-weight-index [type]="window.weight.type">
  </garbage-station-weight-index>
</app-window>

<div class="guide" *ngIf="guide.show">
  <div class="top"></div>
  <img [src]="guide.src" alt="" />
  <div class="buttons" [style.left]="guide.x" [style.top]="guide.y">
    <button
      class="hw-blue-btn"
      *ngIf="guide.index < guide.last"
      (click)="guide.finish()"
    >
      跳过
    </button>
    <button
      class="hw-green-btn"
      *ngIf="guide.index > guide.first"
      (click)="guide.prev()"
    >
      上一步
    </button>
    <button
      class="hw-green-btn"
      *ngIf="guide.index < guide.last"
      (click)="guide.next()"
    >
      下一步
    </button>
    <button
      class="hw-blue-btn"
      *ngIf="guide.index === guide.last"
      (click)="guide.finish()"
    >
      完成
    </button>
  </div>
</div>
