<div class="monitor-container">
  <div class="monitor-header">
    <mat-toolbar>
      <app-account-info></app-account-info>
      <div class="spacer">
        <app-total-waste></app-total-waste>
      </div>
      <app-time></app-time>
      <app-account-operation></app-account-operation>
    </mat-toolbar>
  </div>
  <div class="monitor-body">
    <div class="monitor-body__item monitor-body__item--none">
      <div class="monitor-body__wrapper">
        <app-division-list></app-division-list>
      </div>
    </div>
    <div
      class="monitor-body__item monitor-body__item--map"
      [ngClass]="{ fullscreen: patrol.fullscreen == true }"
    >
      <div class="monitor-body__wrapper">
        <div *ngIf="statistic.cards" class="statistic-card-group">
          <ng-container *ngFor="let item of statistic.cards">
            <app-statistic-card
              [model]="item"
              (Click)="statistic.onclick(item)"
            ></app-statistic-card>
          </ng-container>
        </div>
        <div class="map-control" *ngIf="false">
          <app-map-control
            (patrol)="map.onpatrol()"
            (VideoPlay)="map.onvideoplay($event)"
          ></app-map-control>
        </div>
      </div>
      <div class="monitor-body__wrapper patrol" *ngIf="patrol.show">
        <app-patrol-control
          (close)="patrol.onclose()"
          (fullscreen)="patrol.onfullscreen()"
        ></app-patrol-control>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-device-state
          (Click)="trigger.deviceState.onclick($event)"
        ></app-device-state>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-illegal-mixinto-rank
          (itemClickedEvent)="trigger.illegalMixintoRank.onItemClicked($event)"
        >
        </app-illegal-mixinto-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-retention-rank
          (Click)="trigger.retentionRank.onclick($event)"
        ></app-retention-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-disposal-rank></app-disposal-rank>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-event-statistic-echarts
          [title]="'乱扔垃圾统计表'"
        ></app-event-statistic-echarts>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-event-statistic-echarts
          [title]="'混合投放统计表'"
          [type]="mixIntoType"
        ></app-event-statistic-echarts>
      </div>
    </div>
    <div class="monitor-body__item">
      <div class="monitor-body__wrapper">
        <app-disposal-count></app-disposal-count>
      </div>
    </div>
  </div>
</div>

<app-window [Model]="window.media" [style]="window.media.style">
  <ng-container *ngIf="window.media.show">
    <app-media-control [camera]="window.media.camera"></app-media-control>
  </ng-container>
</app-window>

<app-video-window
  [model]="video.model"
  [window]="video"
  [title]="video.title"
  (download)="video.ondownload($event)"
>
</app-video-window>

<app-window [Model]="window.record" [style]="window.record.style">
  <ng-container *ngIf="window.record.show">
    <app-event-record-details
      [recordCount]="window.record.count"
      [type]="window.record.type"
    ></app-event-record-details>
  </ng-container>
</app-window>

<app-window [Model]="window.deivce" [style]="window.deivce.style">
  <ng-container *ngIf="window.deivce.show">
    <app-tab-title [title]="'摄像机'">
      <howell-device-list-table [status]="window.deivce.status">
      </howell-device-list-table>
    </app-tab-title>
  </ng-container>
</app-window>

<app-window [Model]="window.full" [style]="window.full.style">
  <ng-container *ngIf="window.full.show"> </ng-container>
</app-window>

<app-window [Model]="window.drop" [style]="window.drop.style">
  <ng-container *ngIf="window.drop.show"> </ng-container>
</app-window>

<app-window [Model]="window.station" [style]="window.station.style">
  <ng-container *ngIf="window.station.show"> </ng-container>
</app-window>
