.audit-statistic-data-number {
  &.orange-red {
    border-color: rgba(255, 118, 44, 0.4);
    background-color: rgba(255, 118, 44, 0.2);

    &:hover {

      border-color: rgba(255, 118, 44, 0.5);
      background-color: rgba(255, 118, 44, 0.3);
    }

  }

  &.orange-red>&-head {
    .hw-simple-title {
      color: #fabd9c;
    }
  }

  &.orange-red>&-body {
    color: rgba(255, 118, 44, 1);
  }
}
