.audit-statistic-data-number {
  &.blue {
    border-color: rgba(30, 144, 255, 0.4);
    background-color: rgba(30, 144, 255, 0.2);

    &:hover {
      background-color: rgba(30, 144, 255, 0.3);
      border-color: rgba(30, 144, 255, 0.5);
    }
  }

  &.blue>&-head {
    .hw-simple-title {
      color: #bbddff;
    }
  }

  &.blue>&-body {
    color: rgba(30, 144, 255, 1);
  }
}
