<div class="audit-statistic-data-abnormal-camera-manager">
  <div class="audit-statistic-data-abnormal-camera-manager-title">
    <div class="hw-second-title">摄像机列表</div>
  </div>
  <div class="audit-statistic-data-abnormal-camera-manager-head">
    <div class="filter-items">
      <div class="filter-item">
        <div class="filter-item-title">统计时间：</div>
        <div class="filter-item-value">
          <input
            type="text"
            [min]="0"
            [max]="168"
            [unit]="'小时'"
            [emptyvalue]="0"
            [emptyview]="'无限制'"
            [readOnly]="true"
            appTouchSpin
            [(number)]="hour"
          />
        </div>
      </div>
      <!-- <div class="filter-item">
        <div class="filter-item-title">故障类型：</div>
        <div class="filter-item-value">
          <hw-select [(selected)]="args.type" [cannull]="true">
            <select hw-select-content [(ngModel)]="args.type">
              <option [ngValue]="CameraAbnormalType.offline">
                {{ Language.CameraAbnormalType(CameraAbnormalType.offline) }}
              </option>
              <option [ngValue]="CameraAbnormalType.abnormal">
                {{ Language.CameraAbnormalType(CameraAbnormalType.abnormal) }}
              </option>
              <option [ngValue]="CameraAbnormalType.record">
                {{ Language.CameraAbnormalType(CameraAbnormalType.record) }}
              </option>
            </select>
          </hw-select>
        </div>
      </div> -->
      <div class="filter-item">
        <div class="filter-item-title">行政区：</div>
        <div class="filter-item-value">
          <common-label-select
            [single]="true"
            [autoclose]="true"
            [(showDropDown)]="controller.division.show"
            [selectedNodes]="
              controller.division.selected ? [controller.division.selected] : []
            "
            [height]="'325px'"
          >
            <howell-division-tree
              #tree
              [depth]="1"
              [showDepth]="0"
              [defaultIds]="args.divisionId ? [args.divisionId] : []"
              (selectTreeNode)="controller.division.onselect($event)"
            ></howell-division-tree>
          </common-label-select>
        </div>
      </div>
      <div class="filter-item search">
        <button class="hw-blue-btn" (click)="onsearch()">
          <i class="howell-icon-search"></i> 搜索
        </button>
        <button class="hw-blue-btn" (click)="ondownload()">
          <i class="howell-icon-export"></i> 导出
        </button>
      </div>
    </div>
  </div>
  <div class="audit-statistic-data-abnormal-camera-manager-body">
    <audit-camera-abnormal-table
      [args]="args"
      [load]="load"
      [download]="download"
      (video)="onvideo($event)"
    ></audit-camera-abnormal-table>
  </div>
</div>

<howell-video-player-window
  *ngIf="window.video.show"
  [Model]="window.video"
  [style]="window.video.style"
  [cameraId]="window.video.cameraId"
  [title]="window.video.title"
  [autoplay]="true"
></howell-video-player-window>
