.audit-statistic-data-abnormal-camera-manager {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-title {
    flex-grow: 0;
  }

  &-head {
    flex-grow: 0;

    .filter-item {
      &-value {
        width: 250px;
      }
    }
  }

  &-body {
    flex-grow: 1;
  }
}
