<div class="ai-garbage-station-device-manager">
  <div class="panel ai-garbage-station-device-manager-table">
    <div class="ai-garbage-station-device-manager-table-title">
      <div class="hw-simple-title">{{ title }}管理</div>
    </div>

    <div class="ai-garbage-station-device-manager-table-head">
      <div class="hw-btn-group">
        <button class="hw-blue-btn m-r-10" (click)="onexport()">
          <i class="howell-icon-export"></i> 导出
        </button>
        <button class="hw-blue-btn m-r-10" (click)="onimport()">
          <i class="howell-icon-upload"></i> 导入
        </button>
        <input
          type="file"
          (change)="onfile()"
          [accept]="'.xlsx'"
          #file
          style="display: none"
        />
        <button
          class="hw-red-btn m-r-10"
          (click)="todelete()"
          [class.gray-text]="!selecteds.length"
          [class.black]="!selecteds.length"
        >
          <i class="howell-icon-delete-bin"></i>
          删除
        </button>
      </div>
      <div class="head-filter">
        <div class="head-filter-item">
          <div class="head-filter-item-title">行政区</div>
          <div class="head-filter-item-value">
            <common-label-select
              [single]="true"
              [autoclose]="true"
              [(showDropDown)]="selection.show"
              [selectedNodes]="selection.selecteds"
              [height]="'325px'"
            >
              <howell-division-tree
                #tree
                (selectTreeNode)="selection.onselect($event)"
                [depth]="2"
                [showDepth]="0"
              ></howell-division-tree>
            </common-label-select>
          </div>
        </div>
        <div class="head-filter-item">
          <div class="head-filter-item-title">厢房名称</div>
          <div class="head-filter-item-value">
            <input type="text" [(ngModel)]="args.name" />
          </div>
        </div>
        <div class="head-filter-item search">
          <button class="hw-blue-btn" (click)="tosearch()">
            <i class="howell-icon-search2"></i> 查找
          </button>
        </div>
      </div>
    </div>
    <div style="height: calc(100% - 68px); overflow: auto">
      <ai-garbage-station-device-table
        [args]="args"
        [load]="load"
        [(selecteds)]="selecteds"
        (details)="ondetails($event)"
        (command)="oncommand($event)"
        (camera)="oncamera($event)"
        (dropwindow)="ondropwindow($event)"
        (delete)="todelete($event)"
        (schedule)="onschedule($event)"
        (status)="onstatus($event)"
      >
      </ai-garbage-station-device-table>
    </div>
  </div>

  <app-window
    [Model]="window.details"
    [style]="window.details.style"
    *ngIf="window.details.show"
  >
    <app-ai-garbage-station-device-details
      [model]="window.details.model"
      (cancel)="closewindow()"
      (ok)="onupdate()"
    ></app-ai-garbage-station-device-details>
  </app-window>
  <app-window
    [Model]="window.command"
    [style]="window.command.style"
    *ngIf="window.command.show"
  >
    <app-ai-garbage-station-device-command
      [model]="window.command.model"
    ></app-ai-garbage-station-device-command>
  </app-window>
  <app-window
    [Model]="window.status"
    [style]="window.status.style"
    *ngIf="window.status.show"
  >
    <ai-garbage-station-device-status
      [model]="window.status.model"
    ></ai-garbage-station-device-status>
  </app-window>
  <app-window
    [Model]="window.camera"
    [style]="window.camera.style"
    *ngIf="window.camera.show"
  >
    <app-ai-garbage-station-device-camera
      [model]="window.camera.model"
      (video)="onvideo($event)"
    ></app-ai-garbage-station-device-camera>
  </app-window>
  <app-window
    [Model]="window.drop"
    [style]="window.drop.style"
    *ngIf="window.drop.show"
  >
    <app-ai-garbage-station-device-drop-window
      [model]="window.drop.model"
      (close)="window.close()"
    ></app-ai-garbage-station-device-drop-window>
  </app-window>
  <app-window
    [Model]="window.schedule"
    [style]="window.schedule.style"
    *ngIf="window.schedule.show"
  >
    <app-ai-garbage-station-device-schedule
      [model]="window.schedule.model"
      (ok)="onupdate()"
      (cancel)="window.close()"
    ></app-ai-garbage-station-device-schedule>
  </app-window>

  <app-window
    [Model]="window.confirm"
    *ngIf="window.confirm.show"
    [style]="window.confirm.style"
  >
    <div class="confirm">
      <div class="confirm-head">
        <div class="hw-simple-title"><i class="mdi mdi-alert"></i> 提示</div>
      </div>
      <div class="confirm-body">
        <div class="hw-simple-title">是否{{ window.confirm.language }} ?</div>
      </div>
      <div class="confirm-foot">
        <button
          class="hw-green-btn m-r-10"
          (click)="ondelete(window.confirm.models)"
        >
          <i class="howell-icon-Check"></i> 确定
        </button>
        <button class="hw-gray-btn" (click)="window.close()">
          <i class="howell-icon-Close"></i> 取消
        </button>
      </div>
    </div>
  </app-window>
  <app-video-window
    [window]="window.video"
    *ngIf="window.video.show"
    [style]="window.video.style"
    [title]="window.video.title"
    [model]="window.video.model"
  >
  </app-video-window>
</div>
