<div class="panel" *ngIf="data">
  <div class="panel-item">
    <div class="hw-simple-title">
      机器人
      <ng-container *ngIf="length > 1">
        <span *ngIf="length > 0">- {{ index + 1 }}</span>
      </ng-container>
    </div>
  </div>
  <div class="panel-item">
    <div class="panel-item-title">机器人编号</div>
    <div class="panel-item-value">{{ data.Id }}</div>
  </div>

  <div class="panel-item">
    <div class="panel-item-title">机器人状态</div>
    <div class="panel-item-value">
      <span
        *ngFor="let state of data.State"
        [style.color]="Color.style.RobotState(state)"
        >{{ Language.RobotState(state, "-") }}</span
      >
    </div>
  </div>
  <div class="panel-item">
    <div class="panel-item-title">机器人序列号</div>
    <div class="panel-item-value">{{ data.SerialNumber }}</div>
  </div>
  <div class="panel-item">
    <div class="panel-item-title">机器人型号</div>
    <div class="panel-item-value">
      {{ data.Model }}
    </div>
  </div>
  <div class="panel-item">
    <div class="panel-item-title">电池状态</div>
    <div
      class="panel-item-value"
      [style.color]="Color.style.BatteryState(data.BatteryState)"
    >
      {{ Language.BatteryState(data.BatteryState, "-") }}
    </div>
  </div>
  <div class="panel-item">
    <div class="panel-item-title">电池电量</div>
    <div
      class="panel-item-value"
      [style.color]="Color.style.BatteryLevel(data.BatteryLevel)"
    >
      {{ data.BatteryLevel }}%
    </div>
  </div>
  <ng-container *ngIf="data.Errors && data.Errors.length > 0">
    <div class="panel-item" *ngFor="let error of data.Errors">
      <div class="panel-item-title">{{ error.Code }}</div>
      <div class="panel-item-value">
        {{ error.Desc }}
      </div>
    </div>
  </ng-container>
</div>
