<div class="garbage-drop-record-table">
  <!-- <div class="garbage-drop-record-table-header">
        <div>
            <div>导航</div>
            <button (click)="show=!show">显示 </button>
        </div>
        <div *ngIf="show">hshdfh</div>
    </div> -->
  <div class="garbage-drop-record-table-main">
    <table border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th [ngStyle]="{ width: widths[0] }">图片</th>
          <th [ngStyle]="{ width: widths[1] }">投放点</th>
          <th [ngStyle]="{ width: widths[2] }">居委会</th>
          <th [ngStyle]="{ width: widths[3] }">社区名称</th>
          <th [ngStyle]="{ width: widths[4] }">街道</th>
          <th [ngStyle]="{ width: widths[5] }">工单号</th>
          <th [ngStyle]="{ width: widths[6] }">发送时间</th>
          <th [ngStyle]="{ width: widths[7] }">处置时间</th>
          <th [ngStyle]="{ width: widths[8] }">滞留时长</th>
          <th [ngStyle]="{ width: widths[9] }">状态</th>
          <th [ngStyle]="{ width: widths[10] }">处置员</th>
          <th [ngStyle]="{ width: widths[11] }">操作</th>
        </tr>
      </thead>
    </table>
    <div class="garbage-drop-record-table-main-body body">
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr *ngFor="let item of datas">
            <td [ngStyle]="{ width: widths[0] }" [width]="widths[0]">
              <div class="img-list">
                <div class="img-list-content">
                  <div class="img" *ngFor="let img of item.images">
                    <app-image-control
                      [nosignal]="false"
                      [model]="img"
                      (Click)="imageClick(item, img)"
                    ></app-image-control>
                  </div>
                </div>
              </div>
            </td>
            <td
              [ngStyle]="{ width: widths[1] }"
              [title]="item.Data.StationName"
            >
              {{ item.Data.StationName }}
            </td>
            <td
              [ngStyle]="{ width: widths[2] }"
              [title]="item.Data.DivisionName ?? '-'"
            >
              {{ item.Data.DivisionName ?? "-" }}
            </td>
            <td
              [ngStyle]="{ width: widths[3] }"
              [title]="item.Data.CommunityName ?? '-'"
            >
              {{ item.Data.CommunityName ?? "-" }}
            </td>
            <td
              [ngStyle]="{ width: widths[4] }"
              [title]="item.County ? item.County.Name : ''"
            >
              {{ item.County ? item.County.Name : "" }}
            </td>
            <td [ngStyle]="{ width: widths[5], fontSize: '16px' }">
              {{ item.Data.RecordNo ?? "-" }}
            </td>
            <td [ngStyle]="{ width: widths[6] }">
              {{ item.SendTime }}
            </td>
            <td [ngStyle]="{ width: widths[7] }">
              {{ item.HandleTime }}
            </td>
            <td [ngStyle]="{ width: widths[8] }">
              {{ item.DropDuration ?? "-" }}
            </td>
            <td [ngStyle]="{ width: widths[9] }">
              <div [class]="item.statusClass">
                {{ item.status }}
              </div>
            </td>
            <td
              [ngStyle]="{ width: widths[10] }"
              [title]="item.Data.ProcessorName ?? '-'"
            >
              {{ item.Data.ProcessorName ?? "-" }}
            </td>
            <td [ngStyle]="{ width: widths[11] }">
              <button
                class="icon-button"
                title="播放视频"
                (click)="videoClick(item)"
              >
                <i class="howell-icon-video"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="garbage-drop-record-table-main-footer" *ngIf="page">
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <!-- MatPaginator 的pageIndex是从0开始-->
        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="page.PageCount - 1"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
