<div class="garbage-drop-record-table">
  <!-- <div class="garbage-drop-record-table-header">
        <div>
            <div>导航</div>
            <button (click)="show=!show">显示 </button>
        </div>
        <div *ngIf="show">hshdfh</div>
    </div> -->
  <div class="garbage-drop-record-table-main">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th>图片</th>
          <th>投放点</th>
          <th>居委会</th>
          <th>社区名称</th>
          <th>街道</th>
          <th>工单号</th>
          <th>发送时间</th>
          <th>处置时间</th>
          <th>滞留时长</th>
          <th>状态</th>
          <th>处置员</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
    <div class="garbage-drop-record-table-main-body body">
      <table *ngIf="datas" border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas"
            [ngClass]="{ selected: selected === item }"
            (click)="onselect(item)"
          >
            <td [width]="widths[0]">
              <div class="img-list">
                <div class="img-list-content">
                  <div
                    class="img"
                    *ngFor="let url of item.urls | async; let index = index"
                    (click)="onimage($event, item, index)"
                  >
                    <img [src]="url" alt="" />
                  </div>
                </div>
              </div>
            </td>
            <td [title]="item.Data.StationName">
              {{ item.Data.StationName }}
            </td>
            <td [title]="item.Data.DivisionName ?? '-'">
              {{ item.Data.DivisionName ?? "-" }}
            </td>
            <td [title]="item.Data.CommunityName ?? '-'">
              {{ item.Data.CommunityName ?? "-" }}
            </td>
            <td [title]="(item.County | async)?.Name">
              {{ (item.County | async)?.Name }}
            </td>
            <td [ngStyle]="{ width: widths[5], fontSize: '16px' }">
              {{ item.Data.RecordNo ?? "-" }}
            </td>
            <td>
              {{ item.SendTime }}
            </td>
            <td>
              {{ item.HandleTime }}
            </td>
            <td>
              {{ item.DropDuration ?? "-" }}
            </td>
            <td>
              <div [class]="item.statusClass">
                {{ item.status }}
              </div>
            </td>
            <td [title]="item.Data.ProcessorName ?? '-'">
              {{ item.Data.ProcessorName ?? "-" }}
            </td>
            <td>
              <button
                class="icon-button"
                title="播放视频"
                (click)="onvideo(item)"
              >
                <i class="howell-icon-video"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="garbage-drop-record-table-main-footer" *ngIf="page">
      <div class="footer-item">
        <div class="footer-info">
          <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
          <div class="info-item">
            总数量: {{ page && page.TotalRecordCount }}
          </div>
        </div>

        <!-- MatPaginator 的pageIndex是从0开始-->
        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="page.PageIndex - 1"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
