<div class="audit-statistic">
  <div class="audit-statistic-head">
    <div class="hw-second-title">事件统计</div>
    <div class="filter">
      <div class="filter-items">
        <div class="filter-item">
          <div class="filter-item-title">行政区：</div>
          <div class="filter-item-value">
            <common-label-select
              [single]="true"
              [autoclose]="true"
              [showCloseIcon]="false"
              [(showDropDown)]="selection.show"
              [selectedNodes]="selection.selecteds"
              [height]="'325px'"
            >
              <howell-division-tree
                #tree
                [defaultIds]="selection.default"
                (selectTreeNode)="selection.onselect($event)"
              ></howell-division-tree>
            </common-label-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="audit-statistic-body light-blue-text">
    <div class="audit-statistic-body-scroll">
      <div class="audit-statistic-body-scroll-wrap">
        <audit-statistic-card class="header" style="width: calc(100% - 10px)">
          <div class="audit-statistic-card">
            <app-statistic-summary-header
              [operational]="true"
              [DivisonStatistic]="data.divisionStatistic"
              (task)="ontask()"
              (drop)="ondrop()"
              (illegalDrop)="onrecord(EventType.IllegalDrop)"
              (mixedInto)="onrecord(EventType.MixedInto)"
            ></app-statistic-summary-header>
          </div>
        </audit-statistic-card>
        <audit-statistic-card style="width: calc(50% - 10px)">
          <div class="audit-statistic-card">
            <app-statistic-summary-task-chart
              [operational]="true"
              [Data]="data.divisionStatistic"
              (task)="ondrop($event)"
            ></app-statistic-summary-task-chart>
          </div>
        </audit-statistic-card>
        <audit-statistic-card style="width: calc(50% - 10px)">
          <div class="audit-statistic-card">
            <app-statistic-summary-event-ratio-chart
              [operational]="true"
              [Data]="data.divisionStatistic"
              (illegalDrop)="onrecord(EventType.IllegalDrop)"
              (mixedInto)="onrecord(EventType.MixedInto)"
              (garbageFull)="onrecord(EventType.GarbageFull)"
            ></app-statistic-summary-event-ratio-chart>
          </div>
        </audit-statistic-card>
        <audit-statistic-card style="width: calc(50% - 10px)">
          <div class="audit-statistic-card">
            <app-statistic-summary-line-chart
              [Data]="data.divisionHistory"
              [Type]="EventType.IllegalDrop"
              [TimeUnit]="TimeUnit.Hour"
            ></app-statistic-summary-line-chart>
          </div>
        </audit-statistic-card>
        <audit-statistic-card style="width: calc(50% - 10px)">
          <div class="audit-statistic-card">
            <app-statistic-summary-line-chart
              [Data]="data.divisionHistory"
              [Type]="EventType.MixedInto"
              [TimeUnit]="TimeUnit.Hour"
            ></app-statistic-summary-line-chart>
          </div>
        </audit-statistic-card>
        <audit-statistic-card style="width: calc(100% - 10px)">
          <div class="audit-statistic-card">
            <app-statistic-summary-station-event-chart
              [title]="'事件统计'"
              [Data]="data.children"
            ></app-statistic-summary-station-event-chart>
          </div>
        </audit-statistic-card>
      </div>
    </div>
    <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <app-window
    [Model]="window.task"
    [style]="window.task.style"
    *ngIf="window.task.show"
  >
    <audit-statistic-event-task-manager
      [divisionId]="window.task.divisionId"
    ></audit-statistic-event-task-manager>
  </app-window>
  <app-window
    [Model]="window.record"
    [style]="window.record.style"
    *ngIf="window.record.show"
  >
    <audit-statistic-event-record-manager
      [divisionId]="window.record.divisionId"
      [type]="window.record.type"
      (image)="window.record.onimage($event)"
      (video)="window.record.onvideo($event)"
      [get]="window.image.page.getData"
      (got)="window.image.page.gotData($event)"
    ></audit-statistic-event-record-manager>
  </app-window>
  <app-window
    [Model]="window.drop"
    [style]="window.drop.style"
    *ngIf="window.drop.show"
  >
    <audit-statistic-event-drop-manager
      [divisionId]="window.drop.divisionId"
      [handle]="window.drop.handle"
      [timeout]="window.drop.timeout"
      (image)="window.drop.onimage($event)"
      (video)="window.drop.onvideo($event)"
    ></audit-statistic-event-drop-manager>
  </app-window>
  <app-window
    [Model]="window.image.page"
    *ngIf="window.image.page.show"
    [style]="window.image.page.style"
  >
    <app-media-image-control
      [model]="window.image.page.model"
      [first]="window.image.page.first"
      [last]="window.image.page.last"
      (prev)="window.image.page.onprev()"
      (next)="window.image.page.onnext()"
      (play)="window.image.page.onvideo()"
    ></app-media-image-control>
  </app-window>
  <app-window
    [Model]="window.image.array"
    *ngIf="window.image.array.show"
    [style]="window.image.array.style"
  >
    <app-media-image-control
      [model]="window.image.array.current"
      [first]="window.image.array.first"
      [last]="window.image.array.last"
      [captureing]="window.image.array.captureing"
      (prev)="window.image.array.onprev()"
      (next)="window.image.array.onnext()"
      (play)="window.image.array.onvideo()"
    ></app-media-image-control>
  </app-window>
  <app-video-window
    [window]="window.video"
    *ngIf="window.video.show"
    [style]="window.video.style"
    [title]="window.video.title"
    [model]="window.video.model"
    [mask]="window.video.mask"
    [zindex]="window.video.zindex"
    (stoping)="window.video.onstoping()"
  >
  </app-video-window>
</div>
