<div class="division-station-tree-filter">
  <mat-chip-list
    #chipList
    aria-label="Fruit selection"
    [aria-orientation]="'horizontal'"
    (click)="onchiplistclicked($event)"
  >
    <mat-chip *ngFor="let item of selected" (removed)="remove(item)">
      {{ item.Name }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
  <div
    class="tree"
    (click)="onpanelclick($event)"
    [class.right]="align == HorizontalAlign.right"
    [class.left]="align == HorizontalAlign.left"
    *ngIf="expand"
  >
    <howell-district-tree
      [treeServiceModel]="treeServiceModel"
      [treeSelectModel]="treeSelectModel"
      [resourceType]="userType"
      (selectTreeNode)="selectTreeNode($event)"
    ></howell-district-tree>
  </div>
</div>
