// /*
//  * @Author: pmx
//  * @Date: 2021-09-15 16:03:33
//  * @Last Modified by: pmx
//  * @Last Modified time: 2021-12-14 16:56:46
//  */

.toolbar-text() {
  font-weight: bold;
  line-height: 36px;
  background-image: linear-gradient(to top, #7f94ff, #fff);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.toolbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  color: #d8f4ff;
  background-color: rgba(12, 17, 39, 0.9);
  background-image: linear-gradient(
      to bottom,
      rgba(127, 148, 255, 0) 0%,
      rgba(127, 148, 255, 0.1) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(216, 244, 255, 0) 85%,
      rgba(216, 244, 255, 0.1) 100%
    );

  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;

  &__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    align-items: center;

    &--m-l-30 {
      margin-left: 30px;
    }

    &--center {
      justify-content: center;
      overflow: hidden;
    }
    &--end {
      justify-content: flex-end;
    }
  }

  .toolbar__logo {
  }
  .toolbar__text {
    white-space: nowrap;
    font-weight: bold;

    background-image: linear-gradient(to top, #7f94ff, #fff);

    background-clip: text;
    -webkit-text-fill-color: transparent;

    height: 41px;
    overflow: hidden;
    .toolbar__title {
      font-size: 36px;
      margin-left: 20px;
      line-height: 36px;
    }
    .toolbar__des {
      font-size: 24px;
      margin-left: 10px;
      line-height: 24px;
    }
  }

  .statistic-wrapper {
    color: #d8f4ff;
    font-size: 16px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    overflow: hidden;

    &__title {
    }
    &__content {
      display: flex;
      &__num {
        font-size: 24px;
        color: #32f0f7;
        max-width: 57%;
        overflow: hidden;
      }
    }
  }
  .toolbar__link {
    font-family: "Material-Design-Iconic-Font";
    display: flex;
    margin: 0 5px;
    position: relative;
    &__item {
      width: 32px;
      height: 32px;
      background-color: #2d3559;
      color: #68adfd;
      border-radius: 50%;
      font-size: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin: 0 5px;
      cursor: pointer;
    }
    &__logout {
      position: relative;
    }
    &__help mat-icon {
      font-size: 21px;
      width: auto;
      height: auto;
    }
  }
}
.dropdown__menu {
  position: absolute;

  right: 0;
  top: 114%;

  z-index: 1000;
  width: 160px;
  box-sizing: border-box;

  display: none;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-weight: normal;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;

  transform: translate(0, 0);
  border-radius: 0;
  background-color: rgb(21, 27, 51);
  border: 2px solid #7a8de6;
  color: #cfd7ff;
  &.show {
    display: block;
  }
  .dropdown__item {
    padding: 4px 8px;
    display: flex;

    i {
      padding-right: 2px;
      font-size: 1.2rem;
    }
    &:not(:first-child) {
      cursor: pointer;
      &:hover {
        background-color: #4a8bd0;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .toolbar .statistic-wrapper {
    display: none;
  }
}

@import url(/src/assets/less/toolbar.less);
.app-toolbar {
  width: 100%;
  height: 100%;

  .spacer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }
}
