<div class="toolbar">
  <div class="toolbar__item">
    <img
      class="toolbar__logo"
      src="assets/img/logo.svg"
      alt=""
      title="皓维智能"
    />
    <span class="toolbar__title">广中路街道</span>
    <span class="toolbar__des">生活垃圾分类全程监管平台</span>
  </div>
  <div class="toolbar__item toolbar__item--center">
    <div class="statistic-wrapper">
      <div>今日收湿垃圾总量</div>
      <div>00000(吨/日)</div>
    </div>
    <div class="statistic-wrapper">
      <div>今日收湿垃圾总量</div>
      <div>0(吨/日)</div>
    </div>
  </div>
  <div class="toolbar__item toolbar__item--end">
    
  </div>
</div>
