<div class="ai-garbage-station-device-command-station">
  <div class="command-panel form-group" *ngIf="!!model">
    <div class="hw-simple-title">厢房命令</div>
    <div
      class="form-item"
      *ngIf="model.Capabilities && model.Capabilities.ExhaustFan"
    >
      <div class="form-item-title">
        排风扇
        <span class="fun" [class.run]="model.Status?.ExhaustFan">
          <i class="mdi mdi-fan"></i
        ></span>
      </div>
      <div class="form-item-value">
        <button
          [ngClass]="{
            'hw-green-btn': model.Status?.ExhaustFan !== 1,
            'hw-red-btn': model.Status?.ExhaustFan === 1
          }"
          (click)="
            tocommand(
              AIGarbageDeviceCommand.ExhaustFan,
              model.Status?.ExhaustFan === 1 ? 0 : 1
            )
          "
        >
          <i class="mdi mdi-fan"></i>
          {{ model.Status?.ExhaustFan === 1 ? "关闭" : "打开" }}
        </button>
      </div>
    </div>
    <div
      class="form-item"
      *ngIf="model.Capabilities && model.Capabilities.Spray"
    >
      <div class="form-item-title">香氛</div>
      <div class="form-item-value">
        <button
          class="hw-blue-btn"
          (click)="tocommand(AIGarbageDeviceCommand.Spray, 1)"
        >
          <i class="mdi mdi-spray"></i> 喷洒
        </button>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title">窗口上电</div>
      <div class="form-item-value">
        <button
          class="hw-blue-btn"
          (click)="tocommand(AIGarbageDeviceCommand.WindowPowerOn, 1)"
        >
          <i class="mdi mdi-power-plug"></i> 上电
        </button>
      </div>
    </div>
  </div>

  <app-window
    [Model]="window.confirm"
    *ngIf="window.confirm.show"
    [style]="window.confirm.style"
  >
    <ai-garbage-station-device-command-confirm
      [command]="window.confirm.command"
      (ok)="oncommand($event)"
      (cancel)="window.close()"
    ></ai-garbage-station-device-command-confirm>
  </app-window>
</div>
