.media-multiple-control {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &-header {
    flex-grow: 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &-option {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      padding-right: 28px;
      color: #7586e0;
      font-size: 21px;

      &>* {
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }

    }


  }

  &-datetime {
    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      &-value {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        app-time-control {
          width: 150px;
        }

        .input-date {
          width: 200px;
        }
      }
    }
  }

  &-content {
    flex-grow: 1;
  }

  .spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;

    width: 5px;
    height: 5px;
    border-width: 0.2em;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #21E452;
  }


  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }

}
