<ng-container [ngSwitch]="type">
  <event-record-table-garbage-full
    *ngSwitchCase="EventType.GarbageFull"
    [business]="business"
    [load]="load"
    [filter]="filter"
    [get]="get"
    (got)="ongot($event)"
    (video)="onvideo($event)"
    (image)="onimage($event)"
    (downloadImage)="downloadImage($event)"
    (downloadVideo)="downloadVideo($event)"
  >
  </event-record-table-garbage-full>
  <event-record-table-illegal-drop
    *ngSwitchCase="EventType.IllegalDrop"
    [business]="business"
    [load]="load"
    [filter]="filter"
    [get]="get"
    (got)="ongot($event)"
    (video)="onvideo($event)"
    (image)="onimage($event)"
    (downloadImage)="downloadImage($event)"
    (downloadVideo)="downloadVideo($event)"
  >
  </event-record-table-illegal-drop>
  <event-record-table-mixed-into
    *ngSwitchCase="EventType.MixedInto"
    [business]="business"
    [load]="load"
    [filter]="filter"
    [get]="get"
    (got)="ongot($event)"
    (video)="onvideo($event)"
    (image)="onimage($event)"
    (card)="oncard($event)"
    (downloadImage)="downloadImage($event)"
    (downloadVideo)="downloadVideo($event)"
  >
  </event-record-table-mixed-into>
  <event-record-table-sewage
    *ngSwitchCase="EventType.Sewage"
    [business]="business"
    [load]="load"
    [filter]="filter"
    [get]="get"
    (got)="ongot($event)"
    (video)="onvideo($event)"
    (image)="onimage($event)"
    (downloadImage)="downloadImage($event)"
    (downloadVideo)="downloadVideo($event)"
  >
  </event-record-table-sewage>
</ng-container>
<app-window [Model]="panel" [style]="panel.style">
  <ng-container *ngIf="panel.show">
    <howell-video-download-panel
      [business]="panel"
      [type]="filter.type"
      (download)="panel.download($event)"
      (cancel)="panel.cancel()"
    >
    </howell-video-download-panel>
  </ng-container>
</app-window>
