<app-window [Model]="Model" [style]="style">
  <ng-container *ngIf="Model.show">
    <div class="event-record-window">
      <ng-container *ngIf="index === Index.record">
        <event-record-window-list
          [divisionId]="divisionId"
          [stationId]="stationId"
          [type]="type"
          [listType]="listType"
          [get]="get"
          (got)="ongot($event)"
          (image)="onimage($event)"
          (card)="oncard($event)"
          (video)="onvideo($event)"
          (allvideo)="onallvideo($event)"
        >
          <ng-container *ngTemplateOutlet="header"></ng-container>
        </event-record-window-list>
      </ng-container>
      <ng-container *ngIf="index === Index.count">
        <howell-event-record-count [eventType]="type">
          <ng-container *ngTemplateOutlet="header"></ng-container>
        </howell-event-record-count>
      </ng-container>
      <ng-container *ngIf="index === Index.details">
        <event-record-window-details [type]="type">
          <ng-container *ngTemplateOutlet="header"></ng-container>
        </event-record-window-details>
      </ng-container>

      <ng-container *ngIf="index === Index.comparison">
        <howell-event-record-comparison [eventType]="type">
          <ng-container *ngTemplateOutlet="header"></ng-container>
        </howell-event-record-comparison>
      </ng-container>
    </div>
  </ng-container>
</app-window>

<ng-template #header>
  <div class="event-record-window-head">
    <div class="hw-second-title">
      {{ Language.EventType(type) }}
    </div>
    <div class="event-record-window-head-content">
      <div class="event-record-window-head-content-list">
        <div
          class="second-menu-btn"
          [class.selected]="index === Index.record"
          (click)="indexChange(Index.record)"
        >
          事件
        </div>
        <div
          class="second-menu-btn"
          [class.selected]="index === Index.count"
          (click)="indexChange(Index.count)"
        >
          总图表
        </div>
        <div
          class="second-menu-btn"
          [class.selected]="index === Index.details"
          (click)="indexChange(Index.details)"
        >
          细分图表
        </div>
        <div
          class="second-menu-btn"
          [class.selected]="index === Index.comparison"
          (click)="indexChange(Index.comparison)"
        >
          数据比较
        </div>
      </div>
    </div>
  </div>
</ng-template>
