<div class="rank small-scrollbar">
  <div class="rank-wrapper">
    <ng-template
      ngFor
      [ngForOf]="data"
      let-item
      let-i="index"
      [ngForTrackBy]="trackByFn"
    >
      <div class="rank-item">
        <div class="rank-prefix">
          <div
            class="rank-order"
            [ngStyle]="{ background: i < 3 ? '#ffba00' : '#7f94ff' }"
          >
            {{ i + 1 }}
          </div>
          <div class="rank-link" (click)="itemClick($event, item)">
            {{ item.name }}
          </div>
        </div>
        <div class="rank-suffix">
          <div class="rank-num">{{ item.statistic }}</div>
          <div class="rank-unit">{{ item.unit }}</div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
