<div class="rank small-scrollbar">
  <div class="rank-head">
    <div class="title">{{ title }}</div>
    <div class="select-group">
      <!-- <div class="select-item" *ngFor="let item of dropLists">
        <div class="select-item__title">{{ item[0].name }}</div>
        <div class="select-item__button"></div>
      </div> -->
      <ng-content></ng-content>
    </div>
  </div>

  <div class="rank-wrapper">
    <div class="rank-item">
      <div class="rank-prefix">
        <div class="rank-order">1</div>
        <div class="rank-link">西渐晚居委会</div>
      </div>
      <div class="rank-suffix">
        <div class="rank-num">43</div>
        <div class="rank-unit">起</div>
      </div>
    </div>

    <div class="rank-item">
      <div class="rank-prefix">
        <div class="rank-order">1</div>
        <div class="rank-link">西渐晚居委会</div>
      </div>
      <div class="rank-suffix">
        <div class="rank-num">43</div>
        <div class="rank-unit">起</div>
      </div>
    </div>

    <div class="rank-item">
      <div class="rank-prefix">
        <div class="rank-order">1</div>
        <div class="rank-link">西渐晚居委会</div>
      </div>
      <div class="rank-suffix">
        <div class="rank-num">43</div>
        <div class="rank-unit">起</div>
      </div>
    </div>
    <div class="rank-item">
      <div class="rank-prefix">
        <div class="rank-order">1</div>
        <div class="rank-link">西渐晚居委会</div>
      </div>
      <div class="rank-suffix">
        <div class="rank-num">43</div>
        <div class="rank-unit">起</div>
      </div>
    </div>
    <div class="rank-item">
      <div class="rank-prefix">
        <div class="rank-order">1</div>
        <div class="rank-link">西渐晚居委会</div>
      </div>
      <div class="rank-suffix">
        <div class="rank-num">43</div>
        <div class="rank-unit">起</div>
      </div>
    </div>
    <div class="rank-item">
      <div class="rank-prefix">
        <div class="rank-order">1</div>
        <div class="rank-link">西渐晚居委会</div>
      </div>
      <div class="rank-suffix">
        <div class="rank-num">43</div>
        <div class="rank-unit">起</div>
      </div>
    </div>
    <div class="rank-item">
      <div class="rank-prefix">
        <div class="rank-order">1</div>
        <div class="rank-link">西渐晚居委会</div>
      </div>
      <div class="rank-suffix">
        <div class="rank-num">43</div>
        <div class="rank-unit">起</div>
      </div>
    </div>
  </div>
</div>
