.division-manage {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: white;

  .division-list {
    @w: 320px;
    @p: 20px;
    @b: 2px;
    @cw:@w - 2 * @p - 2 * @b; // content width

    width: @w;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background: rgba(36, 72, 165, 0.05);
    border: @b rgba(117, 134, 224, 0.15) solid;
    padding: @p;

    margin-right: 20px;

    h2 {
      margin: 0;
      margin-bottom: 20px;
    }
    .btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .btn {
      @bw: 76px;
      width: @bw;
      height: 34px;
      cursor: pointer;
      background-color: unset;
      border: unset;
      font-size: 16px;

      @n: floor((unit(@cw) / unit(@bw)));

      &:nth-child(@{n}n) {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @selectors: red, green, blue;

      /**
          Less Each() 函数
      **/
      each(@selectors, {
        &--@{value}{
          background-image: url("/assets/img/@{value}-btn.png");
        }
        &--@{value}:hover{
          background-image: url("/assets/img/@{value}-btn-hover.png");
        }
        &--@{value}:disabled{
          filter: brightness(60%);
        }
      });
    }

    .search-wrapper {
      flex-shrink: 0;
      height: 34px;
      background-color: transparent;
      outline-color: currentColor;
      border: 1px solid #5e6ebf;
      color: white;
      font-size: 18px;
      transition: all 0.5s;
      position: relative;
      margin-bottom: 20px;

      &:focus-within {
        background-color: #0d1f38;
        border: 1px solid #3a93ff;
      }

      .search {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0;
        padding-left: 12px;
        padding-right: 30px;
        background: transparent;
        box-sizing: border-box;
        background: transparent;
      }
      .search-icon {
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translate(0, -50%);
        color: #7f94ff;
        font-size: 20px;
        cursor: pointer;

        &:hover {
          color: #3a93ff;
        }
      }
    }

    .tree-container {
      flex-grow: 1;
      overflow: auto;
    }
  }

  .division-detail {
    flex-grow: 1;
    background: rgba(36, 72, 165, 0.05);
    border: 2px rgba(117, 134, 224, 0.15) solid;
    padding: 20px;
    padding-right: 0;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0;
      margin-bottom: 20px;
      flex-shrink: 0;
    }
    .form {
      width: 100%;
      box-sizing: border-box;
      overflow: auto;
      .form-group {
        width: 70%;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        .title {
          margin-bottom: 5px;
        }
        .form-label {
          color: #eaedff;
          font-size: 18px;
          font-weight: bold;
          line-height: 35px;
        }
        .form-icon {
          color: #fc4b6c;
          vertical-align: sub;
        }
        .form-control {
          width: 100%;
          color: #cfd7ff;
          border: 1px solid #5e6ebf;
          font-size: 18px;
          border-radius: unset;
          background-color: #1d233b;
          box-sizing: border-box;
          outline: none;
          &:focus {
            background-color: #0d1f38;
            border: 1px solid #3a93ff;
          }
          &[disabled] {
            border-color: rgba(94, 110, 191, 0.5);
          }
        }
        .form-input {
          height: 34px;
          padding: 0;
          padding-left: 12px;
        }
        .form-textarea {
          resize: none;
          padding: 0;
          padding: 4px 12px 0px;
        }
        .btns {
          .btn {
            width: 46px;
            height: 34px;
            cursor: pointer;
            background-color: unset;
            border: unset;
            font-size: 16px;

            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          .btn--green {
            background-image: url(/assets/img/green-m-btn.png);
          }
          .btn--gray {
            background: #0c1127;
            border: 1px solid rgba(94, 110, 191, 0.5);
            color: rgba(207, 215, 255, 0.5);
          }
        }
      }
    }
  }
}
