<div class="division-manage">
  <ng-container *ngIf="showDialog">
    <howell-confirm-dialog
      (dialogMsg)="dialogMsgEvent($event)"
    ></howell-confirm-dialog>
  </ng-container>
  <div class="division-list">
    <h2>区划列表</h2>

    <div class="btns">
      <button
        class="btn btn--green"
        (click)="addBtnClick()"
        [disabled]="!enableAddBtn"
      >
        <i class="howell-icon-plus"></i>
        添加
      </button>
      <button
        class="btn btn--red"
        (click)="deleteBtnClick()"
        [disabled]="!enableDelBtn"
      >
        <i class="howell-icon-delete-bin"></i>
        删除
      </button>
      <button
        class="btn btn--blue"
        (click)="editBtnClick()"
        [disabled]="!enableEditBtn"
      >
        <i class="howell-icon-move2"></i>
        编辑
      </button>
    </div>

    <div class="search-wrapper">
      <input
        type="text"
        class="search"
        maxLength="15"
        placeholder="名称"
        #search
        (click)="searchNode(search.value)"
      />
      <i class="material-icons search-icon">search</i>
    </div>

    <div class="tree-container">
      <app-tree
        #tree
        [treeSelectModel]="treeSelectModel"
        [treeServiceModel]="treeServiceModel"
        (selectTreeNode)="selectTreeNode($event)"
        [holdStatus]="holdStatus"
      ></app-tree>
    </div>
  </div>
  <div class="division-detail">
    <h2>{{ title }}</h2>

    <form class="form bold-scrollbar" [formGroup]="myForm">
      <div class="form-group">
        <div class="title">
          <span class="form-label"> 区划ID </span>
          <span class="form-icon" *ngIf="state == FormState.add">*</span>
        </div>
        <div class="content">
          <input
            type="text"
            class="form-control form-input"
            formControlName="Id"
            [placeholder]="addPlaceHolder"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="title">
          <span class="form-label"> 区划名称 </span>
          <span class="form-icon" *ngIf="state == FormState.add">*</span>
        </div>
        <div class="content">
          <input
            type="text"
            class="form-control form-input"
            formControlName="Name"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="title">
          <span class="form-label"> 上级区划名称 </span>
        </div>
        <div class="content">
          <input
            type="text"
            class="form-control form-input"
            formControlName="ParentName"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="title">
          <span class="form-label"> 区划描述 </span>
        </div>
        <div class="content">
          <textarea
            class="form-control form-textarea"
            cols="30"
            rows="7"
            formControlName="Description"
          ></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="btns" [hidden]="state == FormState.none">
          <button class="btn hw-green-m-btn" type="button" (click)="onSubmit()">
            <i class="howell-icon-Check"></i>
          </button>
          <!--
            type不能为reset,否则先调用 本类的onReset()，然后调用 FormGroupDirective内部 reset()
          -->
          <button class="btn hw-gray-m-btn" type="button" (click)="onReset()">
            <i class="howell-icon-Close"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
