<!-- 收运车运行状态 -->

<div class="collection-device-state">
  <div class="collection-device-state__head">
    <div class="collection-device-state__head__title">{{ title }}</div>
  </div>
  <div class="collection-device-state__main">
    <div class="collection-device-state__chart">
      <div class="chart-container">
        <common-gauge-chart [merge]="merge"></common-gauge-chart>
      </div>

      <div class="chart-detail">
        <div class="chart-detail__label">车辆在线比</div>
        <div class="chart-detail__ratio" [style.color]="model?.stateColor">
          <span class="num">{{ model?.onLineRatio }}</span
          ><span class="unit">{{ model?.unit }}</span>
        </div>
      </div>
    </div>
    <div class="collection-device-state__chips">
      <div *ngFor="let item of model?.Data" class="chip-item">
        <div class="chip-item__label">{{ item.label }}</div>
        <div class="chip-item__num" [class]="item.tagCls">
          <span>{{ item.count }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
