<div class="aiop-user-password-change" *ngIf="!!model">
  <div class="aiop-user-password-change-head">
    <div class="hw-simple-title">
      {{ model.LastName ?? model.FirstName ?? model.Username }} 修改密码
    </div>
  </div>
  <div class="aiop-user-password-change-body">
    <div class="hw-form">
      <div class="hw-form-list">
        <div class="hw-form-list-item">
          <div class="hw-form-list-item-title">原密码：</div>
          <div class="hw-form-list-item-value">
            <input
              type="password"
              [(ngModel)]="old"
              autocomplete="new-password"
            />
          </div>
        </div>
        <div class="hw-form-list-item">
          <div class="hw-form-list-item-title">新密码：</div>
          <div class="hw-form-list-item-value">
            <input type="password" [(ngModel)]="password" />
          </div>
        </div>
        <div class="hw-form-list-item describe">
          <div class="hw-form-list-item-title"></div>
          <div class="hw-form-list-item-value">
            8-30个字符，需包含大、小写字母、数字和特殊字符
          </div>
        </div>
        <div class="hw-form-list-item">
          <div class="hw-form-list-item-title">重复输入：</div>
          <div class="hw-form-list-item-value">
            <input type="password" [(ngModel)]="repeat" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aiop-user-password-change-foot">
    <button class="hw-green-btn" (click)="onok()">
      <i class="howell-icon-Check"></i> 确定
    </button>
    <button class="hw-gray-btn" (click)="oncancel()">
      <i class="howell-icon-Close"></i> 取消
    </button>
  </div>
</div>
