<div class="garbage-station-window-record">
  <div class="garbage-station-window-record-head">
    <ng-content></ng-content>
    <howell-garbage-station-window-record-operation
      (search)="onsearch($event)"
      [(table)]="table"
      [(isfilter)]="isfilter"
    >
    </howell-garbage-station-window-record-operation>
  </div>
  <div class="garbage-station-window-record-filter" *ngIf="isfilter">
    <howell-garbage-station-window-record-filter
      [(filter)]="filter"
    ></howell-garbage-station-window-record-filter>
  </div>
  <div class="garbage-station-window-record-table" [class.filter]="isfilter">
    <howell-garbage-drop-record-table
      *ngIf="table === TableType.table"
      [filter]="filter"
      [load]="load"
      (image)="onimage($event)"
      (video)="onvideo($event)"
    >
    </howell-garbage-drop-record-table>
    <garbage-drop-record-task-table
      #task
      *ngIf="table === TableType.card"
      [args]="filter"
      [load]="load"
    >
    </garbage-drop-record-task-table>
  </div>
</div>
