<div class="garbage-station-window-record">
  <div class="garbage-station-window-record-head">
    <ng-content></ng-content>
    <howell-garbage-station-window-record-operation
      (search)="on.search($event)"
      [(option)]="option"
      [(isfilter)]="isfilter"
    >
    </howell-garbage-station-window-record-operation>
  </div>
  <div class="garbage-station-window-record-filter" *ngIf="isfilter">
    <howell-garbage-station-window-record-filter
      [sameDay]="true"
      [(duration)]="filter.duration"
      [(divisionId)]="filter.divisionId"
      [(stationId)]="filter.stationId"
      [(range)]="filter.range"
      [(handle)]="filter.IsHandle"
      [(timeout)]="filter.IsTimeout"
    ></howell-garbage-station-window-record-filter>
  </div>
  <div class="garbage-station-window-record-table" [class.filter]="isfilter">
    <howell-garbage-drop-record-table
      [filter]="filter"
      [load]="load"
      (image)="on.image($event)"
      (video)="on.video.play($event)"
      [get]="get"
      (got)="on.got($event)"
      (complete)="on.complete($event)"
      (allvideo)="on.video.all($event)"
      [findable]="true"
      (find)="on.find($event)"
    >
    </howell-garbage-drop-record-table>
    <garbage-drop-record-task-table #task [args]="filter" [load]="load">
    </garbage-drop-record-task-table>
  </div>
</div>
