<div class="event-record-details">
  <app-tab-title [title]="title"> </app-tab-title>
  <div class="tabs">
    <div class="event-record-details-content" [ngClass]="{ table: index == 0 }">
      <mat-tab-group
        [disableRipple]="true"
        animationDuration="0ms"
        [color]="'transparent'"
        [selectedIndex]="index"
        (selectedIndexChange)="indexChange($event)"
      >
        <mat-tab label="事件">
          <!-- <app-illegal-drop-record></app-illegal-drop-record> -->
          <!-- <div class="table-filter" *ngIf="display.filter">
          <div class="filter-item">
            <label>开始时间</label>
            <input
              type="text"
              DateTimePicker
              [format]="'yyyy年MM月dd日 HH:mm'"
              [startView]="DateTimePickerView.day"
              [minView]="DateTimePickerView.hour"
              [date]="filter.begin"
              (change)="changeBegin($event)"
              
            />
          </div>
          <div class="filter-item">
            <label>开始时间</label>
            <input
              type="text"
              DateTimePicker
              [format]="'yyyy年MM月dd日 HH:mm'"
              [startView]="DateTimePickerView.day"
              [minView]="DateTimePickerView.hour"
              [date]="filter.end"
              (change)="changeEnd($event)"
              
            />
          </div>
          <div class="filter-item">
            <label>行政区</label>
            <input type="text" />
          </div>
          <div class="filter-item">
            <label>投放点</label>
            <input type="text" />
          </div>
          <div class="filter-item">
            <label>摄像机</label>
            <input type="text" />
          </div>
        </div>
        <div class="table-content" [class.filter]="display.filter">
          
          <howell-event-record-table
            [type]="type"
            [filter]="filter"
            [search]="searchEvent"
            [count]="recordCount"
          >
          </howell-event-record-table>
        </div> -->
          <howell-event-record-details-table
            [type]="type"
            [count]="recordCount"
          >
          </howell-event-record-details-table>
        </mat-tab>
        <mat-tab label="总图表"> Content 2 </mat-tab>
        <mat-tab label="细分图表"> Content 3 </mat-tab>
        <mat-tab label="数据比较"> Content 4 </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
