<app-tab-title [title]="'垃圾落地'">
  <div>
    <mat-tab-group
      [disableRipple]="true"
      animationDuration="0ms"
      [color]="'transparent'"
    >
      <mat-tab label="事件">
        <!-- <app-video-player
          [url]="
            'ws://garbage01.51hws.com:8800/ws/video/howellps/live/00310101031111111000153000000000/1/2/live.H265?user=howell&password=123456'
          "
        ></app-video-player> -->

        <div>
          <label class="pull-left first">日期：</label>
          <input
            type="text"
            DateTimePicker
            [format]="'yyyy-MM-dd'"
            [date]="date"
            (changeDate)="changeDate($event)"
            style="width: calc(100% - 82px)"
            class="custom form-control m-l-10"
          />
        </div>
        <div>
          <app-input-search [placeholder]="'投放点名称'"></app-input-search>
        </div>
      </mat-tab>
      <mat-tab label="总图表"> Content 2 </mat-tab>
      <mat-tab label="细分图表"> Content 3 </mat-tab>
      <mat-tab label="数据比较"> Content 4 </mat-tab>
    </mat-tab-group>
  </div>
</app-tab-title>
