<div
  class="collection-map-route-control"
  [ngStyle]="{
    opacity: hasdata && !loading ? 1 : 0
  }"
>
  <div class="collection-map-route-control-chart">
    <div class="collection-map-route-control-chart-container" #container></div>
  </div>
  <div class="collection-map-route-control-operation">
    <div
      class="collection-map-route-control-operation-button"
      (click)="onrun()"
    >
      <i
        class="mdi"
        [ngClass]="{
          'mdi-pause': playing,
          'mdi-play': !playing
        }"
      ></i>
    </div>
    <div class="collection-map-route-control-operation-speed">
      <mat-slider
        [(ngModel)]="level"
        [color]="'primary'"
        [min]="0"
        [max]="6"
        aria-label="units"
        (mousewheel)="onmousewheel($event)"
      ></mat-slider>
      <div class="collection-map-route-control-operation-speed-value">
        x{{ speed }}
      </div>
    </div>
  </div>
</div>
<div class="nodata" *ngIf="!hasdata && !loading">暂无数据</div>
<div class="loading" *ngIf="loading"><mat-spinner></mat-spinner></div>
