<div class="garbage-collection-point horizontal-layout">
  <div class="horizontal-left">
    <div class="hw-simple-title" style="margin-bottom: 10px">区划列表</div>
    <div class="tree-container">
      <garbage-vehicle-division-tree
        [holdStatus]="true"
        (selectTreeNode)="selectTreeNode($event)"
      ></garbage-vehicle-division-tree>
    </div>
  </div>
  <div class="horizontal-right">
    <div class="vertical-layout">
      <div class="vertical-header">
        <div class="hw-simple-title">垃圾桶列表</div>
        <div class="operate-bar wrap">
          <div class="hw-normal-btn-group">
            <button
              class="hw-btn hw-green-btn"
              [disabled]="!enabled.add"
              (click)="tocreate()"
            >
              <i class="howell-icon-plus"></i>
              添加
            </button>
            <button
              class="hw-btn hw-red-btn"
              [disabled]="!enabled.delete"
              (click)="todelete()"
            >
              <i class="howell-icon-delete-bin"></i>
              删除
            </button>

            <upload-control
              (upload)="onupload($event)"
              [type]="FileReadType.ArrayBuffer"
              [accept]="'.xlsx'"
            >
              <button class="hw-btn hw-blue-btn">
                <i class="howell-icon-upload"></i>
                导入
              </button>
            </upload-control>

            <button class="hw-btn hw-cyan-btn" (click)="ondownload()">
              <i class="howell-icon-upload"></i>
              导出
            </button>
          </div>

          <div class="search-wrapper">
            <howell-simple-search
              placeHolder="收运点名称"
              (searchEvent)="onsearch($event)"
            ></howell-simple-search>
          </div>
        </div>
      </div>

      <div class="vertical-main">
        <aiop-garbage-collection-point-trashcan-table
          [args]="args"
          [load]="load"
          [(selected)]="selected"
          (update)="toupdate($event)"
        >
        </aiop-garbage-collection-point-trashcan-table>
      </div>
    </div>
  </div>
</div>
<!-- <garbage-collection-member-details-window [open]="open" (yes)="onyes($event)">
</garbage-collection-member-details-window> -->
<ng-container *ngIf="dialog.show">
  <howell-confirm-dialog
    (dialogMsgEvent)="ondelete($event)"
    [dialogModel]="dialog"
  >
  </howell-confirm-dialog>
</ng-container>
<garbage-collection-point-trashcan-details-window
  [open]="open"
  (yes)="onyes($event)"
>
</garbage-collection-point-trashcan-details-window>
