.video-setting {

  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: column;
  height: 100%;

  .btn-i {
    color: #616ABF;
    border: 1px solid #616ABF;
    background: rgba(47, 117, 202, 0.3);
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #cfd7ff;
    }
  }


  .video-setting-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .video-setting-ptz {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100px;
      height: 100px;
      align-content: stretch;




    }

    .video-setting-other {
      display: flex;
      justify-content: space-between;
      align-content: stretch;
      align-items: center;
      flex-wrap: wrap;
      width: 65px;
      height: 100px;
    }
  }

  .video-setting-stream {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65px;
  }

  .video-setting-speed {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .video-setting-preset-point-list {
    height: 100%;
  }
}
