<div class="deploy-map horizontal-layout">
  <ng-container *ngIf="window.location.show">
    <howell-confirm-dialog
      (dialogMsgEvent)="onlocation($event)"
      [dialogModel]="window.location"
    >
    </howell-confirm-dialog>
  </ng-container>
  <ng-container *ngIf="window.unbind.show">
    <howell-confirm-dialog
      (dialogMsgEvent)="onunbind($event)"
      [dialogModel]="window.unbind"
    >
    </howell-confirm-dialog>
  </ng-container>

  <!-- <ng-container *ngIf="window.bind.show">
    <howell-confirm-dialog
      (dialogMsgEvent)="onbind($event)"
      [dialogModel]="window.bind"
    >
    </howell-confirm-dialog>
  </ng-container> -->

  <ng-container *ngIf="window.coordinate.show">
    <app-window
      [Model]="window.coordinate"
      *ngIf="window.coordinate.show"
      [style]="window.coordinate.style"
      [title]="window.coordinate.station?.Name"
    >
      <coordinate-manage
        [model]="window.coordinate.station"
        (ok)="onCoordinateDialogOk($event)"
        (cancel)="window.coordinate.show = false"
      ></coordinate-manage>
    </app-window>
  </ng-container>

  <div class="horizontal-left">
    <div class="hw-simple-title">投放点列表</div>
    <div class="tree-container">
      <howell-division-tree
        [showStation]="true"
        [holdStatus]="true"
        [showButtonIcon]="true"
        (selectTreeNode)="ontreeselected($event)"
        (buttonIconClickEvent)="ontreebutton($event)"
        [depth]="2"
        [showDepth]="0"
        [trigger]="treetrigger"
      >
      </howell-division-tree>
    </div>
  </div>
  <div class="horizontal-right vertical-layout">
    <div class="vertical-header">
      <div class="operate-bar" style="margin-top: 0">
        <div class="left-wrapper">
          <div class="hw-normal-btn-group">
            <button
              [class]="{
                'hw-blue-btn': !isDragging,
                'hw-green-btn': isDragging
              }"
              (click)="ondrag()"
            >
              拖拽
            </button>
            <button
              class="hw-red-btn"
              *ngIf="selected.point"
              (click)="window.unbind.show = true"
            >
              删除
            </button>

            <!-- <button class="hw-blue-btn">录入坐标</button> -->
          </div>
        </div>
        <div class="right-wrapper">
          {{ business.amap.mouse.lon }},
          {{ business.amap.mouse.lat }}
        </div>
      </div>
    </div>
    <div class="vertical-main">
      <iframe
        [src]="srcUrl"
        class="map"
        width="100%"
        height="100%"
        frameborder="0"
        #iframe
      >
      </iframe>
    </div>
  </div>
</div>
