<div class="deploy-map hw-horizontal-layout">
  <ng-container *ngIf="locationDialog">
    <howell-confirm-dialog
      (dialogMsgEvent)="locationDialogMsg($event)"
      [dialogModel]="locationModel"
    >
    </howell-confirm-dialog>
  </ng-container>
  <ng-container *ngIf="unbindDialog">
    <howell-confirm-dialog
      (dialogMsgEvent)="unbindDialogMsg($event)"
      [dialogModel]="unbindModel"
    >
    </howell-confirm-dialog>
  </ng-container>

  <ng-container *ngIf="bindDialog">
    <howell-confirm-dialog
      (dialogMsgEvent)="bindDialogMsg($event)"
      [dialogModel]="bindModel"
    >
    </howell-confirm-dialog>
  </ng-container>

  <ng-container *ngIf="showOperate">
    <toast-window>
      <coordinate-manage
        (closeEvent)="coordinateDialogMsg($event)"
        [title]="operateTitle"
      ></coordinate-manage>
    </toast-window>
  </ng-container>

  <div class="horizontal-left">
    <div class="hw-simple-title">投放点列表</div>
    <div class="tree-container">
      <howell-division-tree
        [showStation]="true"
        [holdStatus]="true"
        [showButtonIcon]="true"
        (selectTreeNode)="selectTreeNode($event)"
        (buttonIconClickEvent)="buttonIconClick($event)"
      >
      </howell-division-tree>
    </div>
  </div>
  <div class="horizontal-right vertical-layout">
    <div class="vertical-header">
      <div class="operate-bar" style="margin-top: 0">
        <div class="left-wrapper">
          <div class="hw-normal-btn-group">
            <button
              [class]="{
                'hw-blue-btn': !isDragging,
                'hw-green-btn': isDragging
              }"
              (click)="dragPoint()"
            >
              拖拽
            </button>
            <button class="hw-red-btn" *ngIf="point" (click)="unlinkClicked()">
              删除
            </button>

            <!-- <button class="hw-blue-btn">录入坐标</button> -->
          </div>
        </div>
        <div class="right-wrapper">
          <input type="text" [value]="mouseLon" />
          <input type="text" [value]="mouseLat" />
          <select [(ngModel)]="gisType">
            <option [ngValue]="GisType.GCJ02">火星坐标系</option>
            <option [ngValue]="GisType.BD09">百度坐标系</option>
            <option [ngValue]="GisType.WGS84">地心坐标系</option>
          </select>
        </div>
      </div>
    </div>
    <div class="vertical-main">
      <iframe
        [src]="srcUrl"
        class="map"
        width="100%"
        height="100%"
        frameborder="0"
        #iframe
      >
      </iframe>
    </div>
  </div>
</div>
