.deploy-map {
  .hw-simple-title {
    margin-bottom: 10px;
  }
  .operate-bar {
    .right-wrapper {
      input {
        background-color: transparent;
        text-align: right;
        border: none;
        color: white;
        width: 140px;
      }
    }
  }
}

iframe {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #0c1127;
}

.hw-normal-btn-group button {
  padding: 0 20px;
}
