<div class="coordinate-manage">
  <div class="form-group">
    <div class="form-item">
      <div class="form-item-title">坐标系：</div>
      <div class="form-item-value">
        <select [(ngModel)]="gis.GisType">
          <option [ngValue]="GisType.GCJ02">GCJ02</option>
          <option [ngValue]="GisType.BD09">BD09</option>
          <option [ngValue]="GisType.WGS84">WGS84</option>
        </select>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title">经度：</div>
      <div class="form-item-value">
        <input type="text" [(ngModel)]="gis.Longitude" />
      </div>
    </div>

    <div class="form-item">
      <div class="form-item-title">纬度：</div>
      <div class="form-item-value">
        <input type="text" [(ngModel)]="gis.Latitude" />
      </div>
    </div>
  </div>
  <div class="hw-middle-btn-group">
    <button class="hw-green-m-btn" type="button" (click)="onok()">
      <i class="howell-icon-Check"></i>
    </button>

    <button class="hw-gray-m-btn" type="button" (click)="oncancel()">
      <i class="howell-icon-Close"></i>
    </button>
  </div>
</div>
