<div class="coordinate-manage">
  <div class="hw-simple-title" style="margin-bottom: 20px; text-align: center">
    陕北测试
  </div>
  <form class="hw-form">
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label"> 经度 </span>
      </div>
      <div class="content">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="hw-form-group">
      <div class="title">
        <span class="hw-form-label"> 纬度经度 </span>
      </div>
      <div class="content">
        <input type="text" class="form-control" />
      </div>
    </div>
  </form>
  <div class="hw-middle-btn-group">
    <button class="hw-green-m-btn" type="button" (click)="onSubmit()">
      <i class="howell-icon-Check"></i>
    </button>

    <button class="hw-gray-m-btn" type="button" (click)="onReset()">
      <i class="howell-icon-Close"></i>
    </button>
  </div>
</div>
