.coordinate-manage {
  width: 400px;
  height: 250px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.hw-form {
  .hw-form-group {
    flex-basis: 100%;

    justify-content: center;
    .title {
      text-align: right;
    }
    .content {
      flex-basis: 75%;
    }
  }
}
