<div class="garbage-station-weight-list">
  <div class="garbage-station-weight-list-head">
    <div class="head-filter">
      <div class="head-filter-item">
        <div class="head-filter-item-title">选择日期</div>
        <div class="head-filter-item-value">
          <input
            type="text"
            DateTimePicker
            [(date)]="args.date"
            [format]="dateArgs.format"
            class="custom form-control time"
            [startView]="dateArgs.view"
            [minView]="dateArgs.view"
            [week]="dateArgs.isweek"
            (dateChange)="onchange()"
          />
        </div>
      </div>
      <div class="head-filter-item">
        <div class="head-filter-item-title three">行政区</div>
        <div class="head-filter-item-value three">
          <select [(ngModel)]="selected.type">
            <option
              [ngValue]="UserResourceType.County"
              *ngIf="resourceType === UserResourceType.City"
            >
              {{ Language.UserResourceType(UserResourceType.County) }}
            </option>
            <option [ngValue]="UserResourceType.Committees">
              {{ Language.UserResourceType(UserResourceType.Committees) }}
            </option>
            <option [ngValue]="UserResourceType.Station">
              {{ Language.UserResourceType(UserResourceType.Station) }}
            </option>
          </select>
        </div>
      </div>
      <div class="head-filter-item" *ngIf="selected.child !== selected.type">
        <div class="head-filter-item-title two">筛选</div>
        <div class="head-filter-item-value two">
          <select [(ngModel)]="selected.division" (change)="onfilter()">
            <option [ngValue]="undefined">请选择</option>
            <option [ngValue]="item" *ngFor="let item of source">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button class="hw-blue-btn m-r-10" (click)="onsearch()">
          <i class="mdi mdi-magnify"></i> 查询
        </button>
        <button class="hw-blue-btn m-r-10" (click)="onexcel()">
          <i class="howell-icon-export"></i> 导出
        </button>
        <button class="hw-blue-btn" (click)="oncsv()">
          <i class="howell-icon-export"></i> CSV
        </button>
      </div>
    </div>
    <div class="head-search">
      <select [(ngModel)]="args.unit" (change)="onchange()">
        <option [ngValue]="TimeUnit.Day">
          {{ Language.TimeUnit(TimeUnit.Day) }}
        </option>
        <option [ngValue]="TimeUnit.Week">
          {{ Language.TimeUnit(TimeUnit.Week) }}
        </option>
        <option [ngValue]="TimeUnit.Month">
          {{ Language.TimeUnit(TimeUnit.Month) }}
        </option>
      </select>
    </div>
  </div>
  <div class="garbage-station-weight-list-body">
    <garbage-station-weight-table
      [isinit]="false"
      [load]="load"
      [args]="args"
      [excel]="excel"
      [csv]="csv"
    ></garbage-station-weight-table>
  </div>
</div>
