.garbage-station-weight-list {
  height: 100%;

  @head-height: calc(50px);

  &-head {
    height: @head-height;
    display: flex;
    justify-content: space-between;

    .filter-item-value.division {
      &.division {
        width: 250px;
      }
    }
  }

  &-body {
    height: calc(100% - @head-height);
  }
}
