<div class="search-wrap">
  <hw-select [(selected)]="key">
    <select [(ngModel)]="key">
      <option [ngValue]="Key.name">
        {{ Language.SearchOption(Key.name) }}
      </option>
      <option [ngValue]="Key.community">
        {{ Language.SearchOption(Key.community) }}
      </option>
    </select>
  </hw-select>
  <input
    type="text"
    #input
    [placeholder]="placeholder"
    class="custom form-control"
    (focus)="focus($event)"
    [(ngModel)]="searctText"
  />
  <!-- [formControl]="searchInput" -->
  <!-- [(ngModel)]="searctText" -->
  <button type="button" #searchBtn>
    <i class="mdi mdi-magnify"></i>
  </button>
</div>
