.ai-garbage-station-device-table {
  height: 100%;

  @footer-height: 50px;

  &-main {
    height: calc(100%);
    min-height: 622px;
  }

  .body {
    height: calc(100% - @footer-height);

    table {
      tbody {
        tr {
          height: 56px;
        }
      }
    }

    .operation {
      width: 100%;
      justify-content: center;
    }

    .states {
      display: flex;
      justify-content: center;
      align-items: center;

      &>div {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        &>i {
          color: inherit;
        }
      }
    }
  }

  .footer {
    height: @footer-height;
    position: unset;
    overflow: hidden;

    .page {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: end;
      align-items: flex-end;

      ::ng-deep {
        &>.custom-pagination {
          position: unset;
        }
      }
    }
  }
}
