.aiop-garbage-station-cameras-table {
  height: 100%;
  width: 100%;

  table {
    width: 100%;
    table-layout: fixed;

    &>thead {
      background-color: rgba(58, 147, 255, 0.6);
      color: white
    }

    &>tbody {


      td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    tr {
      height: 30px;



      &>td {
        &.center {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.operation {
          color: #7586e0;

          &>* {
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              color: white;
            }
          }
        }

        &:first-child {
          padding-left: 20px;
        }
      }
    }


  }

  .content {
    height: calc(100% - 30px);
    overflow-y: scroll;
    width: calc(100% + 6px);
    padding-right: 2px;
  }

}
