.map-control {
  &-buttons-3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    gap: 6px;


    .font {
      font-size: 12px;
    }



    .station-drop {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 3px;

      &-time {
        display: none;

      }

      &:hover {
        .station-drop-time {
          display: flex;
        }

      }
    }
  }





}
